@CHARSET "UTF-8";

textarea {
    resize: none;
}

#ricerca {
    /*border:1px solid black;  */
    width: 830px;
}

#datiRicerca {
    border: 1px solid #666666;
    margin: 0px;
    padding: 0px;
    width: 230px;
    float: left;
}

#risultoRicerca {
    width: 590px;
    float: left;
}

#testoLingua {
    margin: 0px;
    padding: 0px;
    float: left;
}
/*COLLAPSE*/
.alberoCategorie,
.alberoCategorie .page_collapsible,
.alberoCategorie .collapsible{
    width: 100%;
}

.alberoCategorie .collapsible,
.alberoCategorie .page_collapsible,
.alberoCategorie .collapsibleCat{
    margin: 0;
    margin-bottom: 4px;
    padding: 10px;
    height: 1.3em;
    border-top: #f0f0f0 1px solid;
    background: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 1em;
    font-weight: bold;
}

.alberoCategorie div.content p {
    background: #EBEBEB;
}

.alberoCategorie div.content {
    background: #fff;
    padding: 0;
    margin: 0px 0px 0px 10px;
    font-size: .9em;
    line-height: 1.3em;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.descrizioniCatalogo span {
    background: #fff;
    padding: 0;
    margin: 0px 0px 0px 10px;
    font-size: 10em;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#descrizioneMultiLingua,#descrizioneMultiLinguaR, #testoLingua {
    width: 100%;
    margin: 10px 0px;
}

#datiRicerca #navigation {
    width: 215px;
}

#datiRicerca #content {
    width: 230px;
}

#descrizioneMultiLinguaR #navigation, #descrizioneMultiLinguaR #content,
#descrizioneMultiLingua #navigation,#descrizioneMultiLingua #content,
#testoLingua #navigation,#testoLingua #content,
#datiRicerca #navigation,#datiRicerca #content
{
    float: left;
    margin: 10px;
}

#descrizioneMultiLingua .collapsible,#descrizioneMultiLingua .page_collapsible,
#descrizioneMultiLinguaR .collapsibleR , #descrizioneMultiLinguaR .page_collapsibleR,
#testoLingua .collapsible, #testoLingua .page_collapsible
{
    width: 98%;
}

#datiRicerca .collapsible,#datiRicerca .page_collapsible {
    width: 200px;
}

#descrizioneMultiLingua .collapsible,
#descrizioneMultiLinguaR .collapsibleR,
#descrizioneMultiLingua .collapsibleCat,
#descrizioneMultiLingua .page_collapsible, 
#descrizioneMultiLinguaR .page_collapsibleR,
#testoLingua .collapsible,
#testoLingua .page_collapsible,
#datiRicerca .collapsible,
#datiRicerca .page_collapsible
{
    margin: 0;
    margin-bottom: 4px;
    padding: 10px;
    height: auto;
    max-height: 40px;
    min-height: 25px;
    border-top: #f0f0f0 1px solid;
    background: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 1em;
    font-weight: bold;
}

.alberoCategorie .collapse-open,
#descrizioneMultiLingua .collapse-open,
#descrizioneMultiLinguaR .collapse-open ,
#testoLingua .collapse-open,
#datiRicerca .collapse-open
{
    background: #666666;
    color: #fff;
}

.alberoCategorie .collapse-open span,
#descrizioneMultiLingua .collapse-open span, 
#descrizioneMultiLinguaR .collapse-open span,
#testoLingua .collapse-open span,
#datiRicerca .collapse-open span
{
    background: url(/images/expo2015/freccia_giu_bianco.png) center center
        no-repeat;
    display: block;
    float: right;
    padding: 10px;
    width: 13px;
    padding-top: 5px;
}

.alberoCategorie .collapse-close,
#descrizioneMultiLingua .collapse-close, 
#descrizioneMultiLinguaR .collapse-close,
#testoLingua .collapse-close,
#datiRicerca .collapse-close
{
    background: #EBEBEB;
    color: #888888;
}

.alberoCategorie .collapse-close span,
#descrizioneMultiLingua .collapse-close span, 
#descrizioneMultiLinguaR .collapse-close span,
#testoLingua .collapse-close span,
#datiRicerca .collapse-close span
{
    display: block;
    float: right;
    background: url(/images/expo2015/freccia_destra_grigio.png) center
        center no-repeat;
    padding: 10px;
    width: 13px;
    padding-top: 5px;
}

#descrizioneMultiLingua div.container,
#descrizioneMultiLinguaR div.container,
#testoLingua div.container {
    padding: 0;
    margin: 0;
}

#datiRicerca div.container {
    padding: 0;
    margin: 0;
    width: 200px;
}

#descrizioneMultiLingua div.content, 
#descrizioneMultiLinguaR div.content,
#testoLingua div.content,
#datiRicerca div.content
{
    background: #fff;
    margin: 0;
    padding: 10px;
    font-size: .9em;
    line-height: 1.5em;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#testoLingua code,#datiRicerca code {
    overflow: auto;
}

/*FINE COLLPSE*/
#coprente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background: rgba(0, 0, 0, 0.5);
    -ms-filter:
        "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    display: none;
    z-index: 10;
}

#coprente a {
    color: #666666;
}

#coprente a:hover,#coprente a:active {
    color: #c10a1e;
}

#box_popup {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 90%;
    height: 75%;
    background: #FFF;
    z-index: 11;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #26ACE2;
}

.coprente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.coprente a {
    color: #666666;
}

.coprente a:hover,.coprente a:active {
    color: #c10a1e;
}

#box_uploadfile {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 90%;
    height: 75%;
    background: #FFF;
    z-index: 11;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #26ACE2;
}

#close {
    position: absolute;
    top: 11%;
    right: 12%;
    width: 70px;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    z-index: 12;
    cursor: pointer;
}

.lineTable {
    background: #EBEBEB;
}

.navPage div,.navPage div input {
    background: #26ACE2;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: right;
    padding-right: 5px;
    font-size: 1em;
    color: #FFF;
}

.navPage div a {
    color: #FFF;
}

.navPage div img {
    vertical-align: middle;
}

#contenetPages {
    float: none;
    height: auto;
    width: 100%;
}

#tabella_elenchi {
    width: 790px;
}

#tabella_elenchi tr th {
    color: #FFF;
}

#tabella_elenchi tr td {
    border-bottom: 1px solid #676763;
    height: 30px;
}

#tabella_elenchi tr th.tdHeaderText {
    color: #26ACE2;
    font-size: 1.2em;
    height: 30px;
    border-bottom: 0px;
}
.tdHeader {
    height: 30px;
    border-bottom: 0px;
    background: #26ACE2;
    border-right: 5px solid #FFF;
}

.tdHeaderEnd {
    height: 30px;
    border-bottom: 0px;
    background: #26ACE2;
    text-align: center;
    padding-left: 10px;
}

.tdHeaderEnd a,.tdHeader a {
    color: #FFF;
}

.buttonsLista {
    text-align: left;
}

#dx-no-social .ui-widget-content {
    background-color: #FFFFFF;
    color: #222222;
    border: 0px;
    color: #666666;
    font-size: 1em;
}
#dx-no-social .ui-tabs .ui-tabs-nav li {
    border-bottom-width:0;
    border-left: 2px solid #FFF;
    float:left;
    list-style:none;
    margin:-2px 0.3em 0 -2px;
    padding:0;
    position:relative;
    top:0;
    white-space:nowrap;
}
#dx-no-social .ui-tabs .ui-tabs-nav li a {
    float:left;
    font-size: 1.1em;
    padding:0.5em 1em;
    text-decoration:none;
}
#dx-no-social .ui-widget-header {
    background-color: #ebebeb;
    background-image: none;
    border: 0;
    margin: 0px;
    font-weight: bold;
}

#dx-no-social .ui-state-default,#dx-no-social .ui-widget-content .ui-state-default,#dx-no-social .ui-widget-header .ui-state-default
{
    background-color: #ebebeb;
    background-image: none;
    border: 0px;
    color: #212121;
    font-weight: bold;
    height: 52px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

#dx-no-social .ui-state-default a,#dx-no-social .ui-state-default a:link,#dx-no-social .ui-state-default a:visited
{
    color: #555555;
    height: 39px;
    text-decoration: none;
    text-align: center;
}

#dx-no-social .ui-state-active,#dx-no-social .ui-widget-content .ui-state-active,#dx-no-social .ui-widget-header .ui-state-active
{
    /*background-color: #00aeef;*/
    /*background-image: none;*/
    border: 0px;
    color: #999;
    font-weight: bold;
    text-decoration: underline;
}

#dx-no-social .ui-state-active a,#dx-no-social .ui-state-active a:link,#dx-no-social .ui-state-active a:visited
{
    /*background-color: #00aeef;*/
    color: #00aeef;
    text-decoration: underline;
}

#dx-no-social .ui-corner-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

img[name="iconaInfo"] {
    margin-left: 5px;
}

.collapsibleCat a.tooltip,a.tooltip {
    outline: none;
    position: absolute
}

.collapsibleCat a.tooltip img,a.tooltip img {
    vertical-align: middle;
}

.collapsibleCat a.tooltip strong,a.tooltip strong {
    line-height: 30px;
}

.collapsibleCat a.tooltip:hover,a.tooltip:hover {
    text-decoration: none;
}

.collapsibleCat a.tooltip div,a.tooltip span {
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 240px;
    height: auto;
    line-height: 16px;
    font-size: 0.8em;
}

.collapsibleCat a.tooltip:hover div,a.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
    z-index: 100;
}

.callout {
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

/*CSS3 extras*/
.collapsibleCat a.tooltip div,a.tooltip span {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
.preLogin {
    margin-top: 50px;
    font-size: 1.3em;
    
}
.preLogin b {
    color: #6E6E6E;

}
.preLogin input {
    border: 1px solid #000;
}
.preLogin .testoRed {
    color: #c10a1e;
    font-weight: normal;
}
.preLogin span {
    color: #6E6E6E;
    margin-left: 90px;
    font-weight: bold;
}
.preLogin a{
    color: #6E6E6E;
    margin-left: 90px;
    font-weight: bold;
    
}

.procedi  {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	text-align: left;
	width: 70%;
	}

.procedi a{
    /*color: #6E6E6E;*/
    color: red;
    font-weight: bold;
    
    
}

#questionario td{
	padding: 3px;
}

#contentLogin div {
    width: 420px;
    float: left;
    margin-left: 5px;
}

.boxLogin {
    margin-right: 50px;
}



.boxBlu {
    background: #26ACE2;
    width: 95%;
    color: #FFF;
    font-size: 1.66em;
    padding: 10px;
    margin-left: 1%;
}

.box2formEmail {
    margin-left: 10%;
    background: #26ACE2;
    width: 75%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 0px;
}

.box2formEmail input {
    margin-top: 30px;
    margin-bottom: 30px;
}

.box2formModuli {
    margin-left: 10%;
    background: #26ACE2;
    width: 50%;
    line-height: 30px;
    padding-left: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box2formModuli {
    line-height: 0px;
}

.box2formEmail div label,.box2formModuli div label {
    line-height: 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.33em;
}

.boxLoginSfondo {
    background: #26ACE2;
}

#loginForm div {
    font-weight: bold;
    color: #FFF;
    font-size: 1.5em;
}

#loginForm div {
    margin-left: 70px;
    text-align: left;
    width: auto;
    line-height: 25px;
}

.box2formEmail input,.box2formModuli div input,#loginForm div input {
    border: 1px solid #666666;
}

#loginCard div {
    font-weight: bold;
    color: #FFF;
    font-size: 1.5em;
    text-align: center;
}

#loginForm,#loginCard {
    height: 150px;
    margin: 0px;
    padding: 10px;
}

#contentLogin table tr td h3 {
    padding-left: 10px;
}

#contentLogin table tr td {
    line-height: 35px;
    padding: 0px;
}

#footerForm {
    margin-top: 15px;
}

.boxSmartCard {
    text-align: center;  
    width: 80%;
    color: #666;
    background: #FFF;
    padding: 1px 25px 1px 25px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
}

.boxConLog {
    text-align: center;  
    color: #666;
    width: 560px;
    background: #FFF;
    padding: 1px 25px 1px 25px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
}

.boxConLog #footerForm .buttonLogin,
.boxSmartCard #footerForm .buttonLogin {
    font-size: 1em;
}
.boxConLog .form_label,
.boxSmartCard .form_label{
    float: left;
    margin-left: 5%;
    width: 210px;
    text-align: left;
}

#footerForm,#contentLogin .buttonLogin {
    width: 100%;
    text-align: center;
}

#footerForm input,#footerForm .buttonLogin,#contentLogin  .buttonLogin a,#contentLogin  .buttonLogin a:hover
{
    padding: 1px 25px 1px 25px;
    text-decoration: none;
    background: #c10a1e;
    font-size: 1.25em;
    font-weight: bold;
    color: #FFF;
}
#tabs {
    margin-left: 10px; 
}
#companies {
    margin-left: 15px;
}
#companies  .certificazioni {
    margin-left: -25px;
    padding: 0px;
    width: 100%;
}
#companies  .certificazioni p{
    background: #EBEBEB;
    width: 95%;
}

#companies .pSfondo {
    margin-left: 0px;
    width: 92.5%;
}
#companies .pSfondo img{
    float: right;
    margin: 2px;
}
#tabs h4{
    font-size: 1.2em;
    margin-left: -15px;
}
#companies h4{
    margin-left: -15px;
}

#listdellecategorie {
    margin-left: -15px;
}
#listadellecategorie {
    margin-left: -15px;
    width: 98%;
}
#companies input[type='checkbox'] {
    margin-left: 0px;
}
.containerData {
    /*padding: 5px;*/
    margin-left: -40px;
    margin-right: 5px;
}
.containerDataCheck {
    margin-left: -45px;
    margin-right: 5px;
}

.containerDataCheck th,
.containerData th {
    line-height: 25px;
}

#logoImg {
    float: right;
    margin: 10px
}

#login,#login a {
    font: helvetica;
    font-size: 1em;
    color: #666;
}

#login strong {
    font-size: 1.25em;
}

.inputsmart input {
    font: helvetica;
    font-size: 1em;
    color: #666;
}

.inputsmart span {
    font: helvetica;
    font-size: 1em;
    color: #fff;
}

.pSfondo {
    background: #EBEBEB;
}

p:not (#foo) >input[type='checkbox'] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

input[type='checkbox']+label {
    cursor: pointer; /* Imposta il cursore per le label */
    padding: 0 0 0 0px;
    /* Padding a sinistra per rendere il controllo cliccabile */
    margin: 0 0 0 0px;
    /* Margine a destra per posizionare al meglio il controllo */
    position: relative;
    /* Creiamo un contesto di posizionamento per il contenuto generato */
}

p:not (#foo) >input[type='checkbox']+label:before {
    /* Contenuto generato per le label associate ai checkbox */
    content: "";
    width: 11px;
    height: 11px;
    border: solid 1px #676763;
    background: #fff;
    cursor: pointer;
    position: absolute;
    /* Posizioniamo il contenuto generato rispetto alla label */
    top: 2px; /* Spostamento verticale */
    left: 0px; /* Spostamento orizzontale */
    margin: 0px;
}

input[type='checkbox']:disabled+label {
    cursor: text; /* Imposta il cursore per le label */
    padding: 0 0 0 0;
    /* Padding a sinistra per rendere il controllo cliccabile */
    margin: 0 0 0 0;
    /* Margine a destra per posizionare al meglio il controllo */
    position: relative;
    /* Creiamo un contesto di posizionamento per il contenuto generato */
    color: #b3b3b3;
}

p:not (#foo) >input[type='checkbox']:disabled+label:before {
    /* Contenuto generato per le label associate ai checkbox */
    content: "";
    width: 11px;
    height: 11px;
    border: solid 1px #b3b3b3;
    cursor: text;
    position: absolute;
    /* Posizioniamo il contenuto generato rispetto alla label */
    top: 2px; /* Spostamento verticale */
    left: 0px; /* Spostamento orizzontale */
    margin: 0px;
}

p:not (#foo) >input[type='checkbox']:checked+label:after {
    /* Segno di spunta dei checkbox e suo colore */
    content: "";
    background: #26ACE2;
    width: 9px;
    height: 9px;
    display: block;
    /* Display: block per centrare il segno di spunta orizzontalmente */
    position: absolute;
    /* Posizioniamo il segno di spunta rispetto alla label */
    top: 4px;
    left: 2px;
    margin: 0px; /* Centriamo orizzontalmente il segno di spunta */
}

h4 {
    color: #26ACE2;
    border-bottom: 1px solid #26ACE2;
    width: 98%;
}

input[type="submit"],input[type="button"] {
    cursor: pointer;
}
#dx-no-social .buttonRedText,
#dx-no-social .buttonRedText:link {
    color: #c10a1e;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px 0px 0px 0px;
    font-size: 1.9em;
    margin-right: 5px;
    border: 0px;
    text-decoration: none;
}

#dx-no-social .buttonGreyText,
#dx-no-social .buttonGreyText:link {
    color: #767171;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px 0px 0px 0px;
    font-size: 1.9em;
    margin-right: 5px;
    border: 0px;
    text-decoration: none;
}
input[type="submit"],input[type="button"],#boxfaq .buttonRed,#dx-no-social .buttonRed,#dx-no-social p .buttonRed,#dx-no-social p .buttonRed:hover,#dx-no-social td .buttonRed,#dx-no-social td .buttonRed:hover,#dx-no-social div .buttonRed,#dx-no-social div .buttonRed:hover,#dx-no-social ul li .buttonRed,#dx-no-social ul li .buttonRed:hover
{
    background: #c10a1e;
    color: #FFF;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    font-size: 0.8em;
    margin-right: 5px;
    border: 0px;
    text-decoration: none;
}

input[type="submit"],input[type="button"],#boxfaq .buttonGrey,#dx-no-social .buttonGrey,#dx-no-social p .buttonGrey,#dx-no-social p .buttonGrey:hover,#dx-no-social td .buttonGrey,#dx-no-social td .buttonGrey:hover,#dx-no-social div .buttonGrey,#dx-no-social div .buttonGrey:hover,#dx-no-social ul li .buttonGrey,#dx-no-social ul li .buttonGrey:hover
{
    background: #767171;
    color: #FFF;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    font-size: 0.8em;
    margin-right: 5px;
    border: 0px;
    text-decoration: none;
}

#dx-no-social td .buttonRedLog,#dx-no-social td .buttonRedLog:hover {
    background: #c10a1e;
    color: #FFF;
    font-weight: bold;
    padding: 2px;
    font-size: 0.91em;
    margin-right: 5px;
    border: 0px;
    text-decoration: none;
}
.ulLingue {
    margin: 0px;
    padding: 0px;
}
.divLingue {
    background: #EBEBEB;
    padding: 5px;
    float: none;
    margin-right: 5px;
    margin-top: 5px;
    width: 400px;
}
.divLingue img {
    float: right;
}

.ulReti {
    margin: 0px;
    padding: 0px;
}
.divImpReti {
    background: #EBEBEB;
    padding: 5px;
    float: none;
    margin-right: 5px;
    margin-top: 5px;
    width: 500px;
}

.divImpRetiCapog{
	background: #10CEDB;
    padding: 5px;
    float: none;
    margin-right: 5px;
    margin-top: 5px;
    width: 500px;
}

.divImpReti img {
    float: right;
}

.divReti {
    background: #EBEBEB;
    padding: 5px;
    float: none;
    margin-right: 5px;
    margin-top: 5px;
    width: 300px;
}
.divReti img {
    float: right;
}

#retiImprese {
    width: 500px;
}

.divCategorie {
    /* background: #EBEBEB;*/
    margin: 0px;
    padding: 0px;
}

.divAssociazioni {
    background: #EBEBEB;
    padding: 5px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.divAssociazioni a {

}

.imgInfo {
    width: 16px;
}

.textLineBlu {
    font-weight: bold;
    color: #26ACE2;
    line-height: 30px;
}

/*modificato il 30/09/2013*/
.divBoxAnteprima {
    width: 100%;
}

#close {
    position: static;
    margin-top: 30px;
    right: 12%;
    width: 70px;
    font-size: 0.83em;
    font-weight: bold;
    z-index: 12;
    cursor: pointer;
}
.contentHeader{
    float: none;
    width: 100%;
    height: 60px;
    text-align: right;
    margin-top: -10px;
    padding: 0px;
}

.divClose {
    float: right;
    width: 100%;
    font-size: 0.83em;
    font-weight: bold;
    z-index: 12;
    text-decoration: none;
    color: #c10a1e;
}
#coprente_upload .divClose a,
#coprente .divClose a {
    font-size: 1.8em;
    color: #c10a1e;
    font-weight: bold;
    text-decoration: none;

}

.divGestioneCategorie {
    text-align: left;
    width: 100%
}

#errorLogin {
    font-size: 1.66em;
    font-weight: bold;
    color: #c10a1e;
}

#topStatoContenuti .titoloStato {
    color: #26ACE2;
    font-size: 1.08em;
    font-weight: bold;
}

#topStatoContenuti img,#topStatoContenuti b {
    vertical-align: middle;
}

#topStatoContenuti .testoStato {
    color: #26ACE2;
    font-size: 1.08em;
}

#topStatoContenuti .testoStatoRed {
    color: #c10a1e;
    font-size: 1.08em;
}

.boxBianco {
    background-color: white;
    color: #c10a1e;
    width: 103%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 110;
    font-size: 1.16em;
    text-align: center;
    font-weight: bold;
}

#divSfondoLegenda {
    background: #666666;
    color: #FFF;
    padding: 5px;
    width: 96%;
    float: none;
}

#divSfondoLegenda table {
    border-collapse: inherit;
}

.tdLegendaT {
    vertical-align: middle;
    height: 40px;
    font-weight: bold;
}

.tdLegenda {
    width: 22%;
    padding: 0px;
}

.tdLegendaText {

}

#sedeLegaleDiv  {
     width: 100%; 
     margin: auto;
}

#sedeLegaleDiv label {
    font-weight: normal;
}

#sedeLegaleDiv td{
	padding: 5px 0px;
	padding-right: 10px;
	
	width:33%;
}

#sedeLegaleDiv td >input, select{
	width:100%;
}

#sedeLegaleDiv > td >select{
	width:100%;
}

#sedeLegaleDiv strong {
    font-size: 1.2em;
    margin-left: -15px;
    padding: 0px;
}

.divLegendaG {
    background: url(/tmpl/expo2015/catalogo/images/corpoFrecciaGrigia.png)
        repeat-x;
    height: 30px;
    font-weight: bold;
    float: left;
    margin: 0px;
    padding: 0px;
    line-height: 30px;
}

.divLegendaG span {
    vertical-align: middle;
    padding-left: 5px;
    line-height: 30px;
}

.divLegendaG img {
    float: left;
    width: 16px;
    padding: 7px 5px;
    vertical-align: middle;
}

.divLegendaA {
    background: transparent
        url(/tmpl/expo2015/catalogo/images/corpoFrecciaAzzurra.png) repeat-x
        bottom;
    height: 30px;
    width: 95%;
    font-weight: bold;
    float: left;
    color: #FFF;
    vertical-align: middle;
    line-height: 30px;
}

.tdLegendaImg {
    width: 65px;
    /** border: 1px solid blue; */
    margin: 0px;
}

.imgLegendaL {
    float: left;
    width: 30px;
}

.item {
    width: 920px;
    height: 600px;
    margin: 10px 12px 10px 5px;
    overflow: hidden;
    position: relative;
    float: left;
}

.item img {
    border: 0;
    position: absolute;
}

.item .box1 {
    padding: 5px;
    width: 500px;
    height: 115px;
    position: absolute;
    left: 400px;
    top: 10px;
    color: #fff;
    background: #014d7f;
    font-size: 1.2em;
    line-height: 27px;
}

.item .box4,.item .box5,.item .box6,.item .box7,.item .box8,.item .box9
{
    color: #014d7f;
    font-size: 1.15em;
    font-weight: bold;
    line-height: 15px;
    position: absolute;
    left: 430px;
    vertical-align: middle;
}

.item .box4 div,.item .box5 div,.item .box6 div,.item .box7 div,.item .box8 div,.item .box9 div
{
    padding: 5px 5px 5px 35px;
    width: 440px;
    filter: alpha(opacity = 92);
    -moz-opacity: 0.9;
    opacity: 0.9;
    background: #FFF;
}

.item .imgNum {
    position: absolute;
    left: -25px;
    top: -4px;
    width: 55px;
    z-index: 2;
}

.item .imgNumHeight {
    position: absolute;
    left: -25px;
    top: 4px;
    width: 55px;
    z-index: 2;
}

.item .box4 div,.item .box5 div,.item .box7 div {
    height: 40px;
}

.item .box9 div {
	height: 45px;
}

.item .box6 div,.item .box8 div {
    height: 60px;
}

.item .box4 {
    top: 150px;
}

.item .box5 {
    top: 210px;
}

.item .box6 {
    top: 270px;
}

.item .box7 {
    top: 350px;
}

.item .box8 {
    top: 410px;
}

.item .box9 {
    top: 490px;
}

.item .box2 {
    padding: 5px;
    width: 380px;
    height: 60px;
    position: absolute;
    left: 1px;
    top: 250px;
    color: #fff;
    background: #014d7f;
    font-size: 0.9em;
    line-height: 25px;
}

.item .box3 {
    padding: 5px;
    width: 560px;
    height: 38px;
    position: absolute;
    left: 200px;
    bottom: 0;
    color: #fff;
    background: #014d7f;
    font-size: 1.5em;
    line-height: 35px;
    text-align: center;
}

.item .box1 span {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 5px;
}

.item .box2 span {
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 5px;
    float: right;
}

.item .box3 a,.item .box3 a:focus,.item .box3 a:hover {
    cursor: pointer;
    font-size: 1em;
    text-decoration: underline;
    color: #fff;
}

.upload-file-container {
    background-image: url('/images/expo2015/sfoglia.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 23px;
}

.upload-file-container_edit {
    background-image: url('/images/expo2015/sfoglia_editgr.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 23px;
    float: left;
    //border: 1px outset white;
    cursor: pointer;
}
.upload-file-container_edit:hover {
    height: 23px;
    width: 80px;
    //border: 1px inset black;
    cursor: pointer;
}

.viewfile {
    background-color: #dddddd;
    height: 23px;
    color: #000;
    width: 250px;
    padding-left: 10px;
    border: 1px solid black;
    padding-top: 2px;
    float: left;
    margin-left: 10px
}

.linkColor {
    color: #000000;
}

.icondelete {
    margin-right: 0px;
}

.inputfileupload {
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    width: 230px;
    cursor: pointer;
    z-index: 10;
}

input[type="button"]:hover {
    border: 1px solid black;
}

input[type="button"] {
    border: 1px solid white;
}

.content textArea {
    width: 100%;
}

#selezioneFascia div {
    margin-left: 20px;
}

#boxfaq textarea {
    width: 95%;
}

mappa {
    margin: 10px;
    padding: 0px;
}

#mappa ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#mappa li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li.mappa1 {
    margin: 0px;
    padding: 2px 0px 2px 2px;
    background-color: #ECEDEF;
    font-weight: bold;
    border-bottom: 1px solid #999;
}

li.mappa2 {
    margin: 0px;
    padding: 2px 0px 2px 2px;
    background-color: #FFFFFF;
}

li.mappa2dis {
    margin: 0px;
    padding: 2px 0px 2px 2px;
    background-color: #FFFFFF;
    background-color: #156C03;
}

li.mappa2sel {
    margin: 0px;
    padding: 2px 0px 2px 2px;
    background-color: #FFFFFF;
}

li.mappa3 {
    margin: 0px 0px;
    padding: 2px 0px 2px 2px;
    background-color: #FFFFFF;
}

li.mappa4 {
    margin: 0px 0px;
    padding: 2px 0px 2px 2px;
    background-color: #FFFFFF;
}

li.mappa1G {
    margin: 0px;
    padding: 2px 0px 2px 2px;
    background-color: #ffe88c;
    font-weight: bold;
}

li.mappa2G {
    margin: 0px;
    padding: 2px 0px 2px 2px;
    background-color: #FFFFFF;
}

li.mappa3G {
    margin: 0px 0px;
    padding: 2px 0px 2px 2px;
    background-color: #FFFFFF;
}

li.mappa4G {
    margin: 0px 0px;
    padding: 2px 0px 2px 2px;
    background-color: #FFFFFF;
}

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
    min-width: 700px
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-itemRoot,.dd-item,.dd-empty,.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 35px;
    line-height: 15px;
}

.dd-handleRoot,.dd-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
    font-size: 13px;
}

.dd-handleRoot:hover,.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-itemRoot>button,.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-itemRoot>button:before,.dd-item>button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-itemRoot>button[data-action="collapse"]:before,.dd-item>button[data-action="collapse"]:before
{
    content: '-';
}

.dd-placeholder,.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent
        75%, #fff 75%, #fff),
        -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent
        75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%,
        #fff 75%, #fff),
        -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%,
        #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff
        75%, #fff),
        linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff
        75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

/**
 * Nestable Extras
 */
.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

#nestable-menu {
    padding: 0;
    margin: 20px 0;
}

@media only screen and (min-width: 700px) {
    .dd {
        float: left;
        width: 48%;
    }
    .dd+.dd {
        margin-left: 2%;
    }
}

.dd-hover>.dd-handle {
    background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */
.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    text-align: left;
    font-size: 10px;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd3-content:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-handleRoot img,.dd3-content img {
    margin-left: 5px;
    vertical-align: middle;
}

.dd-dragel>.dd3-item>.dd3-content {
    margin: 0;
}

.dd3-item>button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}

/*---------- start Stile per form Assistenza -------------*/
#form_moduli_assistenza {
    width: 96%;
    border: 0px solid #000000;
    color: #000000;
    margin: 10px auto;
}

#form_autocert ,
#form_stato {
    width: 96%;
    border: 0px solid #000000;
    color: #000000;
    margin: 10px 15px;
}

div.box2formAssistenza .form_label {
    /*background-color: #00aeef;*/
    float: left;
    width: 30%;
    padding: 0px 2%;
    font-weight: bold;
}

div.box2formAssistenza input {
    width: 300px;
}

div.box2formAssistenza select {
    width: 385px;
}

/*---------- end Stile per form Assistenza -----------*/

/*---------- Start stile Tutorial Iscrizione --------------*/
#guidetTour {
    text-align: center;
    padding-right: 20px;
}

#guidetTour .back {
    background: url(/images/back.gif) no-repeat scroll left center
        transparent;
    padding-left: 44px;
    padding-right: 10px;
}

#guidetTour a.forward {
    background: url(/images/forward.gif) no-repeat scroll right center
        transparent;
    padding-right: 44px;
    padding-left: 10px;
}

.ImageContainer img {
    border: solid 2px #26ACE2;
}

#pdfGuida {
    float: right;
    margin: 15px;
}

#pdfGuida a.pdf{
    text-align: right;
    padding: 30px;
    background: url(/images/pdficon_small.png) no-repeat scroll right center transparent;

}

/*---------- End stile Tutorial Iscrizione --------------*/

/*--------- Start stile Orientation Info ----------------*/
#orientationInfo{
    float: left;
}


#orientationInfo a{
    color:#FFFFFF;
    font-size:0.8em;
}

#orientationInfo a:hover {
    color: #F4DB20;
}


/*--------- End stile Orientation Info ----------------*/


/*------ Start stile languages button HomePage -------------*/

#block-locale-0{
    float: left;
    margin-left:32px;
    margin-top: 33px;
}

#block-locale-0 h2 {
    display: none;
}
#block-locale-0 ul {

}
#block-locale-0 li {
    float: left;
    list-style-type: none;
    margin-right: 8px;
}

/*
#block-locale-0  .it a{
    visibility: hidden;
}*/


/*------ End stile languages button HomePage -------------*/

.categorieCheck{
    float: none;
    margin-left: -20px;
    margin-top: 5px;
}

.offLine {
    color: #000;
    font-size: 1.3em;
    text-align: center;
    width: 90%;
    margin: auto;
}

.offLine img{
    vertical-align: middle;
}

.alertFee {
    color: #000;
    font-size: 1 em;
    text-align: left;
    margin-left: 18px;
    margin-right: 18px;
    width: 99%;
	font-style: italic;
}

.alertFee  img{
    vertical-align: middle;
}




.duplicateMail {
    color: red;
    font-size: 1.3em;
    text-align: center;
    margin: 2;
}

.duplicateMail{
    vertical-align: middle;
}
#header-lang ul li span {
    color: #FFF;
    background: #666;
    padding: 5px 5px 2px 5px;
}


/*------------- Inizio box news ------------------*/

#boxNews{
	background:url(/tmpl/expo2015/catalogo/images/bg.gif) repeat-y scroll 0 0 transparent;
	padding: 10px;
	/*border: #FFFAED 1px solid;*/
	border: #26ACE2 1px solid;
}

#boxNews .newsTitolo{
	color: #26ACE2;
	font-size: 20px;
}

#boxNews .newsTesto{
	color: #26ACE2;
	font-size: 12px;
}

/*------------- Fine box news ------------------*/

.descV {
	width: 150px;
	
}

.corpoV {
	text-align: justify;
	vertical-align: middle;
	padding: 5px;
	padding-right: 15px;
	
}

/*------------ Box Reti di impresa ----------------*/
tr.spaceUnder > td
{
  padding-bottom: 1em;
}

h4.Reti {
	color: #26ACE2;
	font-size: 12px;
	border-bottom: 0px;
}

/*------------ Fine Box Reti di impresa ----------------*/


#formUpload {
	margin:18px;
	margin-bottom: 30px;
}
/*
#elencoTabella{
	margin:18px;
	margin-bottom: 30px;
}*/


#boxTimeOut{
    border: 1px solid #014d7f;
    color: #014d7f;
    height: 180px;
    width: 94%;
    margin-left: 3%; 
    -moz-box-shadow:  10px  10px 5px #dedede;
    -webkit-box-shadow:  10px  10px 5px #dedede;
}
#titoloTimeOut{
    font-size: 2.3em;
    float: none;
    margin: 10px;
}
#testoTimeOut{
    padding-bottom: 20px;
    font-size: 1.3em;
    float: none;
    border-bottom: 1px solid #000;
    margin: 10px;
}