<div class="bordoconvegno">{%titolo%}</div>
<div class="bordoconvsotto">
	{%descrizione%}
	<em><br />
	<!--<strong>Dati del Convegno:</strong><br/>-->
	<strong>Dal:</strong>{%dalla_data_convegno%} <strong>Al:</strong>{%alla_data_convegno%} - <strong>Dalle:</strong>{%da_ora%} <strong>Alle:</strong>{%a_ora%}<br/>
	<strong>Ubicazione:</strong>{%luogo%}<br/>
	{%posti_liberi%}<br />
	{%link_iscrizione%}<br/>
	<strong>Per informazioni:</strong>{%segreteria%}</em>
</div>
<br style="clear: left;" />
