<div class="bordoconvegno">{%titolo%}</div>
<div class="bordoconvsotto">
	<br />
	{%descrizione%}
	<!--<strong>Dati del Convegno:</strong><br/>-->
	{%dal%}{%dalla_data_convegno%}{%al%}{%alla_data_convegno%} - ore: {%da_ora%} - {%a_ora%}<br/>
	{%luogo%}<br /><br />
	{%posti_liberi%}
	{%link_iscrizione%}<br/>
	<em><strong>info: </strong>{%segreteria%}</em>
	<br />
	<br />
</div>
<br style="clear: left;" />
