<form enctype="multipart/form-data" name="moduli" action="/index.phtml" method="post" id="form_moduli" onsubmit="return validate_Validator(this)">
	<fieldset>
		<input type="hidden" name="pagina" value="{%pagina%}"/>
		<input type="hidden" name="Id_VMenu" value="{%Id_VMenu%}"/>
		<input type="hidden" name="tmpl" value="{%tmpl%}"/>
		<input type="hidden" name="Id_Convegno" value="{%Id_Convegno%}"/>
		<input type="hidden" name="Id_Iscrizione" value="{%Id_Iscrizione%}"/>
		<input type="hidden" name="Id_Utente" value="{%Id_Utente%}"/>
		<input type="hidden" name="convegno" value="{%convegno%}"/>
		<input type="hidden" name="utente" value="{%utente%}"/>

		<div class="box2form">
			<br style="clear: left;">
		</div>
		<div class="box2form">
			<div class="form_label">
				<label for="nome_convegno">Registrazione al convegno</label>
			</div>
			<div>
			{%convegno%}
			</div>
			<br style="clear: left;">
		</div>
		<div class="box2form">
			<div class="form_label">
				<label for="nome_convegno">Utente</label>
			</div>
			<div>
			{%utente%}
			</div>
			<br style="clear: left;">
		</div>
		<div class="box2form">
			<div class="form_label">
				<label for="nome_convegno">Ragione Sociale/Azienda</label>
			</div>
			<div>
			{%ragsoc%}
			</div>
			<br style="clear: left;">
		</div>
		<div class="box2form">
			<div class="form_label">
				<label for="nome_convegno">Posta elettronica</label>
			</div>
			<div>
			{%emailut%}
			</div>
			<br style="clear: left;">
		</div>
		{%my_form%}
		<div class="box2form">
			<div>
				<input type="submit" name="Pulsante" value="{%lab_pulsante%}" title="{%lab_pulsante%}"/>
			</div>
			<br style="clear: left;">
	</div>

	</fieldset>
</form>
