<div class="box2form">
	<div class="form_label">
<label for="utente">Cognome</label> *
</div>
	<div>
{%cognome%}
	</div>
	<br style="clear: left;">
</div>
<!--
<div class="box2form">
	<div class="form_label">
		<label for="impresa">Nome</label> *
	</div>
	<div>
{%nome_pers%}
	</div>
	<br style="clear: left;">
</div>
-->
<div class="box2form">
	<div class="form_label">
		<label for="impresa">Ragione Sociale</label> *
	</div>
	<div>
{%rag_soc%}
	</div>
	<br style="clear: left;">
</div>
<input type="hidden" name="Id_Utente" value="{%id_utente%}"/>
</div>
<br /><br />
{%my_mex%}
<div class="box2form">
	<div>
		<input type="submit" name="Pulsante" value="{%value_puls%}" title="{%title%}"/>
	</div>
	<br style="clear: left;">
</div>
