<tr>
<td scope="row" class="{%class%}" align="left">
{%sposta%}
</td>
<td class="{%class%}" align="left">
<input type='checkbox' name='{%name_check%}' value="{%val_check%}" onclick="cambia_stato('{%name_check%}');" {%checkato%} {%no_check%}> {%label_campo%}
</td>
<td class="{%class%}" valign="top" align="left">
<input type='checkbox' name='{%name_check_obbl%}' value="{%val_check_obbl%}" onclick="cambia_stato('{%name_check_obbl%}');" {%checkato_obbl%}>
</td>
<td class="{%class%}" align="left">
{%tipo_campo%}
</td>
<td class="{%class%}" align="left">
{%valori%}
</td>
</tr>
