
<input type="hidden" name="action" id="action" value="Entra"/>

<div class="box2form">
	<div class="form_label_convegni">
		<label for="password">Password *</label>
	</div>
	<div class="mail_convegni">
		<input class="mail_convegni" id="password" name="Password" type="password" size="20" class="login"/>
		&nbsp;<input type="submit" name="My_Pulsante" value="Conferma" title="Iscrivi"/>
	</div>
	<br style="clear: left;">
</div>

<p><br /><a href="/index.phtml?pagina=password">Hai dimenticato la password?</a></p>
