<?
include "progetto.inc";
include $PROGETTO."/prepend.php3";
include "authpath.inc";
include $PROGETTO."/header.inc";
?>

<table width="780" cellspacing="0" cellpadding="0">
  <tr>
    <td width="156" height="268" background="/images/sf_col_sx.jpg">
	<?
		include $PROGETTO."/menu.inc";
	?>
    </td>
    <td width="624" class="center">
	Login Effettuato.
    </td>
  </tr>
    <tr>
      <td width="156"><img alt="" src="/images/sf_col_sx_dw.jpg" width="156" height="5" />
      </td>
      <td width="624">&nbsp; </td>
    </tr>

</table>

<?
include $PROGETTO."/footer.inc";
?>
