<?
include "progetto.inc";
include $PROGETTO."/prepend.php3";
include "authpath.inc";
	
$my_form.="<link href=\"/CSS/style.css\" rel=\"stylesheet\" type=\"text/css\" />\n";
$my_form.="<link rel=\"stylesheet\" type=\"text/css\" href=\"/print.css\" media=\"print\" />\n";
//include $PROGETTO."/checkmoduli.inc";
		
$my_form.="<form enctype=\"multipart/form-data\" name=\"moduli\" action=\"/index.phtml\" method=\"post\" onsubmit=\"return validate_Validator(this)\">\n";

if ($display)
	$my_form.="<div class='moduli_disp'>";
else
$my_form.="<div class='moduli'>";
$my_form.="<input type=\"hidden\" name=\"Id_VMenu\" value=\"".$Id_VMenu."\">\n";

$my_form.=form_convegno($Id_Convegno,$display);
//PARAMETRI DA PASSARE:Id_Convegno
$my_form.="</div>\n";
$my_form.="</form>\n";
echo $my_form;
?>
