<?
include "progetto.inc";
include $PROGETTO."/prepend.php3";
include "authpath.inc";
$db1 = new DB_CedCamCMS;
$db2 = new DB_CedCamCMS;
$array_corpo=array();
$newsletter=crea_newsletter_header($Id);
$array_corpo=crea_newsletter_corpo($Id);
$SQL2="select * from Tlk_NewsLetter_Argomenti order by Ordine, Id";
$db1->query($SQL2);
while($db1->next_record())
{
	if(isset($array_corpo[$db1->f("Id")][$TipoRegistrazione]) && $array_corpo[$db1->f("Id")][$TipoRegistrazione]!="")
		$newsletter.=$array_corpo[$db1->f("Id")][$TipoRegistrazione];
}
$newsletter.=crea_newsletter_footer($Id);
/*
		$head="<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n";
		$head.="<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"it\">\n";
		$head.="<head>\n";
		$head.="<title>".$PROGETTO."</title>\n";
		$head.="<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n";
		$head.="<link rel=\"stylesheet\" href=\"".$HOMEURL."style.css\" type=\"text/css\">";
		$head.="<link rel=\"stylesheet\" href=\"".$HOMEURL."CSS/newsletter.css\"type=\"text/css\">";

		$foot.="</head>\n";
		$foot.="<body>\n";
*/
echo preg_replace("/\{%(\w+)%\}/e", "\$\\1",$head."\n".$newsletter."\n".$foot);
?>
