<?
include "configuration.inc";
include $PROGETTO."/prepend.php3";
include "authpath.inc";
//include $PROGETTO."/send_mail_mod.inc";

switch ($op_esegui)
{
	case "Elimina":
	case "Attiva":
	case "Pubblica_Fin":
	case "Offline_Fin":
	case "Presenza_In":
	case "Presenza_Out":
	case "Disattiva":
	case "ins_email":
	case "Invio NewsLetter":
	case "Autorizza":
		break;
	case "Anteprima":
	case "AnteprimaC":
		$popup_azioni="S";
		break;
	default:
		$popup_azioni="S";
		include $PROGETTO."/header.inc";
		break;
}
if($op=="Invio NewsLetter")
	echo"<p><img alt=\"logo\" height=\"112\" src=\"/images/upload/logo.gif\" width=\"405\" /></p>";

$db = new DB_CedCamCMS;

$tabella=$$nome;
if (isset($op))
{
	echo "<form enctype=\"multipart/form-data\" name=\"moduli\" id=\"moduli\" action=\"/admin/azioni.phtml\" method=\"post\" onsubmit=\"return validate_Validator(this)\">\n";
	echo "<fieldset>\n";

	reset($_SERVER);
while (list ($key, $val) = each ($_SERVER))
	{
		if (is_array($val))
		{
			while (list ($key1, $val1) = each ($val))
			{
				$campo= explode("&amp;",$val1);
				for ($i=0;$i<sizeof($campo);$i++)
				{
					$campo2= explode("=",$campo[$i]);
					$tmp0 = $campo2[0];
					if ($tmp0!="op")
						echo "<input type=\"hidden\" name=\"".$tmp0."\" id=\"".$tmp0."\" value=\"".$campo2[1]."\" />\n";
				}
			}
		}
	}
	echo "<input type=\"hidden\" name=\"op_esegui\" id=\"op_esegui\" value=\"".$op."\" />\n";

	switch ($op) {
		case "Invio NewsLetter":
			include $PROGETTO."/azioni/invio_newslet.inc";
		break;
		default:
			include $PROGETTO."/azioni/".$op.".inc";
			break;
	}
	echo "</fieldset>\n";
	echo "</form>\n";
}
if (isset($op_esegui))
{

	$chiavear=explode(";",$Chiave[$nome]);
	switch ($op_esegui)
	{
		case "Elimina":
			if ($nome==$tabsvil."T_Menu")
			{
				reset($chiavear);
				$sql="select Id,Id_Menu from ".$tabsvil."T_Menu where ".$chiavear[0]."='".${$chiavear[0]}."'";
				if (!($db->query($sql)))
					echo "Errore SQL: ".$sql."\n";
				$Id_Menu_el=$db->f('Id_Menu');
				$sql="select Id from ".$tabsvil."T_Menu where Id_Menu like '".$Id_Menu_el.".%'";
				if (!($db->query($sql)))
					echo "Errore SQL: ".$sql."\n";
				if ($db->num_rows()>0)
				{
					$mesg2="Impossibile eliminare, presenti sottovoci.";
					break;
				}
				else
				{
					$sql="insert into ".$tabsvil."T_Eliminati set Tipo='M', Id=".${$chiavear[0]}.", Id_Utente=".$uid.", Data_Eliminazione=now()";
					if (!($db->query($sql)))
						echo "Errore SQL: ".$sql."\n";
					$sql="update ".$tabsvil."T_Articoli set Id_TipoArticolo1='1' where Id_TipoArticolo1=".${$chiavear[0]};
					if (!($db->query($sql)))
						echo "Errore SQL: ".$sql."\n";
				}
			}
			if ($nome == "T_Prodotti"){
				delProdotto(${$chiavear[0]});
			}
						
			if ($nome==$tabsvil."T_Articoli")
			{
				$sql="select Id_Articolo from ".$tabsvil."TJ_Articoli_X_Box_X_Menu where ".$chiavear[0]."='".${$chiavear[0]}."'";
				if (!($db->query($sql)))
					echo "Errore SQL: ".$sql."\n";

				if ($db->num_rows()>0)
				{
					$mesg2="Impossibile eliminare, articolo presente in pagine.";
					break;
				}
				else
				{
					$sql="insert into ".$tabsvil."T_Eliminati set Tipo='A', Id=".${$chiavear[0]}.", Id_Utente=".$uid.", Data_Eliminazione=now()";
					if (!($db->query($sql)))
						echo "Errore SQL: ".$sql."\n";
				}
			}

			if ($nome=="INTRANET_T_Documenti")
			{
				$SQL="update ".$nome. " set Id_Stato='3' where ".$chiavear[0]."='".${$chiavear[0]}."'";
				if ($DEBUG) echo "update: $SQL <br />\n";
				if (!($db->query($SQL)))
					echo "Errore SQL: ".$SQL."\n";
			}
			elseif ($Id_TipoUtente != "" && $nome==$TAB_ANAGRAFICA)
			{
				$ElArray=explode("|",$Elimina[$nome][$Id_TipoUtente]);
				reset($chiavear);
				//$SQL="update ".$nome. " set Stato_Record='E' where ".$chiavear[0]."='".${$chiavear[0]}."'";
                                $SQL = "DELETE FROM $nome WHERE ".$chiavear[0]."='".${$chiavear[0]}."'";
                                $SQLUtente = "DELETE FROM T_Utente WHERE ".$chiavear[0]."='".${$chiavear[0]}."'";
				if ($DEBUG) echo "update: $SQL <br />\n";
				if (!($db->query($SQL)))
					echo "Errore SQL Anagrafica: ".$SQL."\n";
                                if (!($db->query($SQLUtente)))
					echo "Errore SQL Utente: ".$SQL."\n";
			}
			else
			{
				$ElArray=explode("|",$Elimina[$nome]);

				$utype=$auth->auth["utype"];
				$AzArray=explode("|",$Azioni[$nome][$utype]);
				if($nome=="CONVEGNI_T_Iscrizione_Convegni")
				{
					$sql="select Id_Convegno from CONVEGNI_T_Iscrizione_Convegni where ".$chiavear[0]."='".${$chiavear[0]}."'";
					$db->query($sql);
					$db->next_record();
					$my_IdConvengno=$db->f("Id_Convegno");
					$sql="update CONVEGNI_T_Convegni set Posti_Occupati=Posti_Occupati - 1 where Id_Convegno=".$my_IdConvengno;
					$db->query($sql);
				}

//				if ($nome=="T_Files" || $nome=="T_Images" || $nome=="T_Banners")
				if (isset($Files[$nome]))
				{
					$filesar=explode(";",$Files[$nome]);
					$dir=$filesar[0];
					$nomecampo=$filesar[1];
					$SQL="select ".$nomecampo." from ".$nome;
					reset($chiavear);
					for($i=0;$i<sizeof($chiavear);$i++)
					{
						if ($i==0)
							$SQL.=" where ";
						else
							$SQL.=" and ";
						$SQL.= $chiavear[$i]."='".${$chiavear[$i]}."'";
					}
					if (!($db->query($SQL)))
						echo "Errore SQL: ".$SQL."\n";
					else
					{
						$db->next_record();
						unlink($PATHDOCS.$dir.$db->f($nomecampo));
					}
				}
				if (!(isset($mesg2)))
				{
					$SQL="delete from ".$nome;
					reset($chiavear);
					for($i=0;$i<sizeof($chiavear);$i++)
					{
						if ($i==0)
							$SQL.=" where ";
						else
							$SQL.=" and ";
						$SQL.= $chiavear[$i]."='".${$chiavear[$i]}."'";
					}

					if ($DEBUG) echo "delete: $SQL <br />\n";
					if (!($db->query($SQL)))
						echo "Errore SQL: ".$SQL."\n";
						
				}
			}
			if ($ElArray[0]!="" && (!(isset($mesg2))))
			{
				reset($ElArray);
				while (list ($key, $val) = each ($ElArray))
				{
					reset($chiavear);
					if ($DEBUG) echo "delete SQL1 val:".$ElArray[0]." <br />\n";
					if ($DEBUG) echo "delete SQL1 val: $key $val <br />\n";
					$t_elimina = explode(";",$val);
					$SQL1="delete from ".$t_elimina[0]." where " .$t_elimina[1]."='".${$chiavear[0]}."'";
					for ($i=2;$i<sizeof($t_elimina);$i++)
						$SQL1.=" and ".$t_elimina[$i]."='".${$chiavear[$i-1]}."'";
					if ($DEBUG) echo "delete SQL1: $SQL1 <br />\n";

					$db->query($SQL1);
				}
			}

			if ($nome==$tabsvil."T_Menu" && (!(isset($mesg2))))
			{
				$idsmenu=array();
				$SQL1="select Id from ".$tabsvil."T_Menu where Id_Menu like '".$par1.".%'";
				$db->query($SQL1);
				while ($db->next_record())
					array_push($idsmenu,$db->f('Id'));
				if ($ElArray[0]!="")
				{
					reset($idsmenu);
					while (list ($key_id, $val_id) = each ($idsmenu))
					{
						reset($ElArray);
						while (list ($key, $val) = each ($ElArray))
						{
							reset($chiavear);
							$t_elimina = explode(";",$val);
							$SQL1="delete from ".$t_elimina[0]." where " .$t_elimina[1]."='".$val_id."'";
							if ($DEBUG) echo "delete SQL1: $SQL1 <br />\n";
							$db->query($SQL1);
						}
					}
					$SQL1="delete from ".$tabsvil."T_Menu where Id_Menu like '".$par1.".%'";
					if ($DEBUG) echo "delete SQL1: $SQL1 <br />\n";
					$db->query($SQL1);
				}

				$tipoins="elimina";
				include $PROGETTO."/insert_admin.inc";
			}

			break;
		case "Attiva":
		case "Disattiva":
			if ($Id_TipoUtente != "")
			{
				if ($nome=$TAB_ANAGRAFICA)
				{
					reset($chiavear);
					$SQL="update ".$nome. " set Stato_Record=";
					
					if ($op_esegui=='Attiva'){
						$SQL.="'A'";
					} else {
						$SQL.="'D'";
						//$SQL_Prod = "update T_Prodotti set Flag_Modifica=3 WHERE Id_Utente=".$Id;
					}
					reset($chiavear);
					for($i=0;$i<sizeof($chiavear);$i++)
					{
						if ($i==0)
							$SQL.=" where ";
						else
							$SQL.=" and ";
						$SQL.= $chiavear[$i]."='".${$chiavear[$i]}."'";
					}
                                        
					if (!($db->query($SQL)))
						echo "Errore SQL: ".$SQL."\n";
					
					if ($op_esegui=='Disattiva'){
						if (!($db->query($SQL_Prod)))
							echo "Errore SQL: ".$SQL_Prod."\n";
					}
                                        
					//Per SIEXPO 2015
					//avviso attivazione registrazione
					/*if ($op_esegui=='Attiva')
						include $PROGETTO."/azioni/send_mail_conf_reg.inc";*/
				}

			}
			if($nome=="INNOVA_Tj_Moderatori_Valutatori")
			{
				
				$sql="update ".$nome." set Id_StatoContatto=";
				if ($op_esegui=='Attiva')
					$sql.="'A'";
				else
					$sql.="'D'";
				$sql.="where Id_ModValutat=".$Id_ModValutat;
				$db->query($sql);
				if($op_esegui!="Attiva")
				{
					$sql="select * from ".$nome." where Id_ModValutat=".$Id_ModValutat;
					$db->query($sql);
					$db->next_record();
					$_panel=$db->f("Id_Panel");
					$_valutatore=$db->f("Id_Valutatore");
					$sql="update INNOVA_Tj_Progetti_Valutatori set Stato_Contatto='D' ";
					$sql.="where Id_Valutatore=".$_valutatore." and Id_Panel=".$_panel;
					$db->query($sql);
				}
			}
			if($nome=="INNOVA_Tj_Progetti_Valutatori")
			{
				
				$sql="update ".$nome." set Stato_Contatto=";
				if ($op_esegui=='Attiva')
					$sql.="'A'";
				else
					$sql.="'D'";
				$sql.="where Id_ProgVal=".$Id_ProgVal;
				$db->query($sql);
			}
			break;

//INIZIO AZIONI NEWSLETTER
		case "ins_email":
			$SQL="insert into T_Newsletter_Email set E_Mail='".$Email."'";
			if (!($db->query($SQL)))
				echo "Errore SQL: ".$SQL."\n";
			if ($DEBUG) echo "<!-- SQL ins_email:".$SQL." -->\n";
			header("Location: /index.phtml?messaggio=Email inserita");
		break;
		case "Invio NewsLetter":
			include $PROGETTO."/azioni/invio_newslet.inc";
		break;
		case "Anteprima":
			include $PROGETTO."/azioni/invio_newslet.inc";
		break;
//FINE AZIONI NEWSLETTER

//INIZIO AZIONI FINANZIAMENTI		
		case "Pubblica_Fin":
			$SQL="Update FINANZIAMENTI_T_Finanziamenti set Check_Validazione=1, Id_Validatore=".$auth->auth["id_utente"].", Data_Validazione=now() where Id=".$Id;
			if(!($db->query($SQL)))
				echo "Errore SQL: ".$SQL."\n";
		break;
		case "Offline_Fin":
			$SQL="Update FINANZIAMENTI_T_Finanziamenti set Check_Validazione=2, Id_Validatore=".$auth->auth["id_utente"].", Data_Validazione=now() where Id=".$Id;
			if(!($db->query($SQL)))
				echo "Errore SQL: ".$SQL."\n";
		break;
//FINE AZIONI FINANZIAMENTI
//INIZIO AZIONI CONVEGNI		

		case "Presenza_In":
			$SQL="update CONVEGNI_T_Iscrizione_Convegni set Check_Presenza=1 where Id_Iscrizione=".$Id_Iscrizione;
			if(!($db->query($SQL)))
				echo "Errore SQL: ".$SQL."\n";
		break;
		case "Presenza_Out":
			$SQL="update CONVEGNI_T_Iscrizione_Convegni set Check_Presenza=0 where Id_Iscrizione=".$Id_Iscrizione;
			if(!($db->query($SQL)))
				echo "Errore SQL: ".$SQL."\n";
		break;
//FINE AZIONI CONVEGNI

		default:
			include $PROGETTO."/azioni/".$op_esegui.".inc";
		break;

	}
	/*if ($Location[$nome][$azione][$utype]!=""){
		echo "red 0";
		$location1=$Location[$nome][$azione][$utype];
	}
	elseif ($Location[$nome][$azione]["default"]!=""){
		echo "red 1";
		$location1=$Location[$nome][$azione]["default"];
	}
	elseif ($Location[$nome]["default"][$utype]!=""){
		echo "red 2";
		$location1=$Location[$nome]["default"][$utype];
	}
	else{
		echo "red 3";
		$location1=$Location[$nome]["default"]["default"];
	}*/
	if ($Location[$nome][$op_esegui][$utype]!=""){
		//echo "red 0";
		$location1=$Location[$nome][$op_esegui][$utype];
	}
	elseif ($Location[$nome][$op_esegui]["default"]!=""){
		//echo "red 1";
		$location1=$Location[$nome][$op_esegui]["default"];
	}
	elseif ($Location[$nome]["default"][$utype]!=""){
		//echo "red 2";
		$location1=$Location[$nome]["default"][$utype];
	}
	else{
		//echo "red 3";
		$location1=$Location[$nome]["default"]["default"];
	}
	
	$utype=$auth->auth["utype"];

	if (isset($azione))
	{
		reset($chiavear);
		for($i=0;$i<sizeof($chiavear);$i++)
				$url_id.="&amp;".$chiavear[$i]."=".$$chiavear[$i];
	}

	if (isset($mesg2))
		$messaggio=$mesg2;
	else
		$messaggio="Variazione effettuata.";

	$posqm=strpos($location1,"?");

	if (!($posqm===false))
		$location1.="&amp;messaggio=".$messaggio.$url_id."&amp;ordina=".$ordina;
	else
		$location1.="?messaggio=".$messaggio.$url_id."&amp;ordina=".$ordina;

	if ($blockloc=="S") $location1=$_SERVER['HTTP_REFERER'];

	$file = $PROGETTO."/post/".$nome.".inc";
	if (file_exists($PATHINC.$file))
		include $file;


if ($popup_azioni=="N" && $op_esegui=="Elimina")
	$op_esegui="reload";

	switch ($op_esegui)
	{
		case "Elimina":
		case "Attiva":
		case "Autorizza":
		case "Disattiva":
		case "Pubblica_Fin":
		case "Offline_Fin":
		case "Presenza_In":
		case "Presenza_Out":

			header("Location: ".$location1);
			break;
		case "Anteprima":
		case "AnteprimaC":
			exit;
			break;
		default:
			echo "<script>\n";
			echo "parent.opener.location.replace('".$location1."');\n";
			echo "self.close();\n";
			echo "</script>\n";
			exit;
			break;
	}

}

include $PROGETTO."/footer.inc";
?>