<?
include "progetto.inc";
include $PROGETTO."/prepend.php3";
include "authpath.inc";
$db1 = new DB_CedCamCMS;
$db2 = new DB_CedCamCMS;

$prova=base64_decode($cqs);
parse_str($prova);
$SQL2="select * from CONCORSI_T_Html2Pdf where Id_Iscrizione=".$Id_Iscrizione;
$db1->query($SQL2);
$db1->next_record();
$my_html="<div style=\"font:90% Arial, Verdana, Helvetica, sans-serif;margin:0; padding:0; background-color:#FFF;\">";
$my_html.="<style>table {font: 100% Arial, Verdana, Helvetica, sans-serif;}</style>";
$my_html.=stripslashes($db1->f("Testo_Html"));
$my_html.="</div>";
echo $my_html;
?>
