{%anninews%}
{%intronews_G%}
<table class="delibere" border="0" cellpadding="0" cellspacing="0" summary="Riunioni Giunta">
<caption> </caption>
<thead>
<tr align="left" valign="top">
<th id="ColDateRiunioniGiunta" width="30%" style='border:0px solid white;'> </th>
<th id="ColInfoRiunioniGiunta" width="70%" style='border:0px solid white;'> </th>
</tr>
</thead>
<tbody>
<tr align="left" valign="top">
<td headers="ColDateRiunioniGiunta" width='30%' style='border:0px solid white;'>
{%mesinews_G%}
</td><td headers="ColInfoRiunioniGiunta" width='70%' style='border:0px solid white;'>
{%dettaglinews_G%}
</td>
</tr>
</tbody>
</table>
{%intronews_C%}
<table class="delibere"  border="0" cellpadding="0" cellspacing="0" summary="Riunioni Consiglio">
<caption> </caption>
<thead>
<tr align="left" valign="top">
<th id="ColDateRiunioniConsiglio" width="30%" style='border:0px solid white;'> </th>
<th id="ColInfoRiunioniConsiglio" width="70%" style='border:0px solid white;'> </th>
</tr>
</thead>
<tbody>
<tr align="left" valign="top">
<td headers="ColDateRiunioniConsiglio" width='30%' style='border:0px solid white;'>
{%mesinews_C%}
</td><td headers="ColInfoRiunioniConsiglio" width='70%' style='border:0px solid white;'>
{%dettaglinews_C%}
</td>
</tr>
</tbody>
</table>
{%intronews_P%}
<table class="delibere" border="0" cellpadding="0" cellspacing="0" summary="Determinazioni del presidente">
<caption> </caption>
<thead>
<tr align="left" valign="top">
<th id="ColDateDetPresidente" width="30%" style='border:0px solid white;'> </th>
<th id="ColInfoDetPresidente" width="70%" style='border:0px solid white;'> </th>
</tr>
</thead>
<tbody>
<tr align="left" valign="top">
<td headers="ColDateDetPresidente" width='30%' style='border:0px solid white;'>
{%mesinews_P%}
</td><td headers="ColInfoDetPresidente" width='70%' style='border:0px solid white;'>
{%dettaglinews_P%}
</td>
</tr>
</tbody>
</table>
<br /><br />
{%footer_delibere%}