<br style="clear: left;" />
<div id="risultati">
<h2>Dettagli delibera</h2>
Riunione <b>{%Tipo_Delibera%}</b> del <b>{%Riunione_Del_Ita%}</b></b>{%anno_rif_tolto%}<br />
<br />
Delibera  n. <b>{%Num_Delibera%}</b><br />
<br />
Oggetto:<br />
<b>{%Oggetto_Delibera%}</b><br />
<br />
{%blocco_files%}
</div>
<div>
<br />
{%footer_delibere%}
<br /><br />
<a href="/index.phtml?Id_VMenu=110" title="Nuova ricerca Delibere">Nuova ricerca Delibere</a>
<a href="javascript:;" onClick="history.back();" title="Indietro" style="float:right;">Indietro</a>
<p>&nbsp;</p>
</div>
