<br style="clear: left;" />
<div id="risultati">

<h2>{%Tipo_Delibera%} del {%Riunione_Del_Ita%}{%anno_rif_tolto%}</h2>
<br />
Determinazione  n. <b>{%Num_Delibera%}</b><br />
<br />
Oggetto:<br />
<b>{%Oggetto_Delibera%}</b><br />
<br />
{%blocco_files%}
</div>
<div>
<br />
{%footer_delibere%}
<br /><br />
<a href="/index.phtml?Id_VMenu=110" title="Nuova ricerca Delibere">Nuova ricerca</a>
<a href="javascript:;" onClick="history.back();" title="Indietro" style="float:right;">Indietro</a>
<p>&nbsp;</p>
</div>
