.mainTab {
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#BBBBBB;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#BBBBBB;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#BBBBBB;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#BBBBBB;
	text-align:left;
	background-color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:11px;
	font-weight:normal;
	text-align:justify;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	padding-top:1px;
	
}

.label{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:9px;
	font-weight:bold;
	padding-left:1px;;
	padding-right:1px;;
	//margin-top:-5px;
	text-align:left;
	vertical-align:top;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#BBBBBB;
	background-color:#cccccc;
}

.value{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:9px;
	font-weight:normal;
	padding-left:1px;;
	padding-right:1px;;
	//margin-top:-5px;
	text-align:left;
	vertical-align:top;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#BBBBBB;
	background-color:#cccccc;
}

.lineaOrizzontale {
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#BBBBBB;
	text-align:left;
	padding-left:5px;
}

.title {
	position: relative;
	padding-left:5px;
	text-align:left;
	text-transform: uppercase;
	font-size: 24px;
}

