<!-- inizio post-blog -->
{%TIPO%}
    <div class="titolo_blog">{%TITOLO%}</div>
	<div class="testo_blog">{%TESTO%}</div>
	<div class="pubblicato_blog">Pubblicato il <span class="blubs">{%DATA%}</span> da <span class="blubs">{%UTENTE%}</span></div>
	<div class="azioni_blog">{%ACTION%}{%CATEGORIA%}</div>
</div>
{%COMMENTI%}
<!--- fine post-blog --->