<br style='clear:left;'/>
<br />
<div id="box_uffici">
	<div class="bordo">
		<table class="sfonditab" summary="Tabella orizzontale contenente i contatti dell'ufficio">
		   <tbody>
		{%box_ufficio%}
		   </tbody>
		 </table>
	</div>
</div>