<!-- Inizio Extra -->
<br />
<br />
<div id="extra">
<div id="titolo_extra">
<a style="color:#005D9D;text-decoration:none;font-weight:bold;" href="/index.phtml?Id_VMenu=122" title="WHAT IS YOUR PROJECT?">Contact us</a>
</div>
<div id="corpo_extra">
<p style="text-align:left; padding-left:80px;margin:5px 0px 0px 10px;font-size:1.0em;font-weight:bold;">Find out<br />how we can help<br />to start up or expand<br />your business in Lombardy!<br /><br /></p>
<p><a style="border:1px solid #FFFFFF;color:#FFFFFF;float:auto;font-weight:bold;font-size: 1.0em;padding:3px;background-color:#B1B3B5;text-decoration:none;" href="/index.phtml?Id_VMenu=122" title="">Contact us</a><br /><br /></p>
<p><strong>Or call us: +39 02 8515 5220</strong></p>
</div>
</div>

<!-- Fine Extra -->
