<!--<div id="footer_sup">
	<div id="partner_footer">
		PARTNER<br />
		<hr />
	</div>
	<div id="loghi_footer">
	<a href="http://www.regione.lombardia.it" title="Regione Lombardia"><img src="/images/loghi/logo_regione.jpg" title="Regione Lombardia" /></a>
	<a href="http://www.lom.camcom.it" title="Unioncamere Lombardia"><img src="/images/loghi/unioncamere.jpg" title="Unioncamere Lombardia" /></a>&nbsp;
	<a href="http://www.mi.camcom.it" title="Camera di Commercio di Milano"><img src="/images/loghi/cciaa_mi.jpg" title="Camera di Commercio di Milano" /></a>&nbsp;
	<a href="http://www.promos.it" title="Promos"><img src="/images/loghi/logo_promos.jpg" title="Promos" /></a>
	<a href="http://www.bg.camcom.it" title="Camera di Commercio di Bergamo"><img src="/images/loghi/cciaa_bg.jpg" title="Camera di Commercio di Bergamo" /></a>&nbsp;
	<a href="http://www.cr.camcom.it" title="Camera di Commercio di Cremona"><img src="/images/loghi/cciaa_cr.jpg" title="Camera di Commercio di Cremona" /></a>&nbsp;
	<a href="http://www.mb.camcom.it" title="Camera di Commercio di Monza Brianza"><img src="/images/loghi/cciaa_mb.jpg" title="Camera di Commercio di Monza Brianza" /></a>&nbsp;
	<a href="http://www.pv.camcom.it" title="Camera di Commercio di Pavia"><img src="/images/loghi/cciaa_pv.jpg" title="Camera di Commercio di Pavia" /></a>

	</div>
</div>
-->