<!-- inizio footer -->
    <div id="foot2">
        <div style="float: left; display: inline; padding-left: 20px; padding-top: 20px;">
        	SIEXPO2015 E' UN PROGETTO PROMOSSO DA:
        </div>
        <div style="float: left; display: inline; padding-left: 20px; padding-top: 20px;">
        	SIEXPO E' REALIZZATO DA:
        </div>
        <div style="float: left; display: inline; padding-left: 20px; padding-top: 20px;">
        	CON IL CONTRIBUTO TECNICO DI:
        </div>
        </div>
</div>
<div id="foot3">
    <div style="background-color:transparent;height:20px;font-size:0.7em;padding-top: 15px;text-align:center;">&copy; 2013 SiExpo2015 - Via Camperio, 1 - 20123 Milan - Italy - Tel. +39 02 85 15 53 92 - info@investinlombardy.com</div>
</div>
<!-- fine footer -->
