<!-- inizio footer -->
<div id="footer">
    <div id="foot2">
        <div style="float: left; display: inline; padding-left: 10px; padding-top: 10px; width:425px; background-color:#ffffff; height:100px;">
        	REALIZZATO CON IL CONTRIBUTO DI:<br /><br />
        	<a href="http://www.expo2015.org" title="Visita il sito Expo Milano 2015"><img align="top" src="/images/logo_expo.jpg" alt="Logo Expo" /></a>
        	<a href="http://www.mi.camcom.it" title="Visita il sito della Camera di Commercio di Milano"><img align="top"  src="/images/logo_cciaa.jpg" alt="Logo Camera di Commercio di Milano" /></a>
        </div>
        <div style="float: left; display: inline; padding-left: 20px; padding-top: 10px; margin-left: 15px; background-color:#ffffff; height:100px;">
        	MAIN SPONSOR:<br /><br />
        	<a href="http://www.conai.org/" title="Visita il sito Comai"><img src="/images/LogoConaiNew.jpg" alt="Logo Conai" /></a>
<!--        	<a href="http://it.materialconnexion.com/" title="Visita il sito Material ConneXion Italia"><img src="/images/logo_material.jpg" alt="Logo Material" /></a>-->
        </div>
        <div style="float: left; display: inline; padding-left: 15px; padding-right: 35px; padding-top: 10px; margin-left: 10px; background-color:#ffffff; height:100px;">
        	PARTNER:<br /><br />
        	<a href="http://www.federlegno.it/" title="Visita il sito Federlegnoarredo"><img src="/images/logo_fla.jpg" alt="Logo FLA" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--        	<a href="http://www.ance.it/" title="Visita il sito Associazione Nazionale Costruttori Edili"><img src="/images/logo_ance.jpg" alt="Logo ANCE" /></a>-->
        </div>
        </div>
</div>
<div id="foot3">
    <div style="background-color:transparent;height:25px;font-size:0.8em;padding-top: 5px;text-align:left;">&copy; 2013 SiExpo2015 All Rights Reserved - Consorzio Siexpo, via Achille Papa, 30 - 20149 Milano - P.IVA 07996310962 | <a href="/index.phtml?Id_VMenu=230" title="Contatti">Contatti</a> | <a href="/index.phtml?Id_VMenu=262" title="Credits">Credits</a> </div>
</div>
<!-- fine footer -->