<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/jquery/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/jquery/ui/jquery-ui.js"></script>

<p>Per chiarimenti e assistenza compilare il form sottostante</p>
<p>* Campi obbligatori</p>


<script type="text/javascript">
function emailCheck(email) {
	  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}


	function validate_Validator(f) {

		if (f.typology_problem.value == "") {
			alert("Selezionare la problematica per cui si richiede assistenza.");
			f.typology_problem.focus();
			return (false);
		}

		if (((f.typology_problem.value == "Iscrizione") || (f.typology_problem.value == "Compilazione Catalogo")) && (f.name_problem.value == "")) {
			alert("Selezionare l'argomento.");
			f.name_problem.focus();
			return (false);
		}

		if (f.commento.value.length < 10) {
			alert("Non ha formulato la descrizione del problema oppure deve esplicitare meglio tale descrizione.");
			f.commento.focus();
			return (false);
		}

		if (f.nome_mittente.value.length < 2) {
			alert("Non ha inserito il nome e cognome.");
			f.nome_mittente.focus();
			return (false);
		}

		if (f.cf_impresa.value.length < 2) {
			alert("Non ha inserito il codice fiscale dell'impresa.");
			f.cf_impresa.focus();
			return (false);
		}

		if ((f.cf_impresa.value.length != 11) && (f.cf_impresa.value.length != 16)) {
			alert("Il codice fiscale dell'impresa non è stato inserito correttamente.");
			f.cf_impresa.focus();
			return (false);
		}

		if (f.e_mail.value.length < 2) {
			alert("Non ha inserito la mail.");
			f.e_mail.focus();
			return (false);
		}

		if (emailCheck(f.e_mail.value) == false) {
			alert("L'indirizzo E-mail è errato.");
			f.e_mail.focus();
			return (false);
		}
		return true;
	}
</script>

<script type="text/javascript">
	var nullOption = "<option value=\"\">---</option>";
	
	var iscrizioneOption = nullOption;
	iscrizioneOption += "<option value=\"3270||CNS\">CNS</option>";
	iscrizioneOption += "<option value=\"3271||visura\">Visura</option>";
	iscrizioneOption += "<option value=\"3272||regolamento PDF\">Regolamento PDF</option>";
	iscrizioneOption += "<option value=\"3273||pagamento\">Pagamento</option>";
	iscrizioneOption += "<option value=\"3274||altro\">Altro</option>";

	var atecoOption = nullOption;
	atecoOption += "<option value=\"3285||informazioni\">Informazioni</option>";
	atecoOption += "<option value=\"3286||aggiunta codice ateco\">Aggiunta codice ateco</option>";
	atecoOption += "<option value=\"3287||modifica categoria merceologica\">Modifica categoria merceologica</option>";
	
	var compilazioneOption = nullOption;
	compilazioneOption += "<option value=\"3276||gestione impresa\">Gestione Impresa</option>";
	compilazioneOption += "<option value=\"3277||gestione delegati\">Gestione Delegati</option>";
	compilazioneOption += "<option value=\"3278||scheda impresa\">Scheda Impresa</option>";
	compilazioneOption += "<option value=\"3279||prodotti/servizi\">Prodotti/Servizi</option>";
	compilazioneOption += "<option value=\"3280||bacheca\">Bacheca</option>";
	compilazioneOption += "<option value=\"3281||trattative\">Trattative</option>";
	compilazioneOption += "<option value=\"3282||FAQ\">FAQ</option>";
	compilazioneOption += "<option value=\"3283||altro\">Altro</option>";

	var altroOption = nullOption;
	altroOption = "<option value=\"||altro\">altro</option>";
	
	
	$(document).ready(function() {
		
		if ($(this).find(":selected").data("type") == "3") {

			$("#argomento").show();
			$("#categoriaAteco").hide();
			$("select#name_problem").removeAttr("disabled");
			$("select#name_problem").html(iscrizioneOption);
		}

		else if ($(this).find(":selected").data("type") == "2")

		{
			$("#argomento").show();
			$("#categoriaAteco").hide();
			$("select#name_problem").removeAttr("disabled");
			$("select#name_problem").html(compilazioneOption);
		}

		else if ($(this).find(":selected").data("type") == "1")

		{
			
			$("#argomento").show();
			//$("#categoriaAteco").hide();
			$("select#name_problem").removeAttr("disabled");
			$("select#name_problem").html(atecoOption);
			
			/*
			$("#categoriaAteco").show();
			$("#argomento").hide();
			$("select#name_problem").attr("disabled", "disabled");
			$("select#name_problem").html(nullOption);
			*/
		}
		else

		{
			$("#argomento").hide();
			$("#categoriaAteco").hide();
			$("select#name_problem").attr("disabled", "disabled");
			$("select#name_problem").html(altroOption);
		}
	});

	$(document).ready(function() {
		
		$("select#typology_problem").change(function() {
			
			if ($(this).find(":selected").data("type") == "3") {

				$("#argomento").show();
				$("#categoriaAteco").hide();
				$("select#name_problem").removeAttr("disabled");
				$("select#name_problem").html(iscrizioneOption);
			}

			else if ($(this).find(":selected").data("type") == "2")

			{
				$("#argomento").show();
				$("#categoriaAteco").hide();
				$("select#name_problem").removeAttr("disabled");
				$("select#name_problem").html(compilazioneOption);
			}else if ($(this).find(":selected").data("type") == "1")

			{
				$("#argomento").show();
				$("#categoriaAteco").show();
				//$("#categoriaAteco").hide();
				$("#categoriaAteco").show();
				$("select#name_problem").removeAttr("disabled");
				$("select#name_problem").html(atecoOption);
				
				/*
				$("#categoriaAteco").show();
				$("#argomento").hide();
				$("select#name_problem").attr("disabled", "disabled");
				$("select#name_problem").html(nullOption);
				*/
			}
			else

			{
				$("#argomento").hide();
				$("#categoriaAteco").hide();
				$("select#name_problem").attr("disabled", "disabled");
				$("select#name_problem").html(altroOption);
			}

		});
	});
</script>

<form id="form_moduli_assistenza" name="assistenza" action="/index.phtml" method="post" onsubmit="return validate_Validator(this)">

		<input type="hidden" name="Id_VMenu" value="{%Id_VMenu%}"/>
		<input type="hidden" name="tmpl" value="{%tmpl%}"/>
		<div class="box2formAssistenza">
			<div class="form_label">
				<label for="typology_problem">Seleziona la problematica per cui ricevere assistenza *</label>
			</div>
			<div>
				{%typology_problem_vari%}
			</div>
         <br style="clear: left;">
		</div>
		
		<div class="box2formAssistenza" id="categoriaAteco">
			
			<div class="form_label" style="display: block; border: 1px solid white;">
				<label for="telefono" >Categoria Richiesta </label>
			</div>
			<div style="display: block; width: auto;">
			Si chiede di indicare per quale categoria merceologica del catalogo ci si vorrebbe iscrivere <br />
			(<i>Progettazione, Costruzione, Forniture, Servizi</i>).
			</div>
			
         <br style="clear: left;">
		</div>
		
		<div class="box2formAssistenza" id="argomento">
			
			<div class="form_label">
				<label for="telefono">Seleziona l'argomento *</label>
			</div>
			
			<div>
				{%problem_vari%}
			</div>
         <br style="clear: left;">
		</div>
		<div class="box2formAssistenza">
			<div class="form_label">
				<label for="commento">Richiesta *</label>
			</div>
			<div>
				<textarea cols="45" name="commento" rows="6"></textarea>
			</div>
         <br style="clear: left;">
		</div>
      <div class="box2formAssistenza">
			<div class="form_label">
				<label for="nome">Nome e Cognome *</label>
			</div>
			<div>
				<input id="nome_mittente" name="nome_mittente" size="30" type="text" value="{%nome%}"/>
			</div>
         <br style="clear: left;">
		</div>
		<div class="box2formAssistenza">
			<div class="form_label">
				<label for="cf_impresa">Codice Fiscale Impresa *</label>
			</div>
			<div>
				<input id="cf_impresa" name="cf_impresa" size="30" type="text" value="{%codFiscale%}" />
			</div>
         <br style="clear: left;">
		</div>
		<div class="box2formAssistenza">
			<div class="form_label">
				<label for="e_mail">E-mail *</label>
			</div>
			<div>
				<input id="e_mail" name="e_mail" size="30" type="text" value="{%email%}"/>
			</div>
         <br style="clear: left;">
		</div>
		<div class="box2formAssistenza">
			<div class="form_label">
				<label for="telefono">Eventuale recapito telefonico</label>
			</div>
			<div>
				<input id="telefono" name="telefono" size="30" type="text" />
			</div>
         <br style="clear: left;">
         <br style="clear: left;">
		</div>
		<p align="right"><i>L'assistenza &egrave garantita nei giorni lavorativi</i></p>
		<div class="box2form">
         <div>
				<input type="submit" value="Invia" name="Pulsante"/>
			</div>
         <br style="clear: left;">
		</div>
	
</form>