<!--- inizio header -->
<div id="testa">
	<div id="reg">
		Benvenuto {%usrName%}!{%login_head%}<br/><a href="/index.phtml?Id_VMenu=263&idMail=1" title="Registrati news">ISCRIVITI ALLA NEWSLETTER</a>
	</div>
	<div id="flag">
		<a href="/index.phtml?Id_VMenu=1&Lang2=IT" title="Home"><img src="/images/flag_it_little.jpg" alt="Italiano" title="Italiano" /></a><br/><br/>
	    <a href="/index.phtml?Id_VMenu=1&Lang2=EN" title="Home"><img src="/images/flag_en_little.jpg" alt="English" title="English" /></a>
	   </div>
	<div>
	<a title="Home" href="/" ><img src="/images/shim.gif" alt="Home" title="Home" width="400" height="55" style="float:left;margin-top:95px;" /></a>
	</div>
</div>
<div id="testa2" class="testa2" style="text-align: right">
	{%toolbar%}
</div>
<!--- fine header -->