<a name="inizio" ></a>
{%anchorstring%}
<ul id="mappa">
<!--<li class="titolo">{%titolo_barra%}</li>-->
{%menustring%}
</ul>
<p class="right"><a href="#inizio">Torna Su</a></p>

<div id="coprente" ><div id="box_popup"></div></div>