<!-- inizio path-->
	 <div id="path">
		<div style="float:left;">
		<a href="/">Homepage</a>{%BREADCRUMBS%}
		</div>
		<div id="invia" style="float:right;">
		<a href="/index.phtml?Id_VMenu=6&amp;amico=1" title="Invia ad un amico"><img class="margine" src="/images/d-send.gif" alt="Invia ad un amico" /></a>
		<a href="javascript:print();" title="Stampa questa pagina"><img class="margine" src="/images/d-print.gif" alt="Stampa questa pagina" /></a>
		</div>
	</div>
<!-- fine path -->