<table class="scheda" cellspacing="2">
<tr>
<td rowspan="4" style="width:100px;">{%scheda_foto%}</td>
<td><strong>Cognome:</strong></td>
</tr>
<tr>
<td class="sfondochiaro">{%scheda_cognome%}</td>
</tr>
<tr>
<td><strong>Nome:</strong></td>
</tr>
<tr>
<td class="sfondochiaro">{%scheda_nome%}</td>
</tr>
<tr>
<td><strong>Ufficio:</strong></td>
<td class="sfondochiaro">{%scheda_ufficio%}</span></td>
</tr>
<tr>
<td><strong>Telefono:</strong></td>
<td class="sfondochiaro">{%scheda_telefono%}</td>
</tr>
<!--
<tr>
<td><strong>Telefono 2:</strong></td>
<td class="sfondochiaro">{%scheda_telefono2%}</td>
</tr>
-->
<tr>
<td><strong>E-mail:</strong></td>
<td class="sfondochiaro"><a href="mailto:{%scheda_email%}" title="Invia mail">{%scheda_email%}</a></td>
</tr>
<!--
<tr>
<td><strong>Collocazione ufficio:</strong></td>
<td class="sfondochiaro">{%scheda_collocazione%}</td>
</tr>
<tr>
<td colspan="2"><strong>Altre comunicazioni:</strong></td>
</tr>
<tr>
<td colspan="2" class="sfondochiaro">{%scheda_altro%}</td>
</tr>
-->
<tr>
<td>{%scheda_indietro%}</td>
<td><p class="right">{%scheda_avanti%}</p></td>
</tr>
</table>
<a href="javascript:history.go(-1);">Chiudi</a></p>