<h3>Errore nella ricerca Booleana per '<strong>$(LOGICAL_WORDS)</strong>'</h3>

Il messaggio di errore &egrave;: <strong>$(SYNTAXERROR)</strong>

<p>L'espressione Booleana deve essere 'corretta' perche'
il sistema di ricerca la utilizzi.</p>

<p>L'espressione inserita contiene degli errori.</p>

<p>Esempi di espressioni corrette sono: <strong>gatto and cane</strong>, <strong>gatto
not cane</strong>, <strong>gatto or (cane not pastore)</strong>.<br>Notare che
l'operatore <strong>not</strong> significa 'senza'.</p>
