<h2>Hai cercato: '$(WORDS)'</h2>
<hr noshade size="4" />
<strong>
Documenti $(FIRSTDISPLAYED) - $(LASTDISPLAYED) di $(MATCHES) trovati.
&nbsp;Pi&ugrave; <img src="/images/star.gif" alt="*" /> indicano un miglior risultato.
</strong>
<br /><br />
