<div id="navigation">
<ul>
    <li id="activelink"><a href="btabs.html">Maps</a></li>
    <li><a href="btabs2.html">Why invest</a></li>
    <li><a href="btabs3.html">R&amp;D</a></li>
    <li><a href="btabs4.html">Key sector</a></li>
    <li><a href="btabs5.html">Key fact</a></li>
</ul>
</div>
