<a href="/index.phtml?Id_VMenu=91" title="Video e Gallery"><img src="/images/multimedia_banner.png" alt="Video e Gallery" /></a><br /><br />
<!-- Inizio Cercaimprese -->
<ul>
<li class="titolo2"><a class="titolo" href="http://www.infoimprese.it/">CercaImprese</a></li>
</ul>
<div class="extra2">
	<form id="cercaimprese" action="http://www.infoimprese.it/ricerca/risultati_5_milioni.jhtml" method="post">
	<fieldset>
	<input type="hidden" name="sitoOrig" id="sitoOrig" value="www.va.camcom.it" />
	<input type="hidden" name="modalita" id="modalita" value=" " />
	<input type="hidden" name="updateFailureURL" id="updateFailureURL" value="cerca_5_milioni.jhtml?pV_5=pV_5" />
	<label for="rcinome" class="invisibile">ricerca per nome</label>
	<input class="radio" id="rcinome" name="tabella" type="radio" value="SearchDe" checked="checked" alt="ricerca per nome"/>per nome<br />
	<label for="ciprodotti" class="invisibile">ricerca per prodotti</label>
	<input class="radio" id="ciprodotti" name="tabella" type="radio" value="SearchAt"  alt="ricerca per prodotti"/>per prodotti<br />
	<label for="citesto" class="invisibile">ricerca per prodotti</label>
	<input size="15" maxlength="100" id="citesto" name="nome" class="cercaimp" alt="Inserisci la parola da cercare" /><br />


	<label for="ciprovincia" class="invisibile">provincia</label>
	<select name="provincia" id="ciprovincia" class="select">
	<option value="VA" selected="selected">VA</option>
	<option>AG</option>
	<option>AL</option>
	<option>AN</option>
	<option>AO</option>
	<option>AP</option>
	<option>AQ</option>
	<option>AR</option>
	<option>AT</option>
	<option>AV</option>
	<option>BA</option>
	<option>BG</option>
	<option>BI</option>
	<option>BL</option>
	<option>BN</option>
	<option>BO</option>
	<option>BR</option>
	<option>BS</option>
	<option>BZ</option>
	<option>CA</option>
	<option>CB</option>
	<option>CE</option>
	<option>CH</option>
	<option>CL</option>
	<option>CN</option>
	<option>CO</option>
	<option>CR</option>
	<option>CS</option>
	<option>CT</option>
	<option>CZ</option>
	<option>EN</option>
	<option>FE</option>
	<option>FG</option>
	<option>FI</option>
	<option>FO</option>
	<option>FR</option>
	<option>GE</option>
	<option>GO</option>
	<option>GR</option>
	<option>IM</option>
	<option>IS</option>
	<option>KR</option>
	<option>LC</option>
	<option>LE</option>
	<option>LI</option>
	<option>LO</option>
	<option>LT</option>
	<option>LU</option>
	<option>MC</option>
	<option>ME</option>
	<option>MI</option>
	<option>MN</option>
	<option>MO</option>
	<option>MS</option>
	<option>MT</option>
	<option>NA</option>
	<option>NO</option>
	<option>NU</option>
	<option>OR</option>
	<option>PA</option>
	<option>PC</option>
	<option>PD</option>
	<option>PE</option>
	<option>PG</option>
	<option>PI</option>
	<option>PN</option>
	<option>PO</option>
	<option>PR</option>
	<option>PS</option>
	<option>PT</option>
	<option>PV</option>
	<option>PZ</option>
	<option>RA</option>
	<option>RC</option>
	<option>RE</option>
	<option>RG</option>
	<option>RI</option>
	<option>RM</option>
	<option>RN</option>
	<option>RO</option>
	<option>SA</option>
	<option>SI</option>
	<option>SO</option>
	<option>SP</option>
	<option>SR</option>
	<option>SS</option>
	<option>SV</option>
	<option>TA</option>
	<option>TE</option>
	<option>TN</option>
	<option>TO</option>
	<option>TP</option>
	<option>TR</option>
	<option>TS</option>
	<option>TV</option>
	<option>UD</option>
	<option>VA</option>
	<option>VB</option>
	<option>VC</option>
	<option>VE</option>
	<option>VI</option>
	<option>VR</option>
	<option>VT</option>
	<option>VV</option>
	</select>
	<a href="javascript:document.getElementById('cercaimprese').submit();">Cerca</a>
	</fieldset></form></div>
<!-- Fine Cercaimprese -->
