<br />
<br />
<div id="box_uffici">
	<div class="bordoinfo">Seleziona l'ufficio</div>
	<div class="bordo">
<form name="uffici" method="post" action="/index.phtml">
<fieldset id="selectufficio">
<!--   <label for="menu"><strong>Seleziona il nome dell'ufficio di interesse e premi il tasto Cerca</strong></label><br />-->
    <select name="my_ufficio" id="my_ufficio">
 {%select_ufficio%}
 	</select>
<input type="hidden" name="Id_VMenu" value="{%Id_VMenu%}" />
<input type="submit" value="Cerca" />
</fieldset>
</form>
	</div>
</div>