<!--
<table width="{%popup_width%}" cellspacing="0" cellpadding="0">
  <tr>
    <td class="center" height="20">&nbsp;</td>
  </tr>
  <tr>
    <td class="center"><img src="/images/riga_blu.gif" width="440" height="1" alt="riga"/></td>
  </tr>
  <tr>
    <td class="center" height="20">{%PROGETTO%}</td>
  </tr>
</table>
-->
<!-- inizio footer -->
<div id="footer">
<!--
	<div id="foot1">
	<ul class="menuinferiore">
	{%footer%}
	</ul>
	</div>
-->
	<div id="foot2">
		{%testo_footer%}
	</div>
</div>
<!-- fine footer -->