
<div id="footer">
&nbsp;
	<div id="foot2">
            <div style="float: left; display: inline;"><!--&copy; Regione Lombardia - tutti i diritti risevati.--></div>
            <div style="float: right; display: inline; padding-right: 10px;"><!--Privacy Note Legali--></div>
	</div>
</div>


