<!-- inizio footer -->
<div id="footer">
	<div id="foot2">
            <div style="float: left; display: inline; padding-left: 20px; padding-top: 20px;">
<img src="/images/invest_footer/logo_regione.gif" alt="Logo Regione" style="margin-left:0px;" /><img src="/images/invest_footer/logo_unioncamere.gif" alt="Logo Unioncamere" /><img src="/images/invest_footer/logo_promos.gif" alt="Logo Promos" />            </div>
            <div style="float: right; display: inline; padding-right: 40px;padding-top: 70px;">

<!--					<img src="/images/invest_footer/linkedin_1.gif" alt="Linkedin" />-->
					<img src="/images/invest_footer/youtube_1.gif" alt="YouTube" />


            </div>
	</div>
</div>
	<div id="foot3">
			<div style="background-color:transparent;height:20px;font-size:0.7em;padding-top: 15px;text-align:right;">&copy; 2012 Invest in lombardy - Via Camperio, 1 - 20123 Milan - Italy - Tel. +39 02 85 15 53 92 - info@investinlombardy.com</div>
	</div>
<!-- fine footer -->