<div id="logo">
	<div style="float:left">
	<a href="/" title="Home"><img src="/images/shim.gif" width=50 height=50 /></a>
	</div>
	<div style="float:right; background: url('/images/logo_invest_dx.gif') no-repeat; width:347px; text-align: right;padding-top:70px;padding-bottom:5px;">
	<br />
<!--	<img src="/images/linkedin.gif" alt="linkedin" />&nbsp;&nbsp;--><img src="/images/youtube.gif" alt="youtube" /><img src="/images/shim.gif" alt="" width=43 height=40 />
	</div>
</div>
<div style="height:17px;background: url('/images/barra_inf_invest_home.gif') repeat-x;">
	&nbsp;
</div>
<div id="box_home">
	<div id="box_home_sx">
	<h1>Who we are</h1>
	<p style="margin-bottom:5px;">
	<strong>Invest in Lombardy</strong> is the service for attracting foreign investments into the Lombardy region. The project is promoted by Unioncamere Lombardia, the Lombardy Chambers of Commerce network and Promos - the Special Agency of the Milan Chamber of Commerce - with the support of Regione Lombardia.
	</p>
	<p style="margin-top:0px;">
	Invest in Lombardy is structured as a <strong>regional network</strong> that works closely with business communities and helps address their needs.
	</p>
	<h1>Our services</h1>
	<p><a class="blu" href="/index.phtml?Id_VMenu=212">Want to open a company in Lombardy?</a>
	<br /><a class="blu" href="/index.phtml?Id_VMenu=213">Want to expand your business in our region?</a></p>
	<p class="right"><a href="/index.phtml?Id_VMenu=109" class="pulsante">read more</a></p>
	</div>
	<div id="box_home_dx">
<object width="430" height="242" ><param name="movie" value="http://www.youtube.com/v/gciGa0048l0?version=3&amp;hl=it_IT&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/gciGa0048l0?version=3&amp;hl=it_IT&amp;rel=0" type="application/x-shockwave-flash" width="430" height="242" allowscriptaccess="always" allowfullscreen="true" wmode="opaque"></embed></object>

	</div>
</div>
