<!--- inizio header -->
<div id="testa">
<!--htdig_noindex-->
    <p class="invisibile">
        <a title="Salta al menu principale" href="#menuprincipale">Vai al menu principale</a>-
        <a title="Salta ai contenuti della pagina" href="#contenuto" accesskey="0">Vai ai contenuti della pagina</a>[0]
        <a title="Vai alla home" href="/" accesskey="H">Home</a><span class="invisibile">[H]</span>
    </p>
<!--    <div id="header_sup">&nbsp;</div>-->
    <div id="header1">
		<div id="header1_centro">
			<div id="reg">Benvenuto {%usrName%}!{%login_head%}<br/><a href="/index.phtml?Id_VMenu=263&idMail=1" title="Registrati news">> ISCRIVITI ALLA NEWSLETTER</a></div>
			<div id="flag"><a href="/index.phtml?Id_VMenu=1&Lang2=IT" title="Home"><img src="/images/flag_it_little.jpg" alt="Italiano" title="Italiano" /></a>
			<br/><br/><a href="/index.phtml?Id_VMenu=1&Lang2=EN" title="Home"><img src="/images/flag_en_little.jpg" alt="English" title="English" /></a></div>

			<div>
			<a title="Home" href="/" ><img src="/images/shim.gif" alt="Home" title="Home" width="400" height="55" style="float:left;margin-top:95px;" /></a>
			</div>

		</div>

<!-- 		<div id="header1_dx" style="border-color: black; border: solid;"> -->
<!-- 			<div id="bottoni">  -->
<!-- 	 			<div id="bott1"><a href="/index.phtml?Id_VMenu=258" title="Inserisci i prodotti">INSERISCI<br />I PRODOTTI<br /><br /><br />></a></div>  -->
<!-- 				<div id="bott2"><a href="/index.phtml?Id_VMenu=293" title="Sfoglia il catalogo">SFOGLIA<br />IL CATALOGO<br /><br /><br />></a></div> -->
<!-- 				<div id="bott3"><a href="/index.phtml?Id_VMenu=260" title="Sponsorizza il progetto">SPONSORIZZA<br />IL PROGETTO<br /><br /><br />></a></div> -->
<!-- 				<div id="bott4"><a href="/index.phtml?Id_VMenu=261" title="Requisiti e regolamento">REQUISITI<br />E REGOLAMENTO<br /><br /><br />></a></div> -->
<!-- 			</div>  -->
<!-- 			<div id="tools"> -->
<!-- 			<div id="tools_sx">&nbsp;</div> -->
<!-- 			<div id="tools_dx"> -->
<!-- 		<br /><br /> -->
<!-- 			<ul class="menusuperiore"> -->
<!-- 			{%toolbar%} -->
<!-- 			</ul> -->
<!-- 			</div> -->
<!-- 			</div> -->
<!-- 		</div> -->

    </div>
</div>
<!--- fine header -->
<!--htdig_noindex-->
<!-- 			<form method="post" action="/index.phtml" id="trova" style="margin-right:0px;height:30px;">
				<fieldset style="border: 1px solid #B2B3B5;height:30px;width:250px;">
					<input type="hidden" name="pagina" id="pagina" value="search" />
					<input type="hidden" name="method" id="method" value="and" />
					<input type="hidden" name="format" id="format" value="long" />
					<input type="hidden" name="sort" id="sort" value="score" />
					<input type="hidden" name="config" id="config" value="siexpo2015" />
					<input type="hidden" name="exclude" id="exclude" value="" />
					<input type="hidden" name="submit" id="submit" value="" />
					<input type="hidden" name="matchesperpage" id="matchesperpage" value="10" />
					<label for="cerca2" class="invisibile">Parola da cercare</label>
					<input style="float:right;" type="image" src="/images/cerca.jpg" title="Cerca" class="pulsante2" value="Cerca" />
					<input style="float:right;" class="cerca2" id="cerca2" type="text" name="words" value="Ricerca articoli" alt="Inserisci la parola da cercare" />
				</fieldset>
			</form>

			<img src="/images/ricerca_avanzata.jpg" alt="Ricerca avanzata" title="Ricerca avanzata" />&nbsp;<a title="Ricerca avanzata" href="/index.phtml?Id_VMenu=8" style="color:#B0B1B3; font-size:1.0em;">Ricerca avanzata</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--/htdig_noindex-->
