<div id="titolo_login" class="provangolo">Log In</div>
<div id="login">

	<!-- inizio tab form login -->
	<script type='javascript'>
	stringa="{%MESSAGGIO%}";
	if (stringa)
		alert(stringa )
	</script>

	<form style="margin-top: 0; margin-bottom: 0;" method="post" action="/jslogin.phtml">
	<fieldset>
	<label for="utente"> e-mail</label><br /><input id="utente" name="Login" type="text" size="30" class="login"/><br/>
	<label for="password"> password</label><br /><input id="password" name="Password" type="password" size="30" class="login"/>
	<input type="hidden" name="okurl" id="okurl" value="{%OKURL%}"/>
	<input type="hidden" name="action" id="action" value="Entra"/>
	<br />
	<input name="imagefield" id="imagefield" type="submit" value="Invia" alt="login" class="pulsante3"/>
	</fieldset>
	</form>
</div>
<div id="footer_login"><a href="/index.phtml?pagina=password">Dimenticato la password?</a><br/>
<a href="/index.phtml?Id_VMenu=2">Registrazione</a>
</div>
<!-- fine tab form login -->