<div id="logout">
<ul id="menulog">
<li class="titolo">Login</li>
</ul>
<!-- inizio tab form logout -->
<br />
Buongiorno,<br />
&nbsp;{%nominativo%}
<p>
<a href="/jslogin.phtml?action=logout&amp;okurl={%OKURL%}">Esci</a>
</p>
<a href="/index.phtml?Id_VMenu=9">Modifica i miei dati</a>
<br />
{%editexturl%}
</div>
<!-- fine tab form logout -->
