	<div class="multimedia">
		<a href="{%media_link%}" style="text-decoration: none;">
			<img class="mm1" src="/multimedia/{%screenshot_mm%}" title="{%titolo_mm%}" />
			<img class="mm2" src="/images/{%tipo_mm%}.gif" title="{%tipodesc_mm%}" />
		</a>
		<br style="clear:both;" />{%titolo_mm%}
	</div>