<!--- inizio tabella news ---->

<table width=160 border="0" cellspacing="0" cellpadding="0" background="images/news-sf.gif">
  <tr>
    <td rowspan="3" bgcolor="#000000"><img src="images/shim.gif" width="1" height=200></td>
    <td bgcolor="#000000"><img src="images/shim.gif" height="1" width=158></td>
    <td rowspan="3" bgcolor="#000000"><img src="images/shim.gif" width="1" height=200></td>
  </tr>
  <tr>
    <td align=center>
<img src="images/shim.gif" width="158" height="3">

					<script>
					function opennews(link)
					{
						window.open(link);
					}
					</script>

					<APPLET CODE="NewsScroller.class" WIDTH=158 HEIGHT=160 ALIGN="LEFT">
					<PARAM NAME="BACKGROUND" VALUE="#FFFFFF">
					<PARAM NAME="FOREGROUND" VALUE="#666666">
					<PARAM NAME="PICTURE" VALUE="images/news-sfp.gif">
					<PARAM NAME="HEADCOLOR" VALUE="#666666">
					<PARAM NAME="CLICKCOLOR" VALUE="#666666">
					<PARAM NAME="SleepTime" VALUE="90">
					<PARAM NAME="FONT" VALUE="Arial">
					<PARAM NAME="FONTSIZE" VALUE="11">
					<PARAM NAME="TOPPAUSE" VALUE="800">
					<PARAM NAME="MOUSEPAUSE" VALUE="1">
					<PARAM NAME="DATAFILE" VALUE="news.txt">
					<PARAM NAME="SCROLLBY" VALUE="1">
					</APPLET>


    </td>
  </tr>
    <tr>
      <td bgcolor="#000000"><img src="images/shim.gif" height="1" width=158></td>
    </tr>

</table>


<!--- fine tabella news ---->
