        <p>
            Totale Importi Impegnati: <b>{%tot1%} Euro</b> <br/>
            Totale Importi Erogati: <b>{%tot2%} Euro</b> <br/>
            Totale Importi Richiesti: <b>{%tot3%} Euro</b>
        </p>