<!-- Inizio Ricerca -->
				<form class="nomargin" method="post" action="/index.phtml" id="trova">
					<fieldset><input type="hidden" name="pagina" id="pagina" value="search" />
						<input type="hidden" name="method" id="method" value="and" />
						<input type="hidden" name="format" id="format" value="long" />
						<input type="hidden" name="sort" id="sort" value="score" />
						<input type="hidden" name="config" id="config" value="pavia{%intra%}" />
						<input type="hidden" name="exclude" id="exclude" value="" />
						<input type="hidden" name="submit" id="submit" value="" />
						<input type="hidden" name="matchesperpage" id="matchesperpage" value="10" />
						<label for="cerca2" class="invisibile">Parola da cercare</label>
						<input class="cerca2" id="cerca2" type="text" name="words" alt="Inserisci la parola da cercare" /><br />
						<input type="image" src="/images/cerca.jpg" class="pulsante2" value="&nbsp;" />
					</fieldset>
			</form>
<!-- Fine Ricerca -->
