<!--  <h3>Errore nella ricerca Booleana per '<b>$(LOGICAL_WORDS)</b>'</h3>

Il messaggio di errore &egrave;: <b>$(SYNTAXERROR)</b>

<p>L'espressione Booleana deve essere 'corretta' perche'
il sistema di ricerca la utilizzi.</p>

<p>L'espressione inserita contiene degli errori.</p>

<p>Esempi di espressioni corrette sono: <b>gatto and cane</b>, <b>gatto
not cane</b>, <b>gatto or (cane not pastore)</b>.<br>Notare che
l'operatore <b>not</b> significa 'senza'.</p>-->
