<div id="box_uffici">
	<div class="bordoinfo">A chi rivolgersi</div>
	<div class="bordo">
		<p>
		<strong>Ufficio: {%ufficio_desc%}</strong><br />
		<span class="testo_piccolo">{%ufficio_ind%}</span><br />
		<strong>Contatti: {%ufficio_tel%}</strong><br />
		<span class="testo_piccolo">{%info_contatti%}</span><br />
		<strong>Orari di apertura al pubblico:</strong> {%ufficio_orari%}<br />
		<strong>Attivit&agrave; dell'ufficio presenti sul sito:</strong> {%ufficio_pagmenu%}<br />
		<strong>Avvisi/note:</strong> {%ufficio_note%}<br />
		</p>
	</div>
</div>