<?php
include "progetto.inc";
include $PROGETTO."/prepend.php3";
include "authpath.inc";
$db_corsi = new DB_CedCamCMS;
$db2 = new DB_CedCamCMS;
$id_categ_convegno=$Id_Categoria_Conv;
	
$campiobbl=array();
$campivalori=array();
$campietichette=array();
$sql="select * from CONVEGNI_T_Campi_Categoria ";
$sql.="where Id_Categoria_Conv=".$id_categ_convegno;
$sql.=" order by Ordine";
$sql_tutti=$sql;
$my_form="";

$my_form.="<link href=\"/CSS/style.css\" rel=\"stylesheet\" type=\"text/css\" />\n";
$my_form.="<link rel=\"stylesheet\" type=\"text/css\" href=\"/print.css\" media=\"print\" />\n";
//include $PROGETTO."/checkmoduli.inc";
		
$my_form.="<form enctype=\"multipart/form-data\" name=\"moduli\" action=\"/index.phtml\" method=\"post\" onsubmit=\"return validate_Validator(this)\">\n";

if ($display)
	$my_form.="<div class='moduli_disp'>";
else
$my_form.="<div class='moduli'>";
$my_form.="<input type=\"hidden\" name=\"Id_VMenu\" value=\"".$Id_VMenu."\">\n";
$db_corsi->query($sql);
while($db_corsi->next_record())
{
	$db_nome="campo_".$db_corsi->f("Id_Campo");
	//if(!(isset($$db_nome)))
	//	$$db_nome="";
	$obbl="";
	if($db_corsi->f('Tipo_Campo')==6) 
	{
		$my_form.="<div class=\"box1form\">";
	}
	else
	{
		$my_form.="<div class=\"box2form\">\n";
		$my_form.="<div class=\"form_label\">\n";
		if ($db_corsi->f('Obbligatorio')==1 && !($display) && ${$db_nome}=="")
			$obbl="(*) ";
		if($db_corsi->f('Label')!="")
		{
			$my_form.="<label for=\"".$db_nome."\">".$db_corsi->f('Label').$obbl." </label>";
			$my_form.="</div>\n";
		}
	}
	$my_form.="<div>\n";
	$valore_campo=${$db_nome};
	if (($display) && ($valore_campo=="")) $valore_campo="...";
	switch ($db_corsi->f('Tipo_Campo')) 
	{

		case 1:
			if ($display)
				$my_form.="<span class=\"display\">".$valore_campo."</span>";
			else
				$my_form.="<input type=\"text\" id=\"".$db_nome."\" name=\"".$db_nome."\" value=\"".$valore_campo."\" size=\"".$db_corsi->f('Lunghezza')."\" maxlength=\"".$db_corsi->f('Max_Lunghezza')."\">\n";
			break;
		case 2:
			$sql="select * from CONVEGNI_T_Valori_Campi_Categoria where Id_Campo=".$db_corsi->f("Id_Campo")." order by Valore";
			$db2->query($sql);
			$i=1;
			while($db2->next_record())
			{
				
				$valore=$db2->f("Valore");
				if ($i==1 && empty($$db_nome))
					$my_form.="&nbsp;&nbsp;<input type=\"radio\" name=\"".$db_nome."\" value=\"".$i."\" checked";
				elseif (${$db_nome}==$i)
					$my_form.="&nbsp;&nbsp;<input type=\"radio\" name=\"".$db_nome."\" value=\"".$i."\" checked";
				else
					$my_form.="&nbsp;&nbsp;<input type=\"radio\" name=\"".$db_nome."\" value=\"".$i."\"";
				if ($display)
					$my_form.=" disabled";
				$my_form.=">&nbsp;".$valore."<br />\n";
				$i++;
			}
			break;
		case 3:
			$sql="select * from CONVEGNI_T_Valori_Campi_Categoria where Id_Campo=".$db_corsi->f("Id_Campo")." order by Valore";
			$db2->query($sql);
			$i=1;
			while($db2->next_record())
			{
				$valore=$db2->f("Valore");
				$my_form.="<input type=\"checkbox\" name=\"".$db_nome.$i."\" value=\"".$i."\"";
				if (strlen(strstr(${$db_nome}, "|".$i."|"))>0)
					$my_form.=" checked";
				if ($display)
					$my_form.=" disabled";	
				$my_form.=">&nbsp;&nbsp;".$valore."<br />\n";
//						if ($i==1) ${$db_corsi->f('Nome')."_c".$i}=$obbl.${$db_corsi->f('Nome')."_c".$valore};
				$i++;
			}
			break;

		case 4:
			$sql="select * from CONVEGNI_T_Valori_Campi_Categoria where Id_Campo=".$db_corsi->f("Id_Campo")." order by Valore";
			$db2->query($sql);
			$i=1;
			if (!($display))
			{
				$my_form.="<select name=\"".$db_nome."\" id=\"s_".$db_nome."\">\n";
				$my_form.="<option value=\"0\">--</option> \n";
			}
			while($db2->next_record())
			{
				$valore=$db2->f("Valore");
				if($display)
				{
					if (${$db_nome}==$i)
						$my_form.=$valore;
				}
				else
				{
					$my_form.="<option value=\"".$i."\"";

					if (${$db_nome}==$i)
						$my_form.= "selected=\"selected\"";
					$my_form.="> ".$valore."</option>\n";
				}
				$i++;

			}
			if (!($display))
				$my_form.="</select>";
			break;

		case 5:
			if ($display)
				$my_form.="<span class=\"display\">".$valore_campo."</span>";
			else
				$my_form.="<textarea name=\"".$db_nome."\" rows=\"".$db_corsi->f('Lunghezza')."\" cols=\"".$db_corsi->f('Max_Lunghezza')."\">".$valore_campo."</textarea>";
			break;
		case 6:
				$my_form.="<span style='text-align:left;'>".$db_corsi->f('Testo_libero')."</span>";
				break;
			
	}
	$my_form.="</div>\n";
	$my_form.="<br style=\"clear: left;\">\n";
	$my_form.="</div>\n";
}
$my_form.="</div>\n";
$my_form.="</form>\n";
echo $my_form;

?>