</p>
<script type="text/php">
if ( isset($pdf) )
{
   // pagina N di N
   $font = Font_Metrics::get_font("verdana", "bold");
   $pdf->page_text(30, 12, "Pagina {PAGE_NUM} di {PAGE_COUNT}", $font, 12, array(0,0,0));
   $pdf->page_text(480, 12, "".date('d/m/Y H:i:s')."", $font, 12, array(0,0,0));
}
</script>
</body>
</html>