/************************************************AMMINISTRAZIONE*************************************************************/

.invisibile {display: none;}

p.admintool{text-align: right; padding: 5px 5px 0px 0px;}
p.finecentro{text-align: right; padding: 0px 50px 0px 0px;}
p.linkart{text-align: right; padding: 0px 10px 10px 10px;} 
p.indent {margin-left:2em;} 
p.basso {margin: 5px; padding: 0px;} 

div#articolo1_1 {
    
    background-color: #F7F7F7;
    
}

div#corpo {
    
    background-color: #F7F7F7;
    
}

div#centro2 table.sfondoTitoli{background-color:#CD4046;} 
div#centro2 td.sfondoTitoli{background-color:#CD4046;} 
div#centro2 th.tdHeader {background-color:#369A06; vertical-align: top; color: #ffffff; font-weight: bold;} 
div#centro2 td.tdDark {padding:3px; background-color:#EEEEEE; vertical-align: top; font: normal 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;} 
div#centro2 td.tdLight {padding:3px;background-color:#FFFFFF; vertical-align: top; font: normal 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;} 

div#centro2 a.tdHeader:LINK {color: #ffffff;text-decoration:none;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro2 a.tdHeader:ACTIVE {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro2 a.tdHeader:VISITED {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro2 a.tdHeader:HOVER {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}

div#centro table.sfondoTitoli{background-color:#CD4046;} 
div#centro td.sfondoTitoli{background-color:#CD4046;} 
div#centro th.tdHeader {background-color:#CD4046; vertical-align: top; color: #ffffff; font-weight: bold;} 
div#centro td.tdDark {padding:3px; background-color:#EEEEEE; vertical-align: top; font: normal 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;} 
div#centro td.tdLight {padding:3px;background-color:#FFFFFF; vertical-align: top; font: normal 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;} 

div#centro a.tdHeader:LINK {color: #ffffff;text-decoration:none;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro a.tdHeader:ACTIVE {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro a.tdHeader:VISITED {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro a.tdHeader:HOVER {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}

/*---------- STILI DELLE FORM ----------*/
form {
    margin: 3px 5px 5px 5px;
    padding: 0px;
}
form.nomargin {
    margin: 0px;
    padding: 0px;
}

/* stili form filtri.inc */
#form_filtri{
    text-align: left;
    width: 96%;
}
#form_filtri div{
    margin-bottom: 2px;
    align: left;
    
}

/* stili per la form presente in form.inc */
#form_moduli{
    width: 96%;
    border: 0px solid #000000;
    color: #000000;
    margin: 10px auto;
}
div.box2form div{
    float: left;
    width: 55%; \width: 59%; w\idth: 55%;
    padding: 0px 2% 2px;
    vertical-align: top;
    margin-top: 0.5em;
    font: normal 1.0em/1.4em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;
    text-align: left;
}

div.box2form div.mail_convegni{
    float: left;
    width: 35%; \width: 39%; w\idth: 35%;
    padding: 1px;
    vertical-align: top;
    margin: 0.5em 0em 0em 0.5em;
    font: normal 1.0em/1.4em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;
    text-align: left;
}

.input_convegni{
    margin: 0px 0px 0px 10px;
    padding: 1px;
    font-weight: bold;
    font-style: normal;
    vertical-align:middle;
    background: #D8E9FE;
    border: 1px solid #000;
    text-decoration:none;
    color:#000000;
}

div.box2form div.mail_convegni .input_convegni{
    color: #023f88;text-decoration:underline;font-weight: normal;
    background-color: #FFFFFF;
    border: 0px solid #000;
}

div.box2form .form_label_convegni{
    background: #F7F7F7;
    float: left;
    width: 40%; \width: 44%; w\idth: 40%;
    margin-top: 0.5em;
    padding: 2px;
    font-weight: bold;
}


div.box2form div div{
    float: left;
    width: 99%;
    padding: 0px 2%;
}
div.box2form .form_label{
    background: #F7F7F7;
    float: left;
    width: 80%; 
    padding: 0px 2% 2px;
    font-weight: bold;
}

div.box2form div.clearer2{
    float: none; clear: left;
}


div.azioni_int a {
    text-decoration:none;
    display:inline;
    padding:5px;
    margin-right:10px;
    margin-bottom:10px;
    margin-top:10px;
    color: #ffffff;
    font-weight: bold;
    background-color: #17314A;
}

div.azioni_int a:HOVER {
    background-color: #376FA6;
}

div.box2form textarea {
    
    width: 100%;
}

/*---------- TABELLE ----------*/
#tabella_elenchi{
    margin: 5px 15px;
    text-align: center;
    width:95%;
}
