/*************************************************CALENDAR******************************************************************/
div#barra_dx div#agenda {
text-decoration: none; 
color: #023f88; 
text-align: center;
}

.calendarHeader { 
text-decoration: none; 
background-color: #e5eff9;  
margin: 0px; 
padding: 0px;} 

.calendarHeader2 { 
text-decoration: none; 
color: #FFFFFF; 
background-color: #99ccff;  
margin: 0px; 
padding: 0px;
} 

.calendarToday { 
border: 1px solid #000000;
text-decoration: none;
background-color: #FFFFFF;
margin: 0px; 
padding: 0px;
} 

table#calendar { 
width: 200px;
border: 1px solid #cccccc; 
text-decoration: none;
background-color: #FFFFFF; 
margin: 0px;
padding: 0px;
}

/*
div#barra_dx div#agenda a.calendarLink:LINK {color: #023f88;text-decoration:underline; margin: 0px; padding: 0px;}
div#barra_dx div#agenda a.calendarLink:ACTIVE {color: #023f88;text-decoration:underline; margin: 0px; padding: 0px;}
div#barra_dx div#agenda a.calendarLink:VISITED {color: #023f88;text-decoration:underline; margin: 0px; padding: 0px;}
div#barra_dx div#agenda a.calendarLink:HOVER {color: #023f88;text-decoration:none; margin: 0px; padding: 0px;}
*/