/*---------------------------------------------------- FOOTER -----------------------------------------------------------------*/

#footer {
	font-size:1em;
	font-weight: bold;
	padding-bottom: 0px;
        padding-top: 0px;
        height:110px;
        margin-top:10px;
}
#footer #foot1{
	background: #002B4E;
	color: #000;
	border: 1px solid #FFF;
}
#footer #foot2{
    text-align: left;
    font-size:0.8em;
    font-weight: normal;
    border: 0px solid #002B4E;
    padding-left: 0px;
    padding-top: 0px;
}

ul.menuinferiore {
	margin: 0px 0px 0px 5px;
	padding: 3px 0px 3px 0px;
	vertical-align: middle;
}
li.menuinferiore {
	display: inline; 
	list-style-type: none;
	margin: 0; padding: 0;
}

.divisoremenuinferiore {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 1px;
	height:100%;
}

#footer a:LINK {color: #FFF; text-decoration:underline;font-weight: bold;}
#footer a:ACTIVE {color: #FFF; text-decoration:underline;font-weight: bold;}
#footer a:VISITED {color: #FFF; text-decoration:underline;font-weight: bold;}
#footer a:HOVER {color: #FFF; text-decoration:underline;font-weight: bold;}

#footer_pagina{
	height:80px;
	background-color:#ffffff;
	padding: 10px 0px 10px 0px;
}