/**********************************************************GENERALE****************************************************************/
body {
    font:80% Verdana, Arial, Helvetica, sans-serif;
    margin:0; padding:0;
}

hr { color: #5B5758; height: 1px; }

table{font: normal normal 1.0em/1.2em Verdana, Arial, Helvetica, sans-serif;}
.tablecenter{margin-left: auto; margin-right:auto;}

fieldset{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border: 0px solid #000000;
/*	width: 180px;*/
}
.bianco {color: #FFFFFF; font-weight:normal;}
.rosso {color: #ff0000; font-weight:normal;}
.verde {color: #008B2D; font-weight:normal;font-size:1.4em;}
.blu {color: #023f88; font-weight:normal;}
.blustrong {color: #023f88; font-weight:bold;}



ul { list-style-type: square;}
li { padding-bottom: 1em;}
a { color: #023f88; }

/*---------- STILI LINK ----------*/

a:LINK {color: #000000;text-decoration:underline;font-weight: normal;}
a:ACTIVE {color: #000000;text-decoration:underline;font-weight: normal;}
a:VISITED {color: #000000;text-decoration:underline;font-weight: normal;}
a:HOVER {color: #000000;text-decoration:underline;font-weight: normal;}

/*---------- STILI IMG ----------*/
img {border: 0px; margin:0px; padding: 0px;}
img.margine {margin-right: 10px; float: right;}
img.marginesx {margin-left: 10px;}
img.segue {margin-left: 5px;}
img.right{ margin:0 0 5px 5px; float: right;}
img.left{ margin:0 5px 5px 0; float: left;}

/*---------- STILI PARAGRAFI ----------*/
p {margin: 10px; padding: 0px;}
.center{text-align: center;}
.right{text-align: right;}
.left{text-align: left;}

/*---------- STILI H ----------*/
/*
h1,h2{margin: 5px;padding:5px}
h1{color: #0B8800;font: bold 1.6em/1.8em Verdana, Arial, Helvetica, sans-serif}
h2{color: #0B8800;font: bold 1.4em/1.6em Verdana, Arial, Helvetica, sans-serif}
*/
h1{ /*MZ140311 */
    color: #727273;font: normal 2.0em/1.6em Verdana, Arial, Helvetica, sans-serif;
    margin: 5px 0px 3px 0px;
    padding: 4px 0px; width:100%;
}
a.nosott:LINK {text-decoration:none;color: #0B8800;font-weight: normal;}
a.nosott:ACTIVE {text-decoration:none;color: #0B8800;font-weight: normal;}
a.nosott:VISITED {text-decoration:none;color: #0B8800;font-weight: normal;}
a.nosott:HOVER {text-decoration:none;color: #0B8800;font-weight: normal;}

h2{color: #000000;font: bold 1.1em/1.4em Verdana, Arial, Helvetica, sans-serif;border-bottom:1px #CCCCCC solid;padding-bottom:5px;}
h3{color: #0B8800;font: normal 1.0em/1.2em Verdana, Arial, Helvetica, sans-serif;
	margin: 5px 0px 3px 0px;
	padding: 4px 0px; width:60%;
}

/*---------- LABEL ----------*/
div#label{
	padding: 5px;
	width: auto;
	height: 120px;
	overflow: auto;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

/*-----------bordi div articoli---------*/
.bordo{
	border: 1px solid #023f88;
	padding: 5px;
}
.bordoalto{
	border-top: 1px solid #023f88;
}
.bordobasso{
	border-bottom: 1px solid #023f88;
}
.bordodestra{
	border-right: 1px solid #023f88;
}
.bordosinistra{
	border-left: 1px solid #023f88;
}

.bordoinfo{
	border-top: 1px solid #023f88;
	border-left: 1px solid #023f88;
	border-right: 1px solid #023f88;
	width:15%;
	text-align: center; background-color: #EEEEEE; color: #023f88; font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;

}

/*---------- classi articoli ----------*/
.sfondo {background: #f2f2f2;}

.sfonditab th {background: #EEEEEE; vertical-align:top;}
.sfonditab td {background: #f7f7f7; vertical-align:top;}


.giallino{ background-color: #fee9b9;}

.LabelForm{
    font-weight: bold;
    text-align: center;
    background-color: #016D00;
    background: url('/images/labelform.jpg') repeat-x; 
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 18px;
}

.colore_bg{color:#B43E97;}

.colore_bs{color:#00B0BD;}

.colore_co{color:#00BCE8;}

.colore_cr{color:#F99D1C;}

.colore_lc{color:#71AB74;}

.colore_lo{color:#8F2264;}

.colore_mn{color:#4DB848;}

.colore_mi{color:#95A801;}

.colore_mb{color:#F1592A;}

.colore_pv{color:#F58233;}

.colore_so{color:#4978BC;}

.colore_va{color:#F3C837;}

.testo_medio{font-size:1.3em;}

.testo_grande{font-size:1.4em;}
