#centro td {
padding: 5px;
margin: 0px;
border: 0px solid #D8E9FE;
}
/*

#centro table {
padding: 5px;
margin: 0px;
border: 0px solid #FFE9B9;
}
*/

#centro th {
padding: 5px;
margin: 0px;
border: 0px solid #FFE9B9;
}

/* Impostazioni per pagine multimedia */

div.multimedia_titolo {
	height: 20px !important;
	margin: 20px 0px 20px 50px !important;
	font-family: Arial !important;
	font-size: 16px !important;
	font-weight: bold !important;
	color: #023F88 !important;
}

div.multimedia_audio_video {
	display:block !important;
	position:relative !important;
	width:700px !important;
	height:auto !important;
	font-style:italic !important;
	color:#000 !important;
	background:#fff !important;
	z-index:100 !important;
	font-size:11px !important;
	margin: 10px 0px 0px 50px !important;
}

div.multimedia_single_image_container {
	height:auto !important;
	width: 90% !important;
	margin-left: 50px !important;
}

div.multimedia_single_image {
	margin: 5px 5px 0px 0px !important;
	border: 1px solid #000 !important;
}

div.multimedia_descrizione {
	font-style: normal !important;
	font-size: 11px !important;
	height: auto !important;
}

div.navigazione {
	border-bottom: 1px solid #023f88 !important;
	border-left: 1px solid #023f88 !important;
	border-right: 1px solid #023f88 !important;
	width: 710px !important;
	height: 20px !important;
	text-align: left !important;
	background-color: #EEEEEE !important;
	color: #023f88 !important;
	font-weight: bold !important;
	margin-bottom: 20px !important;
}

table.table_navigazione {
	border-collapse: collapse !important;
	border-color: transparent !important;
	margin-left: -10px !important;
	margin-right: 100px !important;
	width: 100% !important;
}

div.box1 div.bordomm{
	border-top: 1px solid #023f88;
	border-left: 1px solid #023f88;
	border-right: 1px solid #023f88;
	width:40%;
	text-align: left; background-color: #EEEEEE; color: #023f88; font-weight: bold;
	margin-left: 10px;
	margin-top: 20px;
}

div.box1 div.bordommsotto{
	border: 1px solid #023f88;
	overflow: auto;
	/* height: 160px; */
	height: 340px;
}

div.box1 div.bordommsotto div.multimedia {
	width: 130px;
	height: 160px;
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
	border-right: 1px solid #ccc;
}

div.box1 div.bordommsotto div.multimedia img.mm1{
	width: 80px;
	float: left;
}

div.box1 div.bordommsotto div.multimedia img.mm2{
	margin-right:10px;
	float: right;
}

table.delibere td p{padding-top:5px; margin:0;}


div#navigation{background-color: #fff;border-bottom: 5px solid #008A2D;padding-top:20px;padding-left: 20px}
div#navigation ul{font-size: 1.2em; list-style-type: none;margin: 5px 2px;padding: 0;white-space: nowrap;}
div#navigation li{display: inline;margin: 0;padding:0}
div#navigation li a{text-decoration: none;border: 0px solid #787878;padding: 4px 12px;
    background: #ecedef;color: #000;}
div#navigation li a:hover{background-color: #008A2D; color:#fff;}
div#navigation li#activelink a{border-bottom: 0px solid #fff;background-color: #008A2D;color: #fff;font-weight: bold;}
