/******************************************************MAPPA********************************************************************/

div#centro2 ul#mappa{
	margin: 5px;
	padding: 5px 50px 5px 50px; 
	list-style-type: none;
	color:#000080;
}
div#centro2 li.titolo{
	margin: 0;
	padding: 3px 0px 3px 2px;
	background-color: #005E9D;
	font-weight: bold; 
	text-align: center;
	border: 1px solid #005E9D;
	color:#ffffff;
}
div#centro2 li.sottotitolo{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro2 li.mappa1{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #ECEDEF;
	font-weight: bold;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro2 li.mappa2{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro2 li.mappa2dis{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
	background-color:#156C03;
}
div#centro2 li.mappa2sel{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro2 li.mappa3{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro2 li.mappa4{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro2 li.mappa1G{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #ffe88c;
	font-weight: bold;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro2 li.mappa2G{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro2 li.mappa3G{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro2 li.mappa4G{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro2 li.label{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #005E9D; 
	color:#fff;
	font-weight: bold;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro2 a.mappa1{
	color:#000000;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	text-decoration: none;
}
div#centro2 a.mappa1:hover{
	color: #000000;
	text-decoration: underline
}
/*div#centro2 a.mappa1dis{color:#808080;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div#centro2 a.mappa1dis:hover{color: #808080;text-decoration: underline}*/
div#centro2 a.mappa2{
	color:#000000;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	text-decoration: none;
}
div#centro2 a.mappa2:hover{
	color: #000000;
	text-decoration: underline;
}


/*div#centro2 a.mappa2dis{color:#808080;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div#centro2 a.mappa2dis:hover{color: #808080;text-decoration: underline}*/
div#centro2 a.mappa3{
	color:#000000;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	text-decoration: none;
}
div#centro2 a.mappa3:hover{
	color: #000000;
	text-decoration: underline;
}
/*div#centro2 a.mappa3dis{color:#808080;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div#centro2 a.mappa3dis:hover{color: #808080;text-decoration: underline}*/
div#centro2 a.mappa4{
	color:#000000;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	text-decoration: none;
}
div#centro2 a.mappa4:hover{
	color: #000000;
	text-decoration: underline;
}
/*div#centro2 a.mappa4dis{color:#808080;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div#centro2 a.mappa4dis:hover{color: #808080;text-decoration: underline}*/

.mappa1{font-size:1em;line-height:1.2em;color: #000;}
.mappa2{font-size:1em;line-height:1.2em;color: #000;}
.mappa3{font-size:1em;line-height:1.2em;color: #000;}


/******************************************************MAPPA********************************************************************/

div#centro3 ul#mappa{
	margin: 5px;
	padding: 5px 50px 5px 50px; 
	list-style-type: none;
	color:#000080;
}
div#centro3 li.titolo{
	margin: 0;
	padding: 3px 0px 3px 2px;
	background-color: #005E9D;
	font-weight: bold; 
	text-align: center;
	border: 1px solid #005E9D;
	color:#ffffff;
}
div#centro3 li.sottotitolo{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro3 li.mappa1{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #ECEDEF;
	font-weight: bold;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro3 li.mappa2{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro3 li.mappa2dis{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
	background-color:#156C03;
}
div#centro3 li.mappa2sel{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro3 li.mappa3{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro3 li.mappa4{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro3 li.mappa1G{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #ffe88c;
	font-weight: bold;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro3 li.mappa2G{
	margin: 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}
div#centro3 li.mappa3G{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro3 li.mappa4G{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #FFFFFF;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro3 li.label{
	margin: 0px 0px;
	padding: 2px 0px 2px 2px ;
	background-color: #005E9D; 
	color:#fff;
	font-weight: bold;
	border-left: 1px solid #005E9D;
	border-right: 1px solid #005E9D;
	border-bottom: 1px solid #005E9D;
}

div#centro3 a.mappa1{
	color:#000000;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	text-decoration: none;
}
div#centro3 a.mappa1:hover{
	color: #000000;
	text-decoration: underline
}
/*div#centro3 a.mappa1dis{color:#808080;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div#centro3 a.mappa1dis:hover{color: #808080;text-decoration: underline}*/
div#centro3 a.mappa2{
	color:#000000;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	text-decoration: none;
}
div#centro3 a.mappa2:hover{
	color: #000000;
	text-decoration: underline;
}


/*div#centro3 a.mappa2dis{color:#808080;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div#centro3 a.mappa2dis:hover{color: #808080;text-decoration: underline}*/
div#centro3 a.mappa3{
	color:#000000;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	text-decoration: none;
}
div#centro3 a.mappa3:hover{
	color: #000000;
	text-decoration: underline;
}
/*div#centro3 a.mappa3dis{color:#808080;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div#centro3 a.mappa3dis:hover{color: #808080;text-decoration: underline}*/
div#centro3 a.mappa4{
	color:#000000;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	text-decoration: none;
}
div#centro3 a.mappa4:hover{
	color: #000000;
	text-decoration: underline;
}
/*div#centro3 a.mappa4dis{color:#808080;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div#centro3 a.mappa4dis:hover{color: #808080;text-decoration: underline}*/


