#barra_sx ul{
	margin: 0px 0px;
	padding: 0px; 
	list-style: none;
	border-bottom: 1px solid #D6161C;
	background-color: #FFFFCC;
	font-weight: bold;
}
#barra_sx li{
	display: block; 
	margin: 0;
	padding: 0;
}
#barra_sx li a
{
	display: block;
	width: 150px;
	padding: 3px 0 3px 3px;
	text-decoration: none;
	font-weight: normal;
}
#barra_sx a:hover{
	color: #cc0000;
	text-decoration: underline}

#barra_sx li.titolo{
	text-align: center; 
	margin: 0px;
	padding: 5px 0px;}
#barra_sx li.label{
	text-align: center; 
	margin: 0px;
	padding: 5px 0px;
	background-color: #FECA34;
	border-top: 1px solid #BD2918;
}
#barra_sx li.menu1 a{
	color: #000000;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #BD2918;
	background-color: #FFFFCC;
	padding: 2px;
	padding-left: 3px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin: 0px;
	width: 160px;
	text-align: left;
}
#barra_sx li.menu1 a:hover{
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
	padding: 3px 1px 1px 4px;
	background-color: #FFFFDD;
	color: #000;
	text-decoration: none;
}
#barra_sx li.menu1sel a{
	color: #CC0000;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #BD2918;
	background-color: #FFFFCC;
	padding: 2px 2px 2px 3px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin: 0px;
	width: 160px;
	text-align: left;
}
#barra_sx li.menu1sel a:hover{
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
	padding: 3px 1px 1px 4px;
	background-color: #FFFFDD;
	color: #CC0000;
	text-decoration: none;
}
#barra_sx li.menu2 a{
	color: #000000;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #BD2918;
	background-color: #FFFFCC;
	background-image: url(/images/d-dot.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	text-decoration: none;
	display: block;
	margin: 0px;
	width: 149px;
	text-align: left;
	padding: 2px 1px 2px 15px;
}
#barra_sx li.menu2 a:hover{
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
	background-color: #FFFFDD;
	background-image: url(/images/d-dot.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	color: #000;
	text-decoration: none;
	padding: 3px 0px 1px 16px;
}
#barra_sx li.menu2sel a{
	color: #CC0000;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #BD2918;
	background-color: #FFFFCC;
	background-image: url(/images/d-dot.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	text-decoration: none;
	display: block;
	margin: 0px;
	width: 149px;
	text-align: left;
	padding: 2px 1px 2px 15px;
}
#barra_sx li.menu2sel a:hover{
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
	background-color: #FFFFDD;
	background-image: url(/images/d-dot.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	color: #CC0000;
	text-decoration: none;
	padding: 3px 0px 1px 16px;
}

#barra_sx li.menu3 a{
	color: #000000;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #BD2918;
	background-color: #FFFFCC;
	background-image: url(/images/punto-menu2.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	text-decoration: none;
	display: block;
	margin: 0px;
	width: 136px;
	text-align: left;
	padding: 5px 1px 5px 28px;
}
#barra_sx li.menu3 a:hover{
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
	background-color: #FFFFDD;
	background-image: url(/images/punto-menu2.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	color: #000;
	text-decoration: none;
	padding: 6px 0px 1px 29px;
}
#barra_sx li.menu3sel a{
	color: #CC0000;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #BD2918;
	background-color: #FFFFCC;
	background-image: url(/images/punto-menu2.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	text-decoration: none;
	display: block;
	margin: 0px;
	width: 136px;
	text-align: left;
	padding: 5px 1px 5px 28px;
}
#barra_sx li.menu3sel a:hover{
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
	background-color: #FFFFDD;
	background-image: url(/images/punto-menu2.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	color: #CC0000;
	text-decoration: none;
	padding: 6px 0px 1px 29px;
}