/*
 Siexpo 2015 Styles
*/

h4{color: #000000;font: normal 1.2em/1.4em 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	margin: 10px 10px 20px;
	padding: 0px 0px; width:80%;
}

h5 {	
	color: #369A06 !important;
	font: bold 1.0em/1.2em 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	margin: 10px 10px 10px;
	padding: 0px 0px; width:80%;
}

a.lkFiles {
	color: #119a42 !important;
	font: bold 1.0em/1.2em 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px;
	padding: 0px 0px; width:80%;
}

p.nomeAzienda{
	color: #5d5d5c;
	font: normal 1.0em 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
	width:100%;
}

p.nomeParam{
	color: #5d5d5c;
	font: normal 1.0em 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
	width:100%;
}

p.certName{
	color: #5d5d5c;
	font: normal 1.0em 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
	width:100%;
}

#nomeProd{
	margin-top: 30px;
	margin-left: 35px;
}

h6 {
	color: #5d5d5c;
	font: normal 1.0em 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
	width:100%;
}

h7 {
	color: #5d5d5c;
	font: bold 1.0em 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
	width:100%;
}


ul.siexpo { /* that's your list */
position: relative;
left: 30px;
font: 13px 'Open Sans', Verdana;
list-style-type: decimal;
margin: 0px;
padding: 2px;

}
ul.siexpo li {
color: #369A06;
/*width: 95px;*/
}
ul.siexpo a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: 13px 'Open Sans', Verdana;
margin: 0 50px 0 0;
} 
ul.siexpo span {
margin: 0 10px 0 0;
} 

ol.siexpo { /* that's your list */
position: relative;
left: 30px;
font: 13px 'Open Sans', Verdana;
list-style-type: decimal;
margin: 0px;
padding: 2px;

}
ol.siexpo li {
color: #369A06;
/*width: 95px;*/
}
ol.siexpo a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: 13px 'Open Sans', Verdana;
margin: 0 50px 0 0;
} 
ol.siexpo span {
margin: 0 10px 0 0;
}

.button {
font-family: 'Open Sans', arial;
font-weight: bold;
color: #000000 !important;
font-size: 14px;
text-shadow: 1px 1px 0px #4F9965;
box-shadow: 1px 1px 1px #BEE2F9;
padding: 5px 80px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 2px solid #56A66E;
background: #63B8EE;
background: linear-gradient(top, #369A06, #59AB71);
background: -ms-linear-gradient(top, #369A06, #59AB71);
background: -webkit-gradient(linear, left top, left bottom, from(#369A06), to(#59AB71));
background: -moz-linear-gradient(top, #369A06, #59AB71);
}
.button:hover {
color: #14396A;
background: #468CCF;
background: linear-gradient(top, #7DF2A0, #64C281);
background: -ms-linear-gradient(top, #7DF2A0, #64C281);
background: -webkit-gradient(linear, left top, left bottom, from(#7DF2A0), to(#64C281));
background: -moz-linear-gradient(top, #7DF2A0, #64C281);
}
.buttons {
font-family: 'Open Sans', arial;
font-weight: bold;
color: #000000 !important;
font-size: 14px;
text-shadow: 1px 1px 0px #4F9965;
box-shadow: 1px 1px 1px #BEE2F9;
padding: 3px 50px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 2px solid #56A66E;
background: #63B8EE;
background: linear-gradient(top, #369A06, #59AB71);
background: -ms-linear-gradient(top, #369A06, #59AB71);
background: -webkit-gradient(linear, left top, left bottom, from(#369A06), to(#59AB71));
background: -moz-linear-gradient(top, #369A06, #59AB71);
}
.buttons:hover {
color: #14396A;
background: #468CCF;
background: linear-gradient(top, #7DF2A0, #64C281);
background: -ms-linear-gradient(top, #7DF2A0, #64C281);
background: -webkit-gradient(linear, left top, left bottom, from(#7DF2A0), to(#64C281));
background: -moz-linear-gradient(top, #7DF2A0, #64C281);
}

.buttonsLista {
font: 'Open Sans', arial;
font-weight: bold !important;
color: #ffffff !important;
font-size: 13px;
text-shadow: 1px 1px 0px #4F9965;
box-shadow: 1px 1px 1px #BEE2F9;
padding: 1px 15px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 2px solid #369A06;
background: #369a06;
background: linear-gradient(top, #369A06, #369a06);
background: -ms-linear-gradient(top, #369A06, #369a06);
background: -webkit-gradient(linear, left top, left bottom, from(#369A06), to(#369a06));
background: -moz-linear-gradient(top, #369A06, #369a06);
}
/*.buttonsLista:hover {
color: #14396A;
background: #468CCF;
background: linear-gradient(top, #7DF2A0, #64C281);
background: -ms-linear-gradient(top, #7DF2A0, #64C281);
background: -webkit-gradient(linear, left top, left bottom, from(#7DF2A0), to(#64C281));
background: -moz-linear-gradient(top, #7DF2A0, #64C281);
}*/



#siexpo_filtri {
    background-color: #e6e6e6;
	background-repeat: no-repeat;
	float:left;
	width:43%;
	height: 550px;
}

#centro4 { /* x la form navigazione */
	background-color: #fff;
	background-repeat: no-repeat;
	float:left;
	width:56%;
	height: 100%;
	margin-left: 5px;
	margin-top: 4px;
}

#siexpo_filtri_sx {
    background-color: #fff;
	background-repeat: no-repeat;
	float:left;
	width:50%;
	height: 550px;
	text-
}

#siexpo_filtri_dx {
    background-color: #fff;
	background-repeat: no-repeat;
	float:left;
	width:48%;
	height: 550px;
	margin-left: 5px;
}

div#siexpo_int_div{
	width: 98%;
	margin-left: 5px;
}

/*---------- TABELLE ----------*/
#tabella_siexpo{
    margin: 5px 15px;
    text-align: center;
    width:95%;
    border-collapse: collapse;
}

#siexpo_int_chk{
	width: 95%;
	margin-left: 5px;
	margin-bottom:5px;
	background-color: #e6e6e6;
}

.checkbox{
	float:right;
	margin-right: 10px;
	margin-top: 5px;
	font-weight: 12px;
}

div#centro4 table.sfondoTitoli{background-color:#CD4046;}
div#centro4 tr.trBorder{border-bottom: 1px solid #ccc;}
div#centro4 td.sfondoTitoli{background-color:#CD4046;} 
div#centro4 th.tdHeader {background-color:#016D00; vertical-align: top; color: #ffffff; font-weight: bold;} 
div#centro4 td.tdDark {padding:3px; background-color:#EEEEEE; vertical-align: top; font: normal 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;} 
div#centro4 td.tdLight {padding:3px;background-color:#FFFFFF; vertical-align: top; font: normal 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;} 

div#centro4 a.tdHeader:LINK {color: #ffffff;text-decoration:none;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro4 a.tdHeader:ACTIVE {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro4 a.tdHeader:VISITED {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}
div#centro4 a.tdHeader:HOVER {color: #ffffff;text-decoration:underline;font: bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;}

div#comit_sx{
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	float:left;
	width:430px;
	height: 460px;
}

div#comit_dx{
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	float:left;
	width:550px;
	height: 460px;
	margin-left: 10px;
}

p#comit_sx1{
	margin-left:50px;
}

td#comit_sx1{
	background-color: #fff;
	background-repeat: no-repeat;
	font : bold 14px 'Open Sans', Arial, Verdana, Geneva, Helvetica, sans-serif;
	float:left;
	width:430px;
	height: 60px;
	text-align: left;
	margin-bottom: 5px;
}

td#comit_sx2{
	background-image: url(/images/upload/comitati.jpg);
	background-repeat: no-repeat;
	width:430px;
	height: 400px;
	text-align: left;
}

div#articolo1.1{
	background-color: #343498;
	font : 11px 'Open Sans', Arial, Verdana, Geneva, Helvetica, sans-serif;
	float: left;
	width:900px;
	height: 460px;
	color: white;
	text-align: left;
	vertical-align:text-top;
}

div#comit_dx1{
	background-color: #343498;
	font : 11px 'Open Sans', Arial, Verdana, Geneva, Helvetica, sans-serif;
	float: left;
	width:185px;
	height: 460px;
	color: white;
	text-align: left;
	vertical-align:text-top;
}

div#comit_dx2{
	background-color: #98cf00;
	font : 11px 'Open Sans', Arial, Verdana, Geneva, Helvetica, sans-serif;
	float: left;
	width:180px;
	height: 460px;
	color: white;
	vertical-align:text-top;
	margin-left: 5px;
}

div#comit_dx3{
	background-color: #fff;
	background-repeat: no-repeat;
	font : 11px 'Open Sans', Arial, Verdana, Geneva, Helvetica, sans-serif;
	float: left;
	width:180px;
	height: 460px;
	vertical-align:text-top;
	margin-left: 5px;
}

div#Siexpo_formMail{
	background-color: #fff;
	padding-left: 15px;
}

/* Configurazione Due aree principali della Scheda prodotto */
body#bodyCol{
	background-color: #fff !important;
}

#barraProd_sx {
    background-color: #fff;
	background-repeat: no-repeat;
	float:left;
	width:53%;
	height: 900px;
}

#barraProd_dx { /* x la form navigazione */
	background-color: #fff;
	background-repeat: no-repeat;
	float:left;
	width:46%;
	height: 900px;
	margin-left: 1px;
	/*margin-top: 4px;*/
}

/* Fine Conf. Aree principali */

/* Configurazione menu scheda prodotto */

ul#Prod_Menu {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
ul#Prod_Menu li {
    background-color: #dbdada;
    display: block;
    width: 32%;
    height: 20px;
    margin-left: 3px;
    float: left; /* elementi su singola riga */
}
 
ul#Prod_Menu li a {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    width: 170px;
    height: 20px;
    text-align: center;
}
 
ul#Prod_Menu li.active {
    color: #fff;
    background-color: #009847;
}

ul#Prod_Menu li:hover {
	color: #fff;
    background-color: gray;
}

/* Configurazioni Colonne Colonne Body*/

#CorpoAzienda {
	background-repeat: no-repeat;
	float:left;
	width:100%;
	height: 100%;
	margin-left: 10px;
	font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 14px;
	color: #6c6c6b !important;
	line-height: 17px;
}

#PagRef{
	margin-top: 25px;
}

#RigaRef{
	margin-top: 15px;
	margin-left: 10px;
	height: 250px;
}

#CorpoCol1 {
	background-repeat: no-repeat;
	float:left;
	width:49%;
	height: 100%;
	margin-left: 10px;
	font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 13px;
	color: #6c6c6b !important;
}

#CorpoCol2 { /* x la form navigazione */
	background-repeat: no-repeat;
	float:left;
	width:45%;
	height: 100%;
	margin-left: 15px;
	font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 13px;
	color: #6c6c6b !important;
	/*margin-top: 4px;*/
}

/* Fine conf Colonne Body */

/* Fine config. Scheda prodotto */

/* Config. Barre laterali schede prodotto */

#colProd_dx1 {
    background-color: #ededed;
	background-repeat: no-repeat;
	float:left;
	width:49%;
	height: 100%;
}

#colProd_dx2 { /* x la form navigazione */
	background-color: #ededed;
	background-repeat: no-repeat;
	float:left;
	width:49%;
	height: 100%;
	margin-left: 1px;
	/*margin-top: 4px;*/
}

#titleBarraProd_dx1{
	font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 15px;
	font-weight: bold;
	color: #fff !important;
	background-color: gray;
	text-align: center;
	height: 20px;
	margin: 0;
    padding: 0;
    line-height: 20px;
}

#titleBarraProd_dx2{
	font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 15px;
	font-weight: bold;
	color: #fff !important;
	background-color: gray;
	text-align: center;
	height: 20px;
	margin: 0;
    padding: 0;
    line-height: 20px;
}

/* Fine config Barre laterali scheda prodotto*/