h3 {width:99%;}
table.tmpl {width:99%;}
textarea {width: 98%}
div#navigation li a {width: 98%;}

div#azioni_int a:LINK {text-decoration:none;display:inline-block;border:1px solid black; padding:5px; margin-left:0px; margin-right:10px; margin-bottom:10px; margin-top:10px; background-color:#a3181f; color:#FFFFFF;}
div#azioni_int a:ACTIVE {text-decoration:underline;display:inline-block;border:1px solid black;padding:5px; margin-left:0px; margin-right:10px; margin-bottom:10px; margin-top:10px; background-color:#a3181f; color:#FFFFFF;}
div#azioni_int a:VISITED {text-decoration:none;display:inline-block;border:1px solid black;padding:5px; margin-left:0px; margin-right:10px; margin-bottom:10px; margin-top:10px; background-color:#a3181f; color:#FFFFFF;}
div#azioni_int a:HOVER {text-decoration:underline;display:inline-block;border:1px solid black;padding:5px; margin-left:0px; margin-right:10px; margin-bottom:10px; margin-top:10px; background-color:#a3181f; color:#FFFFFF;}

/*---------- LABEL ----------*/
div#label{
	width: 95%;
}

input.cerca2 {
	line-height:30px;
}

div#barra_dx div#footer_login{
	margin:0px 0px 0px 1px; 

}