@CHARSET "UTF-8";

#ricerca {
    /*border:1px solid black;  */
    width:830px; 
}

#datiRicerca {
    border:1px solid #666666; 
    margin:0px; 
    padding:0px; 
    width:230px;
    float: left;

}

#risultoRicerca {
    width:590px;
    float: left; 
}

#testoLingua {

    margin:0px; 
    padding:0px; 
    float: left;

}
/*COLLAPSE*/
/*#testoLingua #navigation,
#testoLingua #content{
    width: 100%;
}*/


#datiRicerca #navigation {
    width:215px;
}

#datiRicerca #content {
    width:230px;
}

#testoLingua #navigation,
#testoLingua #content,
#datiRicerca #navigation,
#datiRicerca #content {
    float:left;
    margin:10px;
}

#testoLingua .collapsible,
#testoLingua .page_collapsible{
    width: 85%;
}
#datiRicerca .collapsible,
#datiRicerca .page_collapsible {
    width: 200px;
}
#testoLingua .collapsible,
#testoLingua .page_collapsible,
#datiRicerca .collapsible,
#datiRicerca .page_collapsible {
    margin: 0;
    padding:10px;
    height:auto;
    max-height: 40px;
    min-height: 25px;   
    border-top:#f0f0f0 1px solid;
    background: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: #000;
    font-size:12px;

}

#testoLingua .collapse-open,
#datiRicerca .collapse-open {
    background:#666666;
    color: #fff;
}

#testoLingua .collapse-open span,
#datiRicerca .collapse-open span {
    background:url(/images/expo2015/freccia_giu_bianco.png) center center no-repeat;
    display:block;
    float:left;
    padding:10px;
    width: 13px;
    padding-top: 5px;
}

#testoLingua .collapse-close span,
#datiRicerca .collapse-close span {
    display:block;
    float:left;
    background:url(/images/expo2015/freccia_destra_grigio.png) center center no-repeat;
    padding:10px;
    width: 13px;
    padding-top: 5px;
}

#testoLingua div.container {
    padding:0;
    margin:0;
}

#datiRicerca div.container {
    padding:0;
    margin:0;
    width: 200px;
}

#testoLingua div.content
#datiRicerca div.content {
    background:#f0f0f0;
    margin: 0;
    padding:10px;
    font-size:.9em;
    line-height:1.5em;
    font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
/*
#datiRicerca div.content ul,#datiRicerca div.content p {
    margin:0;
    padding:3px;
}

#datiRicerca div.content ul li {
    list-style-position:inside;
    line-height:25px;
}

#datiRicerca div.content ul li a {
    color:#555555;
}
*/
#testoLingua code,
#datiRicerca code {
    overflow:auto;
}

/*FINE COLLPSE*/

#coprente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background:rgba(0, 0, 0, 0.5);  
    display: none;
    z-index: 10;

}

.coprente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background:rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;

}

#box_popup {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 900px;
    height: auto;
    max-height: 500px;
    background: #FFF;
    z-index: 11;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#close {
    position: absolute;
    top: 10%;
    left: 21%;
    width: 900px;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    z-index: 12;
}


.lineTable{
    background: #CDCDCD;
    bgound:#CDCDCD;
}
.navPage{
    height: 30px;
    line-height: 30px;
    width: auto;
    position:absolute;
    bottom:0;
   
}

a.tooltip {outline:none; }
a.tooltip img {vertical-align: middle; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:240px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}