/****************************************************STRUTTURA TEMPLATE***********************************************************/
/* le 3 parti del template */
/* centrare la pagina web a larghezza fissa */
body { text-align:center; }
#testa { width:100%; margin:0em auto; text-align:left }
#corpo { width:100%; margin:0em auto; text-align:left }
#footer { width:100%; margin:0em auto; text-align:left }

/*--------------------------------------------------TESTA-------------------------------------------------------------------*/
/* TESTA composta da: header (header1) - toolbar (toolbar_sx - toolbar_dx) - path*/
/* <> = spazio vuoto */

#testa {
	border:0px solid #000;
}

/*----------- HEADER -----------*/
#testa #header1{
	height: 118px;
	background-color: #FFFFFF;
	background: url('/images/foto_cciaa.jpg') no-repeat;
	background-position: 100% 0px;
	border-top:  0px solid #CC0000;
	border-bottom:  2px solid #FFFFFF;
	margin: 0px; padding: 0px;
}

/*---------- TOOLBAR ----------*/
#toolbar{
	position: relative;
	background-color: #023F88;
	border-bottom: 2px solid #FFFFFF;
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: middle;
	height: 1.5em;
	color: #000;
}

#toolbar a:LINK {color: #FFFFFF; text-decoration:none;font-weight: normal;}
#toolbar a:ACTIVE {color: #FFFFFF; text-decoration:none;font-weight: normal;}
#toolbar a:VISITED {color: #FFFFFF; text-decoration:none;font-weight: normal;}
#toolbar a:HOVER {color: #FFFFFF; text-decoration:underline;font-weight: normal;}

#toolbar a.toolbar:LINK {color: #FFFFFF;background-color: trasparent; text-decoration:none;font-weight: normal;padding: 2px 4px;}
#toolbar a.toolbar:ACTIVE {color: #FFFFFF;background-color: trasparent; text-decoration:none;font-weight: normal;padding: 2px 4px;}
#toolbar a.toolbar:VISITED {color: #FFFFFF;background-color: trapsarent; text-decoration:none;font-weight: normal;padding: 2px 4px;}
#toolbar a.toolbar:HOVER {color: #FFFFFF;background-color: trasparent; text-decoration:underline;font-weight: normal;padding: 2px 4px;}

#toolbar #toolbar_sx{
	float:left;
	margin: 0px;
	text-align: left;
}
#toolbar #toolbar_dx{
	float:right;
	margin: 0px;
	padding: 0px;
	text-align: right;
	width: 55px;
}
#toolbar #toolbar_dx div{
	float:left;
}

ul.menusuperiore {
	color: #FFF;
	margin: 0px 0px 0px 5px;
	padding: 3px 0px 3px 0px;
	vertical-align: middle;
}
li.menusuperiore {
	display: inline; 
	list-style-type: none;
	margin: 0; padding: 0;
}

.divisoremenusuperiore {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 1px;
	height:100%;
}

/*---------- PATH ----------*/
#path{
	position: relative;
	background-color: #FEE9B9; 
	color: #000;
	margin: 0px;
	padding: 0px 10px;
	height: 1.8em;
	text-align: left;
	vertical-align: middle;
}
#path a:LINK { font-size: 1.0em; line-height: 1.6; color: #000; text-decoration:none; font-weight: bold;}
#path a:ACTIVE { font-size: 1.0em; line-height: 1.6; color: #000;text-decoration:underline; font-weight: bold;} 
#path a:VISITED { font-size: 1.0em; line-height: 1.6; color: #000;text-decoration:none; font-weight: bold;}
#path a:HOVER { font-size: 1.0em; line-height: 1.6; color: #000;text-decoration:underline; font-weight: bold;}

#path #path_sx{
	float:left;
	margin: 0px;
	text-align: left;
	width: 45em;
}
#path #path_dx{
	float:right;
	margin: 0px;
	padding: 1px 0px;
	width: 12em;
	text-align: right;
}

/*---------- MOTORE DI RICERCA ----------*/

input.cerca2 {
	font: normal 1.0em/1.2em Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 0px;
	margin: 0px;
	width: 6em;
	height: 1.2em;
}
    
input.pulsante2 {
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	color: #000000;
	background-color: #cccccc;
	text-align: center;
	padding: 0px;
	margin: 0px;
	height: 1.4em;
	border: 1px solid #999999;
}
