<!-- Header -->
<?php
if (empty($tmpl))
    $tmpl = "1";

include_once $PROGETTO . "/globals.inc";
include_once $PROGETTO . "/lang.inc";
include_once $PROGETTO . "/globals_tmpl.inc";
include_once $PROGETTO . "/header.inc";

?>

<table width="{%total_width%}" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#FFFFFF">
            <img src="/images/shim.gif" width="1" height="1" border="0">
        </td>
    </tr>
</table>
<!-- Inizio Corpo  -->
<!-- Barra di Sinistra -->
<table width="<?php echo $total_width; ?>" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="<?php echo $left_width; ?>" height="<?php echo $left_height; ?>" valign="top" align="left" background="<?php echo $left_bg; ?>">
            <?php
            ?>
        </td>

        <!-- Centro -->
        <?php
        echo "\n";
//echo "<td WIDTH=\"".$margine."\" valign=\"top\" align=\"center\"><img src=\"/images/shim.gif\" width=\"5\"></td>\n";
        if ($template[$tmpl]["right_item"] == "") {
            $center_width1 = $center_right_width - $margine;
            $center_width2 = $center_right_width;
        } else {
            $center_width1 = $center_width;
            $center_width2 = $center_width - $margine;
        }

        if ($pagina != "") {
            echo "<td WIDTH=\"" . $margine . "\" valign=\"top\" align=\"center\"><img src=\"/images/shim.gif\" width=\"5\"></td>\n";
            $center_width2-=$margine;
        }
        echo "<td WIDTH=\"" . $center_width1 . "\" height=\"100%\" valign=\"top\" align=\"center\">\n";
        echo "<table border=0 WIDTH=\"" . $center_width1 . "\" height=\"100%\" background=\"" . $center_bg . "\" cellspacing=\"0\" cellpadding=\"0\"><tr><td WIDTH=\"" . $center_width1 . "\" valign=\"top\" align=\"center\">";
        ?>
    <center>

        <SCRIPT src="<?php echo $HOMEURL; ?>/calljslogin.js"></SCRIPT>
        <br>
<?php global $Login;
if (isset($Login)): ?>
            <!-- failed login code -->

            <p>
            <table>
                <tr>
                    <td><font color=red><b>I dati inseriti non sono validi.<br>
                            Riprovare!</b></font></td>
                </tr>
            </table>

<?php endif ?>

        </form>
        <?php
        echo "</td></tr></table>\n";
        echo "</td>\n";
        ?>
        <!-- Barra di Destra -->
        <?php
        if ($template[$tmpl]["right_item"] != "") {
//echo "<td WIDTH=\"".$margine."\" valign=\"top\" align=\"center\">&nbsp;</td>\n";
            ?>
            <td width="<?php echo $right_width; ?>" height="<?php echo $right_height; ?>" valign="top" align="center" background="<?php echo $right_bg; ?>">
            <?php
            ?>
            </td>
                <?php
            }
            ?>

        </tr>
</table>
<!-- Fine Corpo  -->

<!-- Footer -->
<?php
include $PROGETTO . "/footer.inc";
?>
