<?php
mb_internal_encoding("UTF-8");
header_remove('x-powered-by');
header('X-Frame-Options: deny');
header('X-XSS-Protection: 1; mode=block');
header('X-Content-Type-Options: nosniff');
header('X-Permitted-Cross-Domain-Policies:master-only');
header('Strict-Transport-Security: max-age=31536000; includeSubDomains');

include_once "configuration.inc";

include $PROGETTO . "/libraries/authlink.inc";

if ($Id_VMenu != "" && !(is_numeric($Id_VMenu)))
    $Id_VMenu = 318;
if($daabstract!="" && !(is_numeric($daabstract)))
	$daabstract="";

 if(strlen($month)>2)
         $month="";
 if(strlen($year)>4)
         $year="";
 if(strlen($day)>2)
         $day="";
 if(strlen($dataintera)>10)
         $dataintera="";
 if($Id_Contributo!="" && !(is_numeric($Id_Contributo)))
         $Id_Contributo="1";
 if($Id_Convegno!="" && !(is_numeric($Id_Convegno)))
         $Id_Convegno="1";
 if($Id_Progetto!="" && !(is_numeric($Id_Progetto)))
         $Id_Progetto="1";

if (empty($tmpl))
    $tmpl = "1";

if ($Id_VMenu != '') {
	$Lang2 = 'IT';
	
}

include $PROGETTO . "/prepend.php3";

if (strpos($_SERVER["QUERY_STRING"], "matchesperpage"))
    $pagina = "search";

include "authpath.inc";

include $PROGETTO . "/globals_tmpl.inc";

$tabsvil = "";

if (is_object($auth)) {
    $utype = $auth->auth["utype"];
    $uname = $auth->auth["uname"];
    $uid = $auth->auth["uid"];
    $prov = $auth->auth["prov"];
    if ($utype < 4 and $GESTIONE_SITO == "avanzata")
        $tabsvil = "SVIL_";
}

if ($Id_VMenu > 1) {
    //Verifica se la pagina è Filtrata
    if (PaginaFitrata($Id_VMenu)) {
        //Controlla se l'IP è valido
        if (!ValidIP($_SERVER['REMOTE_ADDR']))
            header("Location: /index.phtml?Id_VMenu=301");
    }
}

if (!empty($reg_mex)) {

    $messaggio = $reg_mex;
    unset($reg_mex);
    if (!is_object($sess)) {
        setcookie("reg_mex", "", 0, "/","",true,true);
    } else {
        $sess->unregister("reg_mex");
        page_close();
    }
}

if ($pagina == "form")
    include $PROGETTO . "/moduli.inc";

if ($auth->auth["utype"] != 1 && $auth->auth["utype"] != 98) {
    $tmpl = $templateUse;
    include $PROGETTO . "/templates/" . $templateUse . "/index.inc";
} elseif ($auth->auth["utype"] == 98) {
    $sess->delete();
    page_close();
    unset($sess);
    unset($auth);
    page_open(array("sess" => "CedCamCMS_Session"));
    page_close();
    unset($reg_utente);
    $reg_messaggio = _ERROR_LOG_;
    $sess->register(reg_messaggio);
    page_close();
    header("Location: /index.phtml?Id_VMenu=308&msg='Errore Index'");
} else {
//TMPL GESTISCE SCELTA TMPLATE $tmpl
    include $PROGETTO . "/header.inc";


    ?>

    <!-- Inizio Corpo  -->
    <?php
    echo"<div id=\"corpo\">";
    if ($Id_VMenu == "" || $Id_VMenu == 1)
        echo "<br />";
    ?>
    <!-- Barra di Sinistra -->
    <?php
    if ($template[$tmpl]["left_item"] != "") {
        echo "<div id=\"barra_sx\">\n";
        echo "<a id=\"menuprincipale\" name=\"menuprincipale\"></a>";
        $barra = "Sinistra";
        $left_item = explode("|", $template[$tmpl]["left_item"]);
        foreach ($left_item as $item)
            include $PROGETTO . "/" . $item . ".inc";
        echo "</div>\n";
    }
    ?>
    <!-- Barra di Destra -->
    <?php
    if ($template[$tmpl]["right_item"] != "") {
        echo "<div id=\"barra_dx\">";

        $barra = "Destra";
        $left_item = explode("|", $template[$tmpl]["right_item"]);
        foreach ($left_item as $item)
            include $PROGETTO . "/" . $item . ".inc";
        echo "</div>\n";
    }

    ?>
    <!-- Centro --><!--/htdig_noindex-->
    <?php
    echo"<a id=\"contenuto\" name=\"contenuto\"></a>";

    if ($tmpl == "print")
        echo "<div id=\"contentprint\">\n";
    elseif ($template[$tmpl]["left_item"] != "" && $template[$tmpl]["right_item"] != "")
        echo "<div id=\"centro\">\n"; //ho cambiato content in centro. il content mi dava problemi con IE
    elseif ($template[$tmpl]["left_item"] == "")
        echo "<div id=\"centro3\">\n";
    else
        echo "<div id=\"centro2\">\n";


    if ($pagina != "") {
        echo "<div id=\"riga1\" class=\"box1\">\n";
        echo "<div id=\"articolo1.1\">\n";
        include $PROGETTO . "/pagina.inc";
        echo "</div>";
        echo "</div>";
    } else {
        include $PROGETTO . "/corpo.inc";
    }

    echo "</div>\n";
    echo"</div>"; //chiusura div corpo
    ?>
    <!--htdig_noindex-->
    <!-- Fine Corpo  -->
    <!-- Footer -->
    <!-- inizio footer -->
    <div id="footer">
        <div id="foot2">
            <div style="float: left; display: inline; padding-left: 10px; padding-top: 10px; width:425px; background-color:#ffffff; height:100px;">
                REALIZZATO CON IL CONTRIBUTO DI:<br /><br />
                <a href="http://www.expo2015.org" title="Visita il sito Expo Milano 2015"><img align="top" src="/images/logo_expo.jpg" alt="Logo Expo" /></a>
                <a href="http://www.mi.camcom.it" title="Visita il sito della Camera di Commercio di Milano"><img align="top"  src="/images/logo_cciaa.jpg" alt="Logo Camera di Commercio di Milano" /></a>
            </div>
            <div style="float: left; display: inline; padding-left: 20px; padding-top: 10px; margin-left: 15px; background-color:#ffffff; height:100px;">
                MAIN SPONSOR:<br /><br />
                <a href="http://www.conai.org/" title="Visita il sito Comai"><img src="/images/LogoConaiNew.jpg" alt="Logo Conai" /></a>
    <!--        	<a href="http://it.materialconnexion.com/" title="Visita il sito Material ConneXion Italia"><img src="/images/logo_material.jpg" alt="Logo Material" /></a>-->
            </div>
            <div style="float: left; display: inline; padding-left: 15px; padding-right: 35px; padding-top: 10px; margin-left: 10px; background-color:#ffffff; height:100px;">
                PARTNER:<br /><br />
                <a href="http://www.federlegno.it/" title="Visita il sito Federlegnoarredo"><img src="/images/logo_fla.jpg" alt="Logo FLA" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <!--        	<a href="http://www.ance.it/" title="Visita il sito Associazione Nazionale Costruttori Edili"><img src="/images/logo_ance.jpg" alt="Logo ANCE" /></a>-->
            </div>
        </div>
    </div>
    <div id="foot3">
        <div style="background-color:transparent;height:25px;font-size:0.8em;padding-top: 5px;text-align:left;">&copy; 2013 SiExpo2015 All Rights Reserved - Consorzio Siexpo, via Achille Papa, 30 - 20149 Milano - P.IVA 07996310962 | <a href="/index.phtml?Id_VMenu=230" title="Contatti">Contatti</a> | <a href="/index.phtml?Id_VMenu=262" title="Credits">Credits</a> </div>
    </div>
    <!-- fine footer -->
    <!-- </div> <!-- Div di chiusura del container  -->
    <!--/htdig_noindex-->
    
    </body>
    </html>
    <?php } ?>
