<?php

if ($includeConfig != 1) {
    include "configuration.inc";
}

if ($includePrepend != 1) {
    include $PROGETTO . "/prepend.php3";
}

include_once 'authpath.inc';
include_once $PROGETTO.'/view/lib/passwd_function.inc';

$db = new DB_CedCamCMS;
$db_group = new DB_CedCamCMS;

page_open(array("sess" => "CedCamCMS_Session"));
$js_out = 1;

function cancellaCookie(){
	/*print "<pre>";
	print_r($_COOKIE);
	print "</pre>";*/
	foreach($_COOKIE as $key => $value){
		setcookie($key, null);
	}
}

/* azioni lanciate e che ritornano al chiamante */
switch ($action) {

    case "logout":
    	
    	$strsql = "INSERT INTO `EXPO_T_Catalogo_Logs` (`data`,`azione`,`parametri`,`response`)
						VALUES('".date('Y-m-d H:i:s')."','Logout Catalogo','".$auth->auth["uname"]."','')";
    	$db->query($strsql);
    	$sess->delete();
        page_close();
        unset($sess);
        unset($auth);
        page_open(array("sess" => "CedCamCMS_Session"));
        page_close();
        unset($reg_utente);
        cancellaCookie();
        break;

    case "Entra":

        $sSQL = "select " . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ".*,T_Utente.Abilitazioni,T_Utente.Gruppi,T_Utente.MasterEditor, ";
        $sSQL.="T_Utente.Id_TipoUtente, T_Utente.Uffici, T_Utente.Convegni, T_Utente.Stato_Record_Locale, T_Utente.AnagApplComplete from " . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ",T_Utente";
        $sSQL.=" where " . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ".Id=T_Utente.Id and Login='".addslashes($Login)."' and Stato_Record='A'";
        $db->query($sSQL);
        //echo "1-- " . $sSQL . " --<br>";
        
        if ($db->next_record()) {
        	if (verificaScadenzaPassword($db->f('Id'))){
        		//echo "Entrato";
        		//exit;
	        	page_close();
	            $username = $Login;
	            //$password = $Password;
	            $password=$db->f('Password');
	            $password_hashed=verifypass($password,$errorurl);
	           
	            /*echo "Error: ".$errorurl.'<br/>';
	            echo "Password: ".$Password.'<br/>';
	            echo "password: ".$password_hashed;
	            exit;*/
	            if ($password_hashed==$Password)
	            {
	            	
	            	$strsql = "INSERT INTO `EXPO_T_Catalogo_Logs` (`data`,`azione`,`parametri`,`response`)
						VALUES('".date('Y-m-d H:i:s')."','Login Catalogo','".$Login."','OK')";
	            	$db->query($strsql);
	            	
		            page_open(array("sess" => "CedCamCMS_Session", "auth" => "CedCamCMS_Auth"));
		            
		            $sess->register(templateUse);
		            $reg_okurl = $okurl;
		            $sess->register(reg_okurl);
		            $reg_utente = $Login;
		            $sess->register(reg_utente);
		            $reg_pwd = $Password;
		            $sess->register(reg_pwd);
		            $reg_prv = $db->f('Id_Provincia');
		            $sess->register(reg_prv);
		            $nominativo = $db->f('Nome') . " " . $db->f('Cognome');
		            $sess->register(nominativo);
		            $RagioneSociale = $db->f('RagSoc');
		            $sess->register(RagioneSociale);
		            $codiceFiscale = $db->f('Codice_Fiscale');
		            $sess->register(codiceFiscale);
		            
		            if ($db->f("Id_TipoUtente") == 15) {
		                $uffici_abil = $db->f("Uffici");
		                $uffici_abil = str_replace("|", "/", $uffici_abil);
		                $sess->register(uffici_abil);
		                $convegni_abil = $db->f("Convegni");
		                $convegni_abil = str_replace("|", "/", $convegni_abil);
		                $sess->register(convegni_abil);
		            }
		
		            if ($db->f("Id_TipoUtente") == 98) {
		                $sess_anagcompl = $db->f("AnagApplComplete");
		                $sess->register(sess_anagcompl);
		            }
		            $myabil = $db->f('Abilitazioni');
		            $sess->register(myabil);
		            $mygroup = $db->f('Gruppi');
		            $grouptransit = explode("|", $mygroup);
		            $gruppi_primari = "|";
		            for ($my_count = 0; $my_count < sizeof($grouptransit); $my_count++) {
		                if ($grouptransit[$my_count] != "") {
		                    $sql = "select Id_Gruppo from T_Gruppi where Id=" . $grouptransit[$my_count];
		                    $db_group->query($sql);
		                    $db_group->next_record();
		                    $radgruppo = substr($db_group->f("Id_Gruppo"), 0, 2);
		                    $sql = "select Id from T_Gruppi where Id_Gruppo='" . $radgruppo . "'";
		                    $db_group->query($sql);
		                    $db_group->next_record();
		                    $_group_appl = strpos($gruppi_primari, "|" . $db_group->f("Id") . "|");
		                    if ($_group_appl === false)
		                        $gruppi_primari.=$db_group->f("Id") . "|";
		                }
		            }
		            $sess->register(mygroup);
		            $sess->register(gruppi_primari);
		            $mastereditor = $db->f('MasterEditor');
		            $sess->register(mastereditor);
		            page_close();
	            }
			else
			{
				$param = 'User: '.$Login.' Pw From Db:'.$password.'Pw From User:'.$Password;
				$strsql = "INSERT INTO `EXPO_T_Catalogo_Logs` (`data`,`azione`,`parametri`,`response`)
						VALUES('".date('Y-m-d H:i:s')."','Login Catalogo','".$param."','Errore')";
				$db->query($strsql);
				
				$sess->delete();
				page_close();
				unset($sess);
				unset($auth);
				//page_open(array("sess" => "CedCamCMS_Session"));
				//$reg_messaggio="UserID o Password errata oppure registrazione non ancora attivata.";
				//$sess->register(reg_messaggio);
				//page_close();
				$js_out=0;
				$mex_error ="ATTENZIONE! Indirizzo E-mail o password non valide.";
				header('Location: index.phtml?Id_VMenu=3&msx=15&nh=1&messaggio='.$mex_error.'');
				exit;
			}
		}
		else
		{
			//echo "Mail Scaduta";
			//exit;
			$passwordScaduta=1;
			//LA PASSWORD è SCADUTA PER CUI GENERO IL TOKEN (CHE MANDA LA MAIL) E ATTERRO SULLA PAGINA DI AVVISO SCADENZA PASSWORD
			if(setToken($db->f('Id')))
				$okurl=$HOMEURL."index.phtml?Id_VMenu=3&msx=14&nh=1";  //DA MODIFICARE
		}
		            
        }
        else {
            $sess->delete();
            page_close();
            unset($sess);
            unset($auth);
            page_open(array("sess" => "CedCamCMS_Session"));
            $reg_messaggio = _ERROR_LOG_;
            $sess->register(reg_messaggio);
            page_close();
            $js_out = 0;
            $okurl = "index.phtml?Id_VMenu=308&msg='Errore Login'";
        }
        break;
    //FREDDO
    case "Abilita":
        $sess->delete();
        page_close();
        unset($sess);
        unset($auth);
        page_open(array("sess" => "CedCamCMS_Session"));
        page_close();
        unset($reg_utente);

        $sSQL = "select " . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ".*,T_Utente.Abilitazioni,T_Utente.Gruppi,T_Utente.MasterEditor, ";
        $sSQL.="T_Utente.Id_TipoUtente, T_Utente.Uffici, T_Utente.Convegni, T_Utente.Stato_Record_Locale, T_Utente.AnagApplComplete from " . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ",T_Utente";
        $sSQL.=" where " . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ".Id=T_Utente.Id and Login='$Login' and Stato_Record='D'";
        $db->query($sSQL);
        //echo "1-- " . $sSQL . " --<br>";
        //exit;
        if ($db->next_record()) {
            page_close();

            $username = $Login;
            $password = $Password;
            //echo "Password:".$Password;
            //exit;
            page_open(array("sess" => "CedCamCMS_Session", "auth" => "CedCamCMS_Auth"));
            $reg_okurl = $okurl;
            $sess->register(reg_okurl);
            $reg_utente = $Login;
            $sess->register(reg_utente);
            $reg_pwd = $Password;
            $sess->register(reg_pwd);
            
            $codiceFiscale = $db->f('Codice_Fiscale');
            $sess->register(codiceFiscale);

            $nominativo = $db->f('Nome') . " " . $db->f('Cognome');
            $sess->register(nominativo);
            $RagioneSociale = $db->f('RagSoc');
            $sess->register(RagioneSociale);



            if ($db->f("Id_TipoUtente") == 98) {
                $sess_anagcompl = $db->f("AnagApplComplete");
                $sess->register(sess_anagcompl);
            }
            $myabil = $db->f('Abilitazioni');
            //print $myabil;
            $sess->register(myabil);
            $mygroup = $db->f('Gruppi');
            $grouptransit = explode("|", $mygroup);
            $gruppi_primari = "|";
            for ($my_count = 0; $my_count < sizeof($grouptransit); $my_count++) {
                if ($grouptransit[$my_count] != "") {
                    $sql = "select Id_Gruppo from T_Gruppi where Id=" . $grouptransit[$my_count];
                    $db_group->query($sql);
                    $db_group->next_record();
                    $radgruppo = substr($db_group->f("Id_Gruppo"), 0, 2);
                    $sql = "select Id from T_Gruppi where Id_Gruppo='" . $radgruppo . "'";
                    $db_group->query($sql);
                    $db_group->next_record();
                    $_group_appl = strpos($gruppi_primari, "|" . $db_group->f("Id") . "|");
                    if ($_group_appl === false)
                        $gruppi_primari.=$db_group->f("Id") . "|";
                }
            }
            $sess->register(mygroup);
            $sess->register(gruppi_primari);
            $mastereditor = $db->f('MasterEditor');
            $sess->register(mastereditor);
            page_close();
        }

        break;
}

$messaggio = "";

if (!empty($auth->auth["uname"])) {
    $okurl = $reg_okurl;
    $Login = $auth->auth["uname"];
    $Password = $auth->auth["pwd"];

    $sSQL = "select Cognome,Nome,T_Utente.Id_TipoUtente," . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ".Id, ";
    $sSQL.="T_Utente.Stato_Record_Locale from " . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ",T_Utente";
    $sSQL.=" where " . $Esterno[$TAB_ANAGRAFICA] . $TAB_ANAGRAFICA . ".Id=T_Utente.Id and Login='$Login' and Password='$Password'";
    $db->query($sSQL);
    //echo "2-- " . $okurl . " --<br>";
    if ($db->next_record()) {
        $nominativo = $db->f('Nome') . " " . $db->f('Cognome');
        $idtipoutente = $db->f('Id_TipoUtente');
        $stato_locale = $db->f('Stato_Record_Locale');
        $loginuid = $db->f('Id');

        if ($ANAGRAFICA_AVANZATA) {
            if ($db->f('Id_TipoUtente') == $CONTROLLOTIPOUTENTE && $db->f('Stato_Record_Locale') == "D")
                $okurl = $HOMEURL . "index.phtml?Id_VMenu=9";
        }
    }
} else {
    if (!empty($reg_messaggio)) {
        //$messaggio = $reg_messaggio;
        $sess->register(reg_messaggio);
        page_close();
    }
}

header('Location: ' . $okurl);

page_close();

function CookieDate($ora) {
    return(gmdate("l, d-M-y H:i:s", $ora) . " GMT");
}

?>
