<html>
<head>
</head>
<body>
<h1>Calcolo hash della password</h1>
<div style="border: 2px solid #ccc; padding:20px;width:50%;">
	<form method="post" action="#">
	  Password: <input type="text" name="password">
	  <input type="submit" value="Calcola password">
	</form>
</div>
<?
if(isset($_POST['password'])){
	$psw=$_POST['password'];
	$stringacript= hash("sha256",$psw );
	echo " <div style='border: 2px solid #ccc;background-color:#ccc; padding:20px;width:50%;'>";
	echo" - vecchia password: ".$psw."<br/>";
	echo" - nuova password: ".$stringacript."<br/>";
	echo "</div>";
}

?>

</body>
</html>