<?php
include "configuration.inc";

if(empty($tmpl))
	$tmpl="1";
include $PROGETTO."/prepend.php3";

include "authpath.inc";
include $PROGETTO."/globals_tmpl.inc";
if(is_object($auth))
{
	$utype=$auth->auth["utype"];
	$uname=$auth->auth["uname"];
	$uid=$auth->auth["id_utente"];
	$prov=$auth->auth["prov"];
}
if ($pagina=="form")
	include $PROGETTO."/moduli.inc";
?>

<!-- Header -->
<?php
	$popup_azioni="N";
	include $PROGETTO."/header.inc";
	if ($pagina=="form")
		include $PROGETTO."/checkform.inc";
?>

<!-- Inizio Corpo  -->
<!--<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="100%" class="center">-->
<div id="centro3">
<?php
	$center_width2="100%";
	include $PROGETTO."/".$pagina.".inc";
//	include $PROGETTO."/pagina.inc";
?>

<!--</td>
</tr>
</table>-->
</div>
<!-- Fine Corpo  -->

<!-- Footer -->
<?php
	include $PROGETTO."/footer.inc";
?>
