<?php
	$posslash = strrpos($pagina, "/");
	if ($posslash === false) $posslash=0; else $posslash++;
	$pospunto = strrpos($pagina, ".");
	$titolo=strtoupper(str_replace("_", " ",substr($pagina,$posslash, ($pospunto-$posslash))));
?>
<head><title><?php echo $titolo; ?></title>
<link rel="stylesheet" href="/CSS/style.css">
</head>
<script type="javascript">
function chiudi()
{
	window.close();
}
</script>
<!--<IMG SRC="/images/header_news.gif" BORDER=0>-->
<br />
<br />
<?php
if (substr($pagina,0,1)=="/")
	include $pagina;
?>

<div class="right"><a href="javascript:chiudi();" >Chiudi</a></div>
