<?php
include "progetto.inc";
include $PROGETTO."/prepend.php3";
include "authpath.inc";
include $PROGETTO."/globals_tmpl.inc";

$db_popup2 = new DB_CedCamCMS;

$SQLtit="select Titolo, Descrizione, Keywords, Popup";
if ($Lang!=$LinguaPrincipale)
	$SQLtit.=", Titolo_AL, Descrizione_AL, Keywords_AL, Popup_AL";
$SQLtit.=" from ".$tabsvil."T_Menu";
if ($Lang!=$LinguaPrincipale)
	$SQLtit.=", ".$tabsvil."T_Menu_AL";
$SQLtit.=" where Id_Menu='".$explode."'";
if ($Lang!=$LinguaPrincipale)
	$SQLtit.=" and ".$tabsvil."T_Menu_AL.Id_AL=".$tabsvil."T_Menu.Id and ".$tabsvil."T_Menu_AL.Lang_AL='".$Lang."'";
if ($Priorita[$utype]>8)
	$SQLtit.=" and (Stato_Menu='A' or Stato_Menu='D')";
else
	$SQLtit.=" and Stato_Menu='A'";


if ($db_popup2->query($SQLtit))
	$db_popup2->next_record();
?>
<head><title><?php echo ucfirst($PROGETTO); ?></title>
<link rel="stylesheet" href="/CSS/style.css">
</head>
<script type="javascript">
function chiudi()
{
	window.close();
}
</script>
<img alt="" src="/images/header_news.gif"/>
<br>
<br>
<?php
	if ($Lang!=$LinguaPrincipale && $db_titolo->f('Popup_AL')!="")
		echo $db_popup2->f('Popup_AL');
	else
		echo $db_popup2->f('Popup');
?>
<br /><br />
<div class="right"><a href="javascript:chiudi();" >Chiudi</a></div>
