/************************************************AMMINISTRAZIONE*************************************************************/

.invisibile {display: none;}

p.admintool{text-align: right; padding: 5px 5px 0px 0px;}
p.finecentro{text-align: right; padding: 0px 50px 0px 0px;}
p.linkart{text-align: right; padding: 0px 10px 10px 10px;} 
p.indent {margin-left:2em;} 
p.basso {margin: 5px; padding: 0px;} 

div#centro2 table.sfondoTitoli{background-color:#FDC653;} 
div#centro2 td.sfondoTitoli{background-color:#FDC653;} 
div#centro2 th.tdHeader {background-color:#FDC653; vertical-align: top; color: #000000; font-weight: bold;} 
div#centro2 td.tdDark {padding:3px; background-color:#EEEEEE; vertical-align: top; font: normal 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;} 
div#centro2 td.tdLight {padding:3px;background-color:#FFFFFF; vertical-align: top; font: normal 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;} 

div#centro2 a.tdHeader:LINK {color: #000000;text-decoration:none;font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;}
div#centro2 a.tdHeader:ACTIVE {color: #000000;text-decoration:underline;font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;}
div#centro2 a.tdHeader:VISITED {color: #000000;text-decoration:underline;font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;}
div#centro2 a.tdHeader:HOVER {color: #000000;text-decoration:underline;font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;}

div#centro table.sfondoTitoli{background-color:#FDC653;} 
div#centro td.sfondoTitoli{background-color:#FDC653;} 
div#centro th.tdHeader {background-color:#FDC653; vertical-align: top; color: #000000; font-weight: bold;} 
div#centro td.tdDark {padding:3px; background-color:#EEEEEE; vertical-align: top; font: normal 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;} 
div#centro td.tdLight {padding:3px;background-color:#FFFFFF; vertical-align: top; font: normal 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;} 

div#centro a.tdHeader:LINK {color: #000000;text-decoration:none;font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;}
div#centro a.tdHeader:ACTIVE {color: #000000;text-decoration:underline;font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;}
div#centro a.tdHeader:VISITED {color: #000000;text-decoration:underline;font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;}
div#centro a.tdHeader:HOVER {color: #000000;text-decoration:underline;font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;}

/*---------- STILI DELLE FORM ----------*/
form {
	margin: 3px 5px 5px 5px;
	padding: 0px;
}
form.nomargin {
	margin: 0px;
	padding: 0px;
}

/* stili form filtri.inc */
#form_filtri{
	text-align: center;
	width: 100%;
}
#form_filtri div{
	margin-bottom: 2px;
}

/* stili per la form presente in form.inc */
#form_moduli{
    width: 96%;
    border: 0px solid #000000;
    color: #000000;
    margin: 10px auto;
}
div.box2form div{
    float: left;
    width: 55%; \width: 59%; w\idth: 55%;
    padding: 0px 2% 2px;
    vertical-align: top;
    margin-top: 0.5em;
    font: normal 1.0em/1.4em Arial, Verdana, Helvetica,sans-serif;
    text-align: left;
}
div.box2form div div{
    float: left;
    width: 99%;
    padding: 0px 2%;
}
div.box2form .form_label{
    background: #e9f2fe;
    float: left;
    width: 35%; \width: 39%; w\idth: 35%;
    padding: 0px 2% 2px;
    font-weight: bold;
}

div.box2form div.clearer2{
    float: none; clear: left;
}

div#azioni_int a:LINK {text-decoration:none;display:inline;border:1px solid black; padding:5px; margin-right:10px; margin-bottom:10px; margin-top:10px;}
div#azioni_int a:ACTIVE {text-decoration:underline;display:inline;border:1px solid black;padding:5px; margin-right:10px; margin-bottom:10px; margin-top:10px;}
div#azioni_int a:VISITED {text-decoration:none;display:inline;border:1px solid black;padding:5px; margin-right:10px; margin-bottom:10px; margin-top:10px;}
div#azioni_int a:HOVER {text-decoration:underline;display:inline;border:1px solid black;padding:5px; margin-right:10px; margin-bottom:10px; margin-top:10px;}

/*---------- TABELLE ----------*/
#tabella_elenchi{
	margin: 5px 15px;
	text-align: center;
	width:90%;
}
