/**********************************************************GENERALE****************************************************************/
body {
	font:80% Arial, Verdana, Helvetica, sans-serif;
	margin:0; padding:0;
}

hr { color: #FDC653; height: 1px; }

table{font: normal normal 1.0em/1.2em Arial, Verdana, Helvetica, sans-serif;}
.tablecenter{margin-left: auto; margin-right:auto;}

fieldset{
	margin: 0px;
	padding: 0px;
	border: 0px solid #000000;
}

.rosso {color: #ff0000; font-weight:normal;}
.verde {color: #18ad52; font-weight:normal;}
.blu {color: #023f88; font-weight:normal;}
.blustrong {color: #023f88; font-weight:bold;}





ul { list-style-type: square;}
li { padding-bottom: 1em;}
a { color: #023f88; }

/*---------- STILI LINK ----------*/
a:LINK {color: #023f88;text-decoration:underline;font-weight: normal;}
a:ACTIVE {color: #023f88;text-decoration:underline;font-weight: normal;}
a:VISITED {color: #023f88;text-decoration:underline;font-weight: normal;}
a:HOVER {color: #023f88;text-decoration:underline;font-weight: normal;}

/*---------- STILI IMG ----------*/
img {border: 0px; margin:0px; padding: 0px;}
img.margine {margin-right: 10px;}
img.marginesx {margin-left: 10px;}
img.segue {margin-left: 5px;}
img.right{ margin:0 0 5px 5px; float: right;}
img.left{ margin:0 5px 5px 0; float: left;}

/*---------- STILI PARAGRAFI ----------*/
p {margin: 10px; padding: 0px;} 
.center{text-align: center;} 
.right{text-align: right;} 
.left{text-align: left;} 

/*---------- STILI H ----------*/
/*
h1,h2{margin: 5px;padding:5px}
h1{color: #000000;font: bold 1.6em/1.8em Arial, Verdana, Helvetica, sans-serif}
h2{color: #023f88;font: bold 1.4em/1.6em Arial, Verdana, Helvetica, sans-serif}
*/
h1{color: #023f88;font: bold 1.4em/1.6em Arial, Verdana, Helvetica, sans-serif;
	margin: 5px 0px 3px 0px;
	padding: 4px 0px; width:100%;
	border-bottom: 1px solid #023f88;
}
a.nosott:LINK {text-decoration:none;color: #023f88;font-weight: bold;}
a.nosott:ACTIVE {text-decoration:none;color: #023f88;font-weight: bold;}
a.nosott:VISITED {text-decoration:none;color: #023f88;font-weight: bold;}
a.nosott:HOVER {text-decoration:none;color: #023f88;font-weight: bold;}

h2{color: #023f88;font: bold 1.0em/1.2em Arial, Verdana, Helvetica, sans-serif}
h3{color: #023f88;font: bold 1.0em/1.2em Arial, Verdana, Helvetica, sans-serif;
	margin: 5px 0px 3px 0px;
	padding: 4px 0px; width:60%;
	border-bottom: 1px solid #023f88;
}

/*---------- LABEL ----------*/
div#label{	
	padding: 5px;
	width: auto;
	height: 173px;
	overflow: auto;	
	border: 1px solid #000000; 
	background-color: #FFFFFF; 
}

/*-----------bordi div articoli---------*/
.bordo{
	border: 1px solid #023f88;
	padding: 5px;
}
.bordoalto{
	border-top: 1px solid #023f88;
}
.bordobasso{
	border-bottom: 1px solid #023f88;
}
.bordodestra{
	border-right: 1px solid #023f88;
}
.bordosinistra{
	border-left: 1px solid #023f88;
}

.bordoinfo{
	border-top: 1px solid #023f88;
	border-left: 1px solid #023f88;
	border-right: 1px solid #023f88;
	width:10%;
	text-align: center; background-color: #EEEEEE; color: #023f88; font-weight: bold;
	margin-left: 10px;
}

/*---------- classi articoli ----------*/
.sfondo {background: #EEEEEE;}



