/**************************************************BLOG********************************************************************/
div.titolo_blog {font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none; }
div.testo_blog {padding: 4px 10px;}
div.pubblicato_blog {font: italic 1.0em/1.4em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
div.azioni_blog {padding: 8px 0px;}
div.post_blog {padding-left: 10px;margin-bottom:5px;border-bottom:1px dashed grey;}
div.post_blog_evidenziato {padding-top: 5px;}
