#form_filtri {background-color:#f2f2f2;}

table.scheda {
background-color:#f2e5d4;
width:40%;
margin-left:15%;
margin-top:20px;
}
table.scheda td {padding:5px;}
table.scheda tr {height:30px;margin:3px;}
table.scheda td.basso {vertical-align:bottom;}
table.scheda td.sfondochiaro {background-color:#e5eff9;height:30px;}