/* Impostazioni per menu pagine intranet */

#barra_sx li.menu1 a{
	background-color: #99cc00;
}
#barra_sx li.menu1 a:hover{ }
#barra_sx li.menu1sel a{
	background-color: #99cc00;
}
#barra_sx li.menu1sel a:hover{ }
#barra_sx li.menu2{
	background-color: #ddeab5;
}
#barra_sx li.menu2 a{
}
#barra_sx li.menu2sel{
	background-color: #f6f3be;
}
#barra_sx li.menu2sel a{
}
#barra_sx li.menu3{
	background-color: #EAEAEA;
}
#barra_sx li.menu3 a{
	background-color: #EAEAEA;
}
#barra_sx li.menu3sel{
	background-color: #EAEAEA;
}
#barra_sx li.menu3sel a{
}



#barra_sx li.menu4{
	background-color: #FFF;
}
#barra_sx li.menu4 a{
	width: 135px;
	background-color: #FFF;
	margin-left: 40px;
	padding: 2px 0px 2px 0px;
	color:#000000;
}
#barra_sx li.menu4sel{
	background-color: #FFF;
	text-decoration: underline;
}
#barra_sx li.menu4sel a{
	width: 135px;
	margin-left: 40px;
	padding: 2px 0px 2px 0px;
	color:#000000;
	font-weight: normal;
	text-decoration: underline;
}

h1{color: #336601;border-bottom: 1px solid #336601;
}
a.nosott:LINK {color: #336601;}
a.nosott:ACTIVE {color: #336601;}
a.nosott:VISITED {color: #336601;}
a.nosott:HOVER {color: #336601;}

h2{color: #336601;}
h3{color: #336601;border-bottom: 1px solid #336601;
}

/*-----------bordi div articoli---------*/
.bordo{
	border: 1px solid #336601;
	padding: 5px;
}
.bordoalto{
	border-top: 1px solid #336601;
}
.bordobasso{
	border-bottom: 1px solid #336601;
}
.bordodestra{
	border-right: 1px solid #336601;
}
.bordosinistra{
	border-left: 1px solid #336601;
}

.bordoinfo{
	border-top: 1px solid #336601;
	border-left: 1px solid #336601;
	border-right: 1px solid #336601;
	width:10%;
	text-align: center; background-color: #EEEEEE; color: #336601; font-weight: bold;
	margin-left: 10px;
}

div.box1 div.bordoinfo{
	border-top: 1px solid #336601;
	border-left: 1px solid #336601;
	border-right: 1px solid #336601;
	width:10%;
	text-align: center; background-color: #EEEEEE; color: #336601; font-weight: bold;
	margin-left: 10px;
}

/*---------- classi articoli ----------*/
.sfondo {background: #EEEEEE;}


/*---------- STILI LINK ----------*/
a:LINK {color: #336601;text-decoration:underline;font-weight: normal;}
a:ACTIVE {color: #336601;text-decoration:underline;font-weight: normal;}
a:VISITED {color: #336601;text-decoration:underline;font-weight: normal;}
a:HOVER {color: #336601;text-decoration:underline;font-weight: normal;}

.blu {color: #336601; font-weight:normal;}
.blustrong {color: #336601; font-weight:bold;}
