#barra_sx ul{
	margin: 0px 0px 0px 10px;
	padding: 0px;
        list-style-image:none;
        list-style-type: none;
	background-color: #ECEDEF;
	font-weight: bold;
        font-family: 'Open Sans', Verdana,Geneva,sans-serif;
	text-align: left;
}

#barra_sx li{
	display: block; 
	margin: 0;
	padding: 0;
}

#barra_sx li a{
	display: block;
	text-decoration: none;
}

#barra_sx a:hover{
	text-decoration: underline;
}

#barra_sx li.titolo{/*MZ140311*/
	text-align: center; 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	background: #569BD3;
        background: url('/images/labelogin.jpg') repeat-x;
        border-bottom: 0px;
        color: #ffffff;
}

#barra_sx li.label{/*MZ140311*/
	color: #ffffff;
	text-align: center; 
	margin-bottom:1px;
	margin-top:1px;
	padding: 5px 0px;
	background-color: #569BD3;
	width:100%;
}

#barra_sx li.menu1 a{
	color:#FFFFFF;
	padding: 6px 0px 2px 21px;
	text-transform: uppercase;
}

#barra_sx li.menu1 a:hover{
	background-color: #CD182A;
	padding: 6px 0px 2px 21px;
	color:#FFFFFF;
	font-weight: normal;
	text-decoration: none;
}

#barra_sx li.menu1sel{
	padding-bottom:0px;
	width:856px;
/*	width:190px;*/

}

#barra_sx li.menu1sel a{ /* MZ140311 */
	border: 0px solid #E0E5E6;
	padding: 10px 0px 10px 21px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-size:1.2em;
	text-transform: uppercase;
/*	width:190px;*/

}

#barra_sx li.menu1sel a:hover{}

#barra_sx li.menu2{/* MZ140311 */
/*	border-bottom: 1px solid #B1B2B4;*/	
        border-bottom: 1px solid #999A9D;
        padding-bottom:10px;
}

#barra_sx li.menu2 a{/* MZ140311 */
	padding: 10px 0px 0px 5px;
	font-weight: bold;
        margin: 10px 0px 10px 0px;
}

#barra_sx li.menu2 a:hover{/* MZ140311 */
	color:#FFFFFF;
	padding: 10px 0px 10px 5px;
	font-weight: bold;
	background-color: #CD182A;
	text-decoration: none;
	margin: 10px 0px 0px 0px;
}

#barra_sx li.menu2sel{	
/*        border-bottom: 1px solid #B1B2B4;*/
        border-bottom: 1px solid #999A9D;
        padding-bottom:10px;
}

#barra_sx li.menu2sel a{/* MZ140311 */
	color:#FFFFFF;
	padding: 10px 0px 10px 5px;
	font-weight: bold;
	text-decoration: none;
	margin: 10px 0px 0px 0px;
}

#barra_sx li.menu3{
	width:100%	
}

#barra_sx li.menu3 a{
	width: 145px;
	margin-left: 30px;
	padding: 2px 0px 2px 0px;
	color:#000000;
	font-weight: normal;
}

#barra_sx li.menu3sel{	
	text-decoration: none;
	width:100%
}

#barra_sx li.menu3sel a{
	width: 145px;
	margin-left: 30px;
	padding: 2px 0px 2px 0px;
	color:#008A2D;
	font-weight: bold;
	text-decoration: none;
}

#barra_sx li.titolo2{
	padding: 2px 0px;margin:0px;
	background: #99ccff;
	color:#000000;
	font-weight: bold; 
	text-align: center;
	margin: 0px 3px 0px 3px;
	width: 162px;
}

#barra_sx a.titolo{color:#000000;font: normal bold 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
#barra_sx a.titolo:hover{color: #000000;text-decoration: underline}

#barra_sx li.testo_rosso a{
	color:#CD182A;
}

#barra_sx li.testo_verde a{
	color:#008A2D;
}

#barra_sx li.testo_blu a{
	color:#005E9D;
}

#barra_sx li.testo_grigio a{
/*	color:#B1B2B4;*/
	color:#999A9D;
}

#barra_sx li.sfondo_rosso a{
	background-color:#CD182A;
}

#barra_sx li.sfondo_verde a{
	background-color:#008A2D;
}

#barra_sx li.sfondo_blu a{
	background-color:#005E9D;
}

#barra_sx li.sfondo_grigio a{
/*	background-color:#B1B2B4;*/
	background-color:#999A9D;
}

#barra_sx li.testo_rosso a:hover{
	background-color:#CD182A;
	color:#fff;
}

#barra_sx li.testo_verde a:hover{
	background-color:#008A2D;
	color:#fff;
}

#barra_sx li.testo_blu a:hover{
	background-color:#005E9D;
	color:#fff;
}

#barra_sx li.testo_grigio a:hover{
/*	background-color:#B1B2B4;*/
	background-color:#999A9D;
	color:#fff;
}