#barra_sx ul{
	margin: 0px 0px;
	padding: 0px; 
	list-style: none;
	border-bottom: 1px solid #D6161C;
	background-color: #FFFFCC;
	font-weight: bold;
}
#barra_sx li{
	display: block; 
	margin: 0;
	padding: 0;
}
#barra_sx li a
{
	display: block;
	width: 150px;
	padding: 3px 0 3px 3px;
	text-decoration: none;
	font-weight: normal;
}
#barra_sx a:hover{
	color: #cc0000;
	text-decoration: underline}

#barra_sx li.titolo{
	text-align: center; 
	margin: 0px;
	padding: 5px 0px;
}
#barra_sx li.label{
	text-align: center; 
	margin: 0px;
	padding: 5px 0px;
	background-color: #FECA34;
	border-top: 1px solid #BD2918;
}
#barra_sx li.menu1 a{
	color: #000000;
	background-color: #FFFFCC;
	padding: 2px 2px 2px 3px;
	display: block;
	border-left: 10px solid #BD2918;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	margin-top: 1px;
	border-top: 1px solid;
}
#barra_sx li.menu1 a:hover{
	border-left: 10px solid #FECA34;
}
#barra_sx li.menu1sel a{
	color: #CC0000;
	background-color: #FFFFCC;
	padding: 2px 2px 2px 3px;
	display: block;
	border-left: 10px solid #000000;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	margin-top: 1px;
	border-top: 1px solid;
}
#barra_sx li.menu1sel a:hover{
	border-left: 10px solid #FECA34;
}
#barra_sx li.menu2 a{
	width: 140px;
	color: #000000;
	background-color: #FFFFCC;
	padding: 2px 2px 2px 3px;
	display: block;
	border-left: 10px solid #BD2918;
	text-decoration: none;
	text-align: left;
	margin-top: 1px;
	margin-left: 10px;
	border-top: 1px solid;
}
#barra_sx li.menu2 a:hover{
	border-left: 10px solid #FECA34;
}
#barra_sx li.menu2sel a{
	width: 140px;
	color: #CC0000;
	background-color: #FFFFCC;
	padding: 2px 2px 2px 3px;
	display: block;
	border-left: 10px solid #000000;
	text-decoration: none;
	text-align: left;
	margin-top: 1px;
	margin-left: 10px;
	border-top: 1px solid;
}
#barra_sx li.menu2sel a:hover{
	border-left: 10px solid #FECA34;
}

#barra_sx li.menu3 a{
	margin-left: 20px;
	width: 130px;
	color: #000000;
	background-color: #FFFFCC;
	padding: 2px 2px 2px 3px;
	display: block;
	border-left: 10px solid #BD2918;
	text-decoration: none;
	text-align: left;
	margin-top: 1px;
	border-top: 1px solid;
}
#barra_sx li.menu3 a:hover{
	border-left: 10px solid #FECA34;
}
#barra_sx li.menu3sel a{
	margin-left: 20px;
	width: 130px;
	color: #CC0000;
	background-color: #FFFFCC;
	padding: 2px 2px 2px 3px;
	display: block;
	border-left: 10px solid #000000;
	text-decoration: none;
	text-align: left;
	margin-top: 1px;
	border-top: 1px solid;
}
#barra_sx li.menu3sel a:hover{
	border-left: 10px solid #FECA34;
	text-decoration: none;
	color: #CC0000;
	border-top: 1px solid;
}
