/**************************   NEWSLETTER   ***************************/

body {padding: 5px;}
div.titolo_newsletter 
{

color: #660000;
font: bold 1.4em/1.6em Arial, Verdana, Helvetica, sans-serif;
margin-bottom: 1.2em;
}

div.argomento_newsletter 
{
color: #ffffff;
font: 1.2em/1.4em Arial, Verdana, Helvetica, sans-serif;
margin-bottom: 1em;
}

div.argomento_newsletter h2
{ 	/*background-image: url(http://www.lo.camcom.it/images/punto_elenco1.gif);*/
	background-repeat: no-repeat;
	background-position: 5px 5px;	
	background-color: #660033;
	font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
	color: #fff;
	padding: 0px 25px;	
}

div.sottotitolo_newsletter
{
font: bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;
color: #000000;
background-color: #f2e5d4;
	padding: 0px 2px;	
}

div.testo_newsletter
{
font: normal 1.0em/1.2em Verdana, Arial, Helvetica,sans-serif;
color: #000000;
}


