div#header { display: none;}
/* #testa { display: none;} 
#header1 { display: none;}*/
div#toolbar { display: none;}
/*div#path { display: none;}*/
div#invia { display: none;}
div#path_dx { display: none;}
div#barra_sx { display: none; height:0px;}
div#barra_dx { display: none; height:0px;}
div#centro { width: 100%; margin: 0px; padding: 0px;}
div#centro2 { width: 100%; margin: 0px; padding: 0px;}
#header-image {  display: inline; margin: 0px; padding: 0px; width: 400px;}
div#footer { display: none;}
table.calendar { display: none;}
.noprint {display: none;}
div.box1 div { float: none !important; }
div.box2 div { float: none !important; }
