
ul.tabs {
	float:left;
	list-style-type: none;
	/*margin:0px 0px 30px 0px;*/
	background:#cccccc;
	width:100%;
	padding:0px;
	border-bottom:1px #cccccc solid;
}

li.tab {
	display:inline;
	float: left;
	text-align: center;
	border-color: #cccccc #cccccc #cccccc;
	background:#cccccc;
	/*border-top:1px #ffffff solid;
	border-left:1px #ffffff solid;
	border-right:1px #ffffff solid;
	border-bottom:0px #cccccc solid;*/
	padding-top:5px;
	padding-bottom:5px;
	padding-right:3px;
	padding-left:3px;
	width: 15%;
}

li.tabactive {
	display:inline;
	float: left;
	
	background:#ffffff;
	border-top:1px #cccccc solid;
	border-left:1px #cccccc solid;
	border-right:1px #cccccc solid;
	border-bottom:1px #cccccc solid;
	padding-top:3px;
	padding-bottom:5px;
	padding-right:3px;
	padding-left:3px;
	position:relative;
	top:1px;
	width: 15%;
	text-align: center;
}


li.tab:hover {
	display:inline;
	float: left;
	
	background:#ffffff;
	border-top:1px #585858 solid;
	border-left:1px #585858 solid;
	border-right:1px #585858 solid;
	border-bottom:1px #585858 solid;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:3px;
	padding-left:3px;
}


li.tab a{
	color:#585858;
	text-decoration:none;
	font-weight: bold;
}

li.tabactive a {
	color:#1C6E27;
	text-decoration:none;
	font-weight: bold;

}

li.tab a:hover{
	color:#585858;
	text-decoration:none;
}











