/****************************************************STRUTTURA TEMPLATE***********************************************************/
/* le 3 parti del template */
/* centrare la pagina web a larghezza fissa */
#testa { width:100%; margin:0em auto; text-align:left }
#corpo { width:100%; margin:0em auto; text-align:left }
#footer { width:100%; margin:0em auto; text-align:left }

/*--------------------------------------------------TESTA-------------------------------------------------------------------*/
/* TESTA composta da: header (header1 (<> - header1_centro - header1_dx) - header2 ( <> - header_cdx)) - toolbar (toolbar_sx - toolbar_dx) - path */
/* <> = spazio vuoto */

#testa {
	border:0px solid #000;
	min-width: 950px;
}

/*----------- HEADER -----------*/
#testa #header1{
	background: url('/images/header_bg.gif') no-repeat;
	height: 106px;
	background-color: #FFFFCC;
}
#testa #header1 #header1_centro{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 170px;
	vertical-align: text-bottom;
	height: 106px;
	float: left;
	text-align: left;
}
#testa #header1 #header1_dx{
	margin-top: 22px; /* per centrare i loghi verticalmente*/
	text-align: right;
	padding-right: 25px;
	vertical-align: middle;
	width: 400px;
	float: right;
	text-align: right;
}
#testa #header1 #menu2 a:link, #testa #contenuti #menu2 a:visited{
}
#testa #header1 #menu2 a:hover, #testa #contenuti #menu2 a:active{
}

#testa #header2{
	background: url('/images/d-logodemetrab.gif') no-repeat;
	height: 23px;
	position: relative;
}
#testa #header2 #header2_cdx{
	background: url('/images/d-sfheader.gif') repeat-x;
	margin: 0px 0px 0px 180px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	vertical-align: bottom;
	height: 23px;
	font: normal bold 15px/18px Arial, Verdana, Helvetica,sans-serif;text-decoration: none;
}


/*---------- TOOLBAR ----------*/
#testa #toolbar{
	position: relative;
	background-color: #BD2918;
	border-top: 1px solid #BD2918;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	vertical-align: middle;
	height: 22px;
	color: #fff; padding: 0px 0px;
}

#testa #toolbar a:LINK {color: #CC0000; text-decoration:none;font-weight: normal;}
#testa #toolbar a:ACTIVE {color: #CC0000; text-decoration:none;font-weight: normal;}
#testa #toolbar a:VISITED {color: #CC0000; text-decoration:none;font-weight: normal;}
#testa #toolbar a:HOVER {color: #CC0000; text-decoration:underline;font-weight: normal;}

#testa #toolbar a.toolbar:LINK {color: #CC0000;background-color: #FFFFCC; text-decoration:none;font-weight: normal;padding: 2px 4px;}
#testa #toolbar a.toolbar:ACTIVE {color: #CC0000;background-color: #FFFFCC; text-decoration:none;font-weight: normal;padding: 2px 4px;}
#testa #toolbar a.toolbar:VISITED {color: #CC0000;background-color: #FFFFCC; text-decoration:none;font-weight: normal;padding: 2px 4px;}
#testa #toolbar a.toolbar:HOVER {color: #CC0000;background-color: #FFFFCC; text-decoration:underline;font-weight: normal;padding: 2px 4px;}

#testa #toolbar #toolbar_sx{
	float:left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
}
#testa #toolbar #toolbar_dx{
	float:right;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: right;
	width: 380px;
}
#testa #toolbar #toolbar_dx div{
	float:left;
}

.cerca a{margin: 5px 0px 0px 3px; color:#D6161C;font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;}
.cerca a:hover{color: #D6161C;text-decoration: underline}

.cerca {

	border: 1px solid #FFFFFF;
	font: normal bold 1.0em/1.2em Arial, Verdana, Helvetica,sans-serif;text-decoration: none;
	color: #D6161C;
}

input.cerca2 {
    font: 0.8em Arial, Verdana, Helvetica, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 0px 0px;
    width: 120px;
    height: 15px;
    margin: 2px 0px 0px 0px;
    vertical-align: top;
}

ul.menusuperiore {
	margin: 0px 0px 0px 5px;
	padding: 3px 0px 3px 0px;
	vertical-align: middle;
}
li.menusuperiore {
	display: inline; 
	list-style-type: none;
}

.divisoremenusuperiore {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 1px;
	height:100%;
}

/*---------- PATH ----------*/
#testa #path{
	background-color: #FFF; color: #fff;
	border-bottom: 1px solid #000;
	margin: 0px 0px 0px 0px;
	padding: 2px 10px; color: #000000; height: 1.2em;
}
#testa #path a:LINK {color: #000;text-decoration:underline;font-weight: normal;}
#testa #path a:ACTIVE {color: #000;text-decoration:underline;font-weight: normal;}
#testa #path a:VISITED {color: #000;text-decoration:underline;font-weight: normal;}
#testa #path a:HOVER {color: #990000;text-decoration:underline;font-weight: normal;}
