/****************************************************STRUTTURA TEMPLATE***********************************************************/
/* le 3 parti del template */
/* centrare la pagina web a larghezza fissa */
/*body { text-align:center;background-color:#B6DA92; }*/

#container{
	min-width: 610px; 
/*	max-width:994px;*/
	width:1055px; /* MZ100311 */
/*	_width:expression(document.body.clientWidth > 994? "994px": "100%" );*/
/*	margin:0em auto; */
	text-align:left;
	border:0px solid #002B4E;
        margin: auto; /* MZ100311 */
	background-color:#E6E6E6;
}

#testa { width:100%; margin:0em auto; text-align:left }
#testa2 { width:100%; margin:0em auto; text-align:left }
#corpo { width:100%; margin:0em auto; text-align:left }
#footer { width:100%; margin:0em auto; text-align:left }

/*--------------------------------------------------TESTA-------------------------------------------------------------------*/
/* TESTA composta da: header (header1(header1_centro - header1_dx)) - toolbar - path*/
/* <> = spazio vuoto */

#testa {
	border:0px solid #000;
	background-color:white;
	background-image: url('/images/logo_it.jpg');
	background-position: center;
	background-repeat: no-repeat;
	color:#ffffff;
	height: 200px;
}

#testa2 {
	border:0px solid #000;
	background-color:white;
	color:#ffffff;
	height: 30px;
}

/*----------- HEADER -----------*/

#testa #header_sup{
	background-color: #002B4E;
	height: 4px;
	width: 100%;
}


#testa #header1{
	margin: 0px; 
        padding: 0px 0px 0px 0px;
}

#testa #header1 #header1_centro{
	float: left;
	text-align: left;
	background-color:white;
	background-image: url('/images/background_header_siexpo.jpg');
	height: 200px;
	width:435px;
	font: normal 1.2em/0.8em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;
}

#testa #header1 #header1_dx{
	float:right;
	text-align: right;
	padding: 0px 0px 0px 0px;
	height: 95px;
}

#testa a:LINK {color: #369A07; text-decoration:none;font-weight: bold;font-size: 0.9em;padding-top:10px;}
#testa a:VISITED {color: #369A07; text-decoration:none;font-weight: bold;font-size: 0.9em;padding-top:10px;}
#testa a:HOVER {color: #BFD307; text-decoration:none;font-weight: bold;font-size: 0.9em;padding-top:10px;}
#testa a:ACTIVE {color: #BFD307; text-decoration:none;font-weight: bold;font-size: 0.9em;padding-top:10px;}

#testa2 a:LINK {color: #369A07; text-decoration:none;font-weight: bold;font-size: 0.9em;padding-top:10px;}
#testa2 a:VISITED {color: #369A07; text-decoration:none;font-weight: bold;font-size: 0.9em;padding-top:10px;}
#testa2 a:HOVER {color: #BFD307; text-decoration:none;font-weight: bold;font-size: 0.9em;padding-top:10px;}
#testa2 a:ACTIVE {color: #BFD307; text-decoration:none;font-weight: bold;font-size: 0.9em;padding-top:10px;}

#logo{
	height:190px;
	background-color: #FFFFFF;
}

#box_home{
	background-color: #ECEDEF;
		height: 290px;
}

#box_home_dx{
	float:right;
	border:1px solid #000;
	text-align: right;
	margin-top:15px;
	margin-right:15px;
}
#box_home_sx{
	float:left;
	border:0px solid #000;
	width:730px;
	margin-left:10px;
}

#flag{
	width:30px;
	margin-top:10px;
	float:right;
	
}

#reg{
	float:left;
	margin-top:5px;
	margin-left:5px;
	color:#369A07;
	text-align:left;
	font: normal 0.9em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;
}

#reg a:link{
	color:#369A07;
	font: normal 0.9em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;
	padding: 0px;
	text-decoration:none;
}

a.areg{
	color:#369A07;
	font: normal 1.2em/0.8em Times New Roman, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
	text-decoration:none;
}

#bottoni{
	height:95px;
	color:#369A07;
}

#bott1{
	float:left;
	width: 140px;
	height:90px;
	margin-right:10px;
	background-color:#FFFFFF;
	padding: 5px 5px 0px 0px;
	font: bold 1.0em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;
}

#bott1 a:link{font: bold 1.0em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;}

#bott2{
	float:left;
	width: 140px;
	margin-right:10px;
	height:90px;
	background-color:#FFFFFF;
	padding: 5px 5px 0px 0px;
	font: bold 1.0em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;
}

#bott2 a:link{font: bold 1.0em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;}


#bott3{
	float:left;
	width: 140px;
	margin-right:10px;
	height:90px;
	background-color:#FFFFFF;
	padding: 5px 5px 0px 0px;
	font: bold 1.0em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;
}

#bott3 a:link{font: bold 1.0em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;}

#bott4{
	float:left;
	width: 140px;
	height:90px;
	background-color:#FFFFFF;
	padding: 5px 5px 0px 0px;
	font: bold 1.0em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;
}

#bott4 a:link{font: bold 1.0em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;}

#tools{
	margin-top:10px;
}

#tools_sx{
	float:left;
/*	background: url('/images/background_toolbar_siexpo.jpg') no-repeat;*/
	width: 0px;
	height:0px;
}

#tools_dx{
	float:right;
	width: 100%;
	text-align:left;
	margin-top:35px;
	font: bold 1.2em/1.2em 'Open Sans', Arial, Times New Roman, Verdana, Helvetica, sans-serif;
	color:#369A07;
}
/*---------- LIVELLI MENU TESTA ----------*/
ul#menu_testa{
	height: 115px;
	float: left;
	margin: 0;
	padding: 0;
	list-style:none;
	font:1em Verdana;
}	
ul#menu_testa li ul li{
	list-style:none;
	margin:0;
	padding:0;

}
ul#menu_testa li#menu1{
	width: 155px;
	float:left;
	margin: 0;
	padding-top: 75px;
	color:black;
	text-align:right;
	height: 115px;
	background: url('/images/invest_menu/bg_menu1.gif') no-repeat;
}
ul#menu_testa li#menu1:hover{
	background: url('/images/invest_menu/bg_menu1_sel.gif') no-repeat;
}
ul#menu_testa li#menu1:active{
	background: url('/images/invest_menu/bg_menu1_sel.gif') no-repeat;
}

ul#menu_testa li#menu2{
	width: 155px;
	float:left;
	margin: 0;
	padding-top: 65px;
	border-right: 0px solid #D76120;
	color:black;
	text-align:right;
	height: 115px;
	background: url('/images/invest_menu/bg_menu2.gif') no-repeat;
}
ul#menu_testa li#menu2:hover{
	background: url('/images/invest_menu/bg_menu2_sel.gif') no-repeat;
}
ul#menu_testa li#menu2:active{
	background: url('/images/invest_menu/bg_menu2_sel.gif') no-repeat;
}

ul#menu_testa li#menu3{
	width: 155px;
	float:left;
	margin: 0;
	padding-top: 75px;
	border-right: 0px solid #D76120;
	color:black;
	text-align:right;
	height: 115px;
	background: url('/images/invest_menu/bg_menu3.gif') no-repeat;
}
ul#menu_testa li#menu3:hover{
	background: url('/images/invest_menu/bg_menu3_sel.gif') no-repeat;
}
ul#menu_testa li#menu3:active{
	background: url('/images/invest_menu/bg_menu3_sel.gif') no-repeat;
}

ul#menu_testa li#menu4{
	width: 155px;
	float:left;
	margin: 0;
	padding-top: 75px;
	border-right: 0px solid #D76120;
	color:black;
	text-align:right;
	height: 115px;
	background: url('/images/invest_menu/bg_menu4.gif') no-repeat;
}
ul#menu_testa li#menu4:hover{
	background: url('/images/invest_menu/bg_menu4_sel.gif') no-repeat;
}
ul#menu_testa li#menu4:active{
	background: url('/images/invest_menu/bg_menu4_sel.gif') no-repeat;
}

/*---------- LINK MENU TESTA ----------*/

ul#menu_testa a:link{
	font-size: 1.0em;
	font-weight:bold;
	color: #FFFFFF;
	padding-right:5px;
}

ul#menu_testa a:visited{
	font-size: 1.0em;
	font-weight:bold;
	color: #FFFFFF;
	padding-right:5px;
	display: block;
	text-decoration: none;
}

ul#menu_testa a:hover{
	
}

ul#menu_testa a:focus,

ul#menu_testa a:active{

}

/*---------- NASCONDE SOTTOLIVELLI MENU TESTA ----------*/

ul#menu_testa li ul{
	display: none;
}

/*---------- ESPLODE SOTTOLIVELLI MENU TESTA ----------*/

ul#menu_testa li#menu1:hover ul{
	display: block;
	position: relative;
	z-index:1;
	width:155px;
	padding: 0;
	margin: 23px 0 0 0px;
	background: #CD182A;
	font-size:0.8em;
}
ul#menu_testa li#menu1 li {
	border-top:1px solid #FFFFFF;
	padding:5px;
	width: 145px;
}




ul#menu_testa li#menu2:hover ul{
	display: block;
	position: relative;
	z-index:1;
	width:155px;
	padding: 0;
	margin: 17px 0 0 0px;
	background: #008A2D;
	font-size:0.8em;
}
ul#menu_testa li#menu2 li {
	border-top:1px solid #FFFFFF;
	padding:5px 5px 5px 5px;
	width: 145px;
}


ul#menu_testa li#menu3:hover ul{
	display: block;
	position: relative;
	z-index:1;
	width:155px;
	padding: 0;
	margin: 23px 0 0 0px;
	background: #005E9E;
	font-size:0.8em;
}
ul#menu_testa li#menu3 li {
	border-top:1px solid #FFFFFF;
	padding:5px 5px 5px 5px;
	width: 145px;
}

ul#menu_testa li#menu4:hover ul{
	display: block;
	position: relative;
	z-index:1;
	width:155px;
	padding: 0;
	margin: 23px 0 0 0px;
/*	background: #B1B2B4;*/
	background: #999A9D;
	font-size:0.8em;
}
ul#menu_testa li#menu4 li {
	border-top:1px solid #FFFFFF;
	padding:5px 5px 5px 5px;
	width: 145px;
}

/*---------- TOOLBAR ----------*/
#toolbar{
	background-color: #7FB730; /* MZ021111 */
	border: 0px solid #000080;
	text-align: center;
	color: #FFFFFF;
	height:70px;
}

/*#toolbar{
	display:none;*/
}

#toolbar_sx{
	float:left;

}

#toolbar_dx{
	float:right;
	padding-top:3px;
	padding-right:3px;
	
}

#toolbar a:LINK {color: #FFFFFF; text-decoration:none;font-weight: normal;}
#toolbar a:VISITED {color: #FFFFFF; text-decoration:none;font-weight: normal;}
#toolbar a:HOVER {color: #FFFFFF; text-decoration:underline;font-weight: normal;}
#toolbar a:ACTIVE {color: #FFFFFF; text-decoration:none;font-weight: normal;}

#toolbar a.toolbar:LINK {color: #FFFFFF;background-color: transparent; text-decoration:none;font-weight: normal;padding: 6px 12px;}
#toolbar a.toolbar:VISITED {color: #FFFFFF;background-color: transparent; text-decoration:none;font-weight: normal;padding: 6px 12px;}
#toolbar a.toolbar:HOVER {color: #FFFFFF;background-color: #016D00; text-decoration:none;font-weight: normal;padding: 6px 12px;}
#toolbar a.toolbar:ACTIVE {color: #FFFFFF;background-color: #016D00; text-decoration:none;font-weight: normal;padding: 6px 12px;}

#toolbar a.toolbarsel:LINK {color: #FFFFFF;background-color: #016D00; text-decoration:none;font-weight: normal;padding: 6px 12px;}
#toolbar a.toolbarsel:VISITED {color: #FFFFFF;background-color: #016D00; text-decoration:none;font-weight: normal;padding: 6px 12px;}
#toolbar a.toolbarsel:HOVER {color: #FFFFFF;background-color: #016D00; text-decoration:none;font-weight: normal;padding: 6px 12px;}
#toolbar a.toolbarsel:ACTIVE {color: #FFFFFF;background-color: #016D00; text-decoration:none;font-weight: normal;padding: 6px 12px;}

ul.menusuperiore { /* MZ110311*/
/*        background: url('/images/menu_home.jpg') repeat-x;*/
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 0px;

}
li.menusuperiore {
	display: inline; 
	list-style-type: none;
	margin-left: 6%;
        margin-right: 5%;
        padding-bottom:0.5em;
        margin-top:0.5em;
}

.divisoremenusuperiore {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 1px;
	height:100%;
	color: #FFFFFF;
}

/*---------- PATH ----------*/
#path{
	background-color: #F2E5D4; 
	color: #02326C;
	margin: 2px 0px 0px 0px;
	padding: 0px 10px;
	height: 1.8em;
	text-align: left;
	vertical-align: middle;
}
#path a:LINK { font-size: 1.0em; line-height: 1.6; color: #000080; text-decoration:none; font-weight: bold;}
#path a:ACTIVE { font-size: 1.0em; line-height: 1.6; color: #000080;text-decoration:underline; font-weight: bold;} 
#path a:VISITED { font-size: 1.0em; line-height: 1.6; color: #000080;text-decoration:none; font-weight: bold;}
#path a:HOVER { font-size: 1.0em; line-height: 1.6; color: #000080;text-decoration:underline; font-weight: bold;}

/*---------- MOTORE DI RICERCA ----------*/

input.cerca2 {
	font: normal 1.0em/1.2em 'Open Sans', Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	border: 0px solid #868686;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 220px;
	height: 30px;
}

input.pulsante2 {
	background-image: url(/images/cerca.jpg);
	margin: 0px;
	float: right;
	margin: 0px 0px 0px 0px;
	border: 0px;
}