/*
Uploadify v2.1.4
*/
.uploadifyQueueItem {
    background-color: #F5F5F5 !important;
    border: 2px solid #E5E5E5 !important;
    font: 11px Verdana, Geneva, sans-serif !important;
    margin-top: 5px !important;
    padding: 10px !important;
    width: 350px !important;
}
.uploadifyError {
    background-color: #FDE5DD !important;
    border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
    float: right !important;
    width: 17px;
}
.uploadifyQueue .completed {
    background-color: #E5E5E5 !important;
}
.uploadifyProgress {
    background-color: #E5E5E5 !important;
    margin-top: 0px !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 4px !important;
}
.uploadifyProgressBar {
    background-color: #0099FF !important;
    height: 3px !important;
    width: 1px !important;
    margin: 0px !important;
}