/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-ott-2013, 16.28.23
    Author     : Francesco Spagnoli
*/

@CHARSET "UTF-8";
body {
    background-color:#FFFFFF;
    font-family: "MuseoSans500Regular", sans-serif;
    background-image:url("/tmpl/expo2015VT/vetrina/images/sfondo.png");
    background-position:top center;
    background-repeat:repeat-x;
    font-size:12px;
    color:#747679;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
@font-face {
    font-family: 'MuseoSans500Regular';
    src: url('/tmpl/expo2015VT/vetrina/css/font/MuseoSans_500-webfont.eot');
    src: url('/tmpl/expo2015VT/vetrina/css/font/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
        url('/tmpl/expo2015VT/vetrina/css/font/MuseoSans_500-webfont.woff') format('woff'),
        url('/tmpl/expo2015VT/vetrina/css/font/MuseoSans_500-webfont.ttf') format('truetype'),
        url('/tmpl/expo2015VT/vetrina/css/font/MuseoSans_500-webfont.svg#MuseoSans500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#container_center_ce{
    margin-left: 45px;
    width: 918px;

}

.clear {
    clear:both;
    height:1px;
}

div#header_left
{
    /*xxxborder: 1px solid BLUE;*/
    width: 290px;
    height:130px;
    float:left;
    margin:0 2px 0 0;
}
div#hp_header
{
    /*width: 1008px;*/
    height:132px;
    /*background-image:url("img/chibi/hp_header_bg.jpg");
    background-repeat:no-repeat;*/
    margin-top:0;
    padding-top:35px; 
}
div#header_center
{/*xxx border: 1px solid BLUE;*/

    float:left;
    height: 130px;
    margin: 0 2px 0;
    /*width: 300px;*/
    width: 280px;
}
div#header_right
{/*xxx border: 1px solid BLUE;*/
    width: 290px;
    height:130px;
    float:right;
    margin:20px 0 0 0;
    margin:0;
    text-align:right;
}

div#container_center
{	background-image:url("/tmpl/expo2015VT/vetrina/images/sfondo_center.png");
  background-position:top center;
  background-repeat:repeat-y;
  width: 1008px;
  padding-bottom:35px;
  /*margin:0 0 20px 0;*/
  /*xxx border: 1px solid BLUE;*/
}
div#maincontainer
{
    width: 1008px;
    margin:15px auto 0 auto;	
    /*xxx 	border: 1px solid BLUE;*/
}
#mainboxbg{
    padding: 0 15px;
}
#main
{
    /*width: 1008px;*/
    margin-top:5px;

    /*background-image:url("/tmpl/expo2015VT/vetrina/images/main_bg.png");
    background-repeat:no-repeat;*/
    min-height:150px;
}

div#footer
{
    width: 1008px;
    margin: 20px auto;
    text-align:center;


}

div#footer .content
{
    padding: 0;

}
div.container_top
{
    width: 1008px;
    height:1px;
    margin:0;
    /* background-image:url("/tmpl/expo2015VT/vetrina/images/sfondo_top.png");
     background-repeat:no-repeat;
     background-position:top center;*/
}
div.container_bottom
{
    width: 1008px;
    height:14px;
    margin:0;
    background-image:url("/tmpl/expo2015VT/vetrina/images/sfondo_bottom.png");
    background-repeat:no-repeat;background-position:top center;
}
div#menu 
{
    /*width: 1008px;*/
    height:47px;
    text-align: center;
    margin:0 0 0 0;
    padding:0 0 0 0;
    /*background-image:url("img/chibi/menu_bg.jpg");
    background-repeat:repeat-x;*/
    border-top:#d2d2d2 1px solid;
    /*font-family: Arial;*/
}
.mybottom{
    border-bottom:#d2d2d2 1px solid;

}
div#menu .content
{
    margin: 0px;
    /*float:left;*/

}

div#menu .content ul
{
    text-align:center;
    list-style:none;
    margin: 0px;
    padding:0 0 0 0;
}
/*.menushort{
padding-left:190px !important;
}
.menulong{
padding-left:70px !important;
}*/
/*
.menuvisen{padding-left:250px !important;}
.menuvisfr{padding-left:190px !important;}
.menuvisenpmi{padding-left:108px !important;}
.menuvisfrpmi{padding-left:34px !important;}

.menufcen{padding-left:170px !important;}
.menufcfr{padding-left:70px !important;}

.menuparen{padding-left:0px !important;}
.menuparfr{padding-left:0px !important;}

.menueden{padding-left:250px !important;}
.menuedfr{padding-left:70px !important;}

.menupben{padding-left:250px !important;}
.menupbfr{padding-left:70px !important;}

.menuPDMI{padding-left:400px !important;}
.menuPDMIenOB{padding-left:122px !important;}
.menuPDMIfrOB{padding-left:34px !important;}
.menuPDMIitOB{padding-left:266px !important;}
*/

.menuvisen{padding-left:0px !important;}
.menuvisfr{padding-left:0px !important;}
.menuvisenpmi{padding-left:0px !important;}
.menuvisfrpmi{padding-left:0px !important;}

.menufcen{padding-left:0px !important;}
.menufcfr{padding-left:0px !important;}

.menuparen{padding-left:0px !important;}
.menuparfr{padding-left:0px !important;}

.menueden{padding-left:0px !important;}
.menuedfr{padding-left:0px !important;}

.menupben{padding-left:0px !important;}
.menupbfr{padding-left:0px !important;}

.menuPDMI{padding-left:0px !important;}
.menuPDMIenOB{padding-left:0px !important;}
.menuPDMIfrOB{padding-left:0px !important;}
.menuPDMIitOB{padding-left:0px !important;}
div#menu ul li
{
    display:inline;

    /*
    float:left;
    height:47px;	
    display:inline;
    margin:0 0 0 0;
    */
}

a:visited {
    color:#024D7F;
}
div#menu {
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
}
div#menu ul li a
{
    color: #034c7f;
    display:inline-block;
    padding:10px;
    font-weight: bold;
    font-size:1.3em;
    line-height:47px;
    height:47px;
    text-decoration: none;
    text-transform:uppercase;
    padding: 0 9px;
}



#menu ul .menu1sel a {	
    background-image:url('/tmpl/expo2015VT/vetrina/images/active.png');
    background-repeat:no-repeat;
    background-position:bottom center;

}

div#menu ul li a:hover {
    color:#747679;
    cursor:pointer;
}

#menu ul li a:hover{
    background-image:url('/tmpl/expo2015VT/vetrina/images/active.png');
    background-repeat:no-repeat;
    background-position:bottom center;

}
div#menu ul li ul 
{
    margin-left:-30px;
    margin-top: 17px;
}
#menu ul li ul 
{
    width:250px!important;
}
#menu ul li ul li{
    width: 250px !important;
    height: 30px;
    line-height: 32px;
}
#menu ul li ul li a
{
    background-image:url('/tmpl/expo2015VT/vetrina/images/back_ground_list.png');
    background-repeat:repeat-y;
    color:#FFFFFF;
    font-size:14px;
    font-weight:normal;
    height: 30px;
    line-height: 34px;
    /*background-position:1px 9px;
    padding-left:30px;*/
}

div#menu.menuparen  ul li a.sf-depth-1,div#menu.menuparfr  ul li a.sf-depth-1
{
    padding: 0 4px;
    /*font-weight: lighter;*/
}
#menu ul li ul li a:hover{
    background-image:url('/tmpl/expo2015VT/vetrina/images/back_ground_list.png');
    background-repeat:repeat-y;/*
    background-position:center;*/
    background-position:default;
}/*
#menu ul li ul :first-child a{
  height: 40px;
    line-height: 40px;
}
#menu ul li ul :last-child a{
  height: 40px;
    line-height: 40px;
}*/
#hpmain{
    float: left;
    width:100%;
}
#hpmain_sx{
    /*xxx  border: 1px solid RED;*/
    display: block;
    float: left;
    margin-right: 30px;
    width: 300px;
    /* min-height: 160px;*/
}
#hpmain_dx{
    /* border: 1px solid green;*/
    display: block;	
    float: right;
    /*  min-height: 160px;*/
    width: 566px;
}
#hpmain_center{
    display: block;	
    /*border: 1px solid green;*/
    float:left;
    /* min-height: 160px;*/
    width: 100%;
}
#hpmain_center_top{
    display: block;	
    /*border: 1px solid green;*/
    float:left;
    /*min-height: 160px; */
    width: 100%;
}
#hpmain_dx_left{
    /*border: 1px solid red;*/
    display: block;
    float: left;
    /*   min-height: 50px;*/
    width: 283px;
}
#hpmain_dx_right{
    /*border: 1px solid blue;*/
    display: block;
    float: right;
    /* min-height: 50px;*/
    width: 259px;
}
#hpmain_dx_center{
    /* border: 1px solid green;*/
    display: block;	
    float: right;
    /* min-height: 160px;*/
    /*  width: 488px;*/
    width: 566px;
}
.login_dx{
    display: block;	
    float: right;
}
.lbl_12bold{
    color: #024D7F;
    font-size: 12px;
    font-weight: bold;
}
#my-edit-submit{
    background-image: url("/tmpl/expo2015VT/vetrina/images/login_btnentra.png");
    color:#fff;
    background-position:4px 1px;
    padding-left:0px;
    border:0;
    width:65px;
    height:25px;
    font-weight: bold;
    text-align:center;
    bottom:0px;
    vertical-align:bottom ;
    margin-bottom:7px;
    /*margin-left: 5px;*/
}

#user-login-form2 .form-item{
    margin-top:0px;
    margin-bottom:0px;
}
.login_inputtext{
    background-image: url("/tmpl/expo2015VT/vetrina/images/textinput.png");
    background-repeat: no-repeat;
    border:0;
    /*height:35px;*/
    height:24px;
    background-position: left center;
    padding-top:2px;
    padding-bottom:0px;
    margin-bottom:10px;
    /*padding-left:7px;*/
}
.login_sx{
    padding-right:15px;
}
.titlePage{
    /*background-image: url("/tmpl/expo2015VT/vetrina/images/ico_titleOR.png");*/
    /*background-position: 0 8px;*/
    background-position: 0 0px;
    background-repeat: no-repeat;
    color: #024D7F;
    font-size: 26px;
    font-weight: bold;
    line-height: 62px;
    /* text-indent: 12px;*/
}
.titlelinkSF{
    /*background-image: url("/tmpl/expo2015VT/vetrina/images/ico_titleOR.png");*/
    /* background-position: 0 8px;*/
    background-position: 0 0px;
    background-repeat: no-repeat;
    font-weight: bold;
    line-height: 62px;
    /*  text-indent: 12px;*/
    font-size: 14px;
    color: #024D7F;

}
.titlelinkSF a{
    text-decoration:none;
    color: #024D7F;
    font-size: 14px;

}
.titlelinkSFnormal{
    background-position: 0 0px;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 14px;
    color: #024D7F;

}
.titlelinkSFnormal a{
    text-decoration:none;
    color: #024D7F;
    font-size: 14px;

}
.titleNews{
    color: #024D7F;
    /*   font-size: 18px;*/
    font-weight: bold;
    padding-top:5px;
}
.view-display-id-block_3 .titleNews{
    font-size: 12px;
}
#block-views-vw_news-block_3{
    padding-top:30px;
}
.dataGeneral{
    font-size: 12px;
    font-weight: normal;
}
a.read-more {
    color: #0091D0;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    top: -17px;
}

.back_pms{
    color: #0091D0;
    display: block;
    float: right;
    position: relative;
    text-decoration: none;

}
.normal_link{
    color: #0091D0;
    display: block;

    text-decoration: none;

}
.abstractNews{
    font-size: 12px;
    font-weight: normal;
    position: relative;
    top: -8px;
}
.contentNews{

    font-weight: normal;


}

.tbpartecipanti{
    width:100%;
    border: 1px solid #e0dcda;	
}
.tbpartecipanti td{
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 10px;
}
.tbpartecipanti tr{
    border-bottom: 1px solid #e0dcda;
    color:#034d7f;
    font-size:14px;
    /*height:50px;*/
}
.expo-menu {

    padding-bottom:10px;
    text-align:center;
    width:300px;
}
.expo-menu > span{
    cursor:pointer;
    display:inline-block;
    color:#034d7f;
}
.msg_partecipante{
    text-align:center;
    vertical-align: middle;
}
.nazione_partecipante{
    width:65%;
}
.nazione_partecipante a{
    color:#034d7f;
    font-size:14px;
    text-decoration:none; 
}

.new_mwessage{
    background-color:#e0dcda;
    width:85px;
    font-size:11px;
    text-align:center;
    font-weight:bold;
    height:30px;
}

.iframe_fc_hp{
    border:none;
    width:100%; 
    min-height:300px;
}
.iframe_general{
    border:none;
    min-height: 600px;
    min-width: 934px;
}
.iframe_fc_sel{
    border: medium none;
    float: right;
    min-height: 500px;
    width: 714px;
}
.iframex2v_general{
    border:none;
    min-height: 300px;
    min-width: 934px;
}

/*inizio classe table*/
.views-table{
    width:100%;
    vertical-align:middle;
}
.views-table img{
    vertical-align:middle;
}
.views-table thead{
    color:#024d7f;
    height: 30px;
}
.views-table td,.views-table thead th{
    border: 1px solid #dbdbdb !important;
    vertical-align:middle;
    height:30px;
}
.views-table tbody tr:nth-child(even) {background: #FFF;}
.views-table tbody tr:nth-child(odd) {background: #f8f8f8;}
/*lista parteciapnti*/
.view-vw-listapartecipanti .views-table .views-field-field-bandiera-partecipante-fid {
    text-align:center;
    width:6%;

}
.view-vw-listapartecipanti .views-table .views-field-title {
    width:45%;
    padding-left:15px;
}
.view-vw-listapartecipanti .views-table .views-field-field-data-conferma-partecipante-value {
    padding-left:15px;
}
.view-vw-listapartecipanti .views-table .views-field-field-commgenerale-partecipante-value{
    padding-left:15px;
}
/*lista docuemtni*/
.view-vw-documenti .views-field-nid{
    text-align:center;
    width:3%;	
}
.view-vw-documenti  .views-field-title{
    width:50%;
    padding-left:15px;
}

.view-vw-documenti  .views-field-field-autore-documento-value{
    width:20%;
    padding-left:15px;
}

.view-vw-documenti  .views-field-field-data-pubblicazione-documen-value,.view-vw-documenti  .views-field-field-pubblicazi-docum-pmi-value{
    width:20%;
    padding-left:15px;
}
.view-vw-documenti  .views-field-field-pdf-documento-fid,.view-vw-documenti .views-field-field-pdf-docum-pmi-fid{
    padding-left: 25px;
    text-align: left;
    width: 14%;
}


/*fine classe table*/

/*inizio classe viewfaq*/
.viewfaq ol{
    padding-left: 20px;
}
.views-field-title a{
    text-decoration:none;
    color:#034C7F;
}
.viewfaq  .views-field-title a:visited{
    color:#034C7F;
    text-decoration:none;
}
.view-display-id-block_3   ol li{
    line-height: 20px;
}
.viewfaq ol li{
    color:#034C7F;
}
.viewfaq ol li .views-field-body{
    /*color:#868789;*/
    color:#747679;
    margin-left: -15px;
}
/*fine classe viewfaq*/


#block-locale-0{
    float: left;
    margin-left:32px;
    margin-top: 33px;
}
#block-block-45{
    margin-top: 55px;
    margin-left:50px;

}
#block-locale-0 h2 {
    display: none;
}
#block-locale-0 ul {

}
#block-locale-0 li {
    float: left;
    list-style-type: none;
    margin-right: 8px;
}



.loggedBlock{
    color:#6d4a59;
}
.loggedBlock a{
    text-decoration:underline !important;
    font-weight:normal; 
    color:#6d4a59;
}
.loggedBlock a:visited{
    text-decoration:underline;
    font-weight:normal; 
    color:#6d4a59;
}

#block-block-46{
    margin-top: 26px;
}
.myActive,.active-trail{
    background-image:url('/tmpl/expo2015VT/vetrina/images/active.png');
    background-repeat:no-repeat;
    background-position:bottom center;
    /*height:35px;*/
}


.clear-block tbody{
    border:none;
}

#player1{
    padding-left: 18px;
}

.view-vw-news .views-row {
    border-bottom: 1px dashed #cccccc;
    padding:10px 0px 10px 0px ;
}
#block-views-vw_news-block_1 .view-vw-news .views-row{
    border-bottom: none;
}
.acidfree-cell div.bottom
{
    background-image: url("/tmpl/expo2015VT/vetrina/images/foto_bottom.png");
    background-position: right center;
    background-repeat: no-repeat;
    height: 70px;
    margin: 0;
    width: 206px;
}

.acidfree-thumbnail{
    width:205px!important;
    height:120px!important;
}
div.acidfree-item{
    padding:0px !important;
}
div.acidfree-cell img{
    width:202px!important;
    padding:0px !important;
    border:none;
    margin-left: -2px;
    height: 120px;
}
div#main .unacolonna .fotogallery .riga .boxfoto .foto .central .content, div .acidfree-folder
{
    margin:0 !important;
}
.acidfree .acidfree-cell{
    height: auto!important;
}
div.acidfree-cell div.acidfree-folder,div.acidfree-cell > div.acidfree-item
{
    width: 206px;
    margin:0;
    background-image:url("/tmpl/expo2015VT/vetrina/images/foto_down.png");
    background-repeat:no-repeat;
    background-color:none!important;
    border:none!important;
    height:120px;
    background-position: 6px 10px;
}
div.acidfree-folder p a,div.acidfree-image p a,div.acidfree-cell p a
{
    position: relative;
    text-decoration: none;

    color:#024d7f;
    font-weight:bold;
    padding-left: 20px;
    width: 81%;

}
div.acidfree-cell {

    margin-bottom: 30px;
    margin-right: 24px;
}
div.acidfree-overlay{
    bottom: -15%;
}
.pager li{
    color:#024d7f;
}
li a.active {
    color:#024d7f;
}
.pager-current{
    color:#0091D0 !important;
}
h3{
    color:#024d7f;
}
/*ligthbox2*/
imageData #imageDetails {
    width:100%;
    text-align: left;
}
#imageDataContainer{
    background-color: #000000 !important;
    color: #ffffff !important;
}
#imageData{
}
#imageData #bottomNav {
    height: 1px;
}
.lightbox2-alt-layout #imageData #bottomNav, .lightbox2-alt-layout-data #bottomNav {
    margin-bottom: 0px;
}
#nextLink:hover, #nextLink:visited:hover, #nextLink, #nextLink:visited  {
    background: url("img/gallery/img_next.gif") no-repeat ;
    height: 13px;
    width: 20px;
}
#prevLink:hover, #prevLink:visited:hover, #prevLink, #prevLink:visited  {
    background: url("img/gallery/img_prev.gif") no-repeat;
    height: 13px;
    width: 20px;
}
#prevLink, #framePrevLink {
    float: right;
    right: 1px;
    left: 1px;
}
/*#imageData #bottomNav {
    height: 14px;
}*/
#frameHoverNav {
    bottom: 0;
    height: 13px;
    /*margin-left: auto;
    margin-right: auto;*/
    position: relative;
    width: 10%;
    float:left;
    text-align: right;
}
#imageData #numberDisplay {
    clear: left;
    display: block;
    padding-bottom: 0px;
    width:80px;
}
#bottomNavClose, #bottomNavClose :hover {
    background: url("img/gallery/img_close.gif") no-repeat;
    height: 13px;
    width: 13px;
    bottom:13px;
    right:0;
    display:block;
    /*position:absolute;*/
    position:relative;
}
/*aggiunta marco*/
#bottomNavZoom{
    bottom:26px;
    /*	 bottom: 13px!important;*/
    height: 13px;
    width: 13px;
    display:block;
    /*position:absolute;*/
    position:relative;
}
#bottomNavZoomOut{
    /*bottom:13px;*/
    bottom: 26px !important;
    display:block;
    /*position:absolute;*/
    position:relative;
    height: 13px;
    width: 13px;
}
/* fine aggiunta marco*/


.media-youtube{
    text-align:center;
}
.tablenews .col-1,.tablenews .col-2,.tablenews .col-3{
    /*width:30%;*/
    border-right: 40px solid white;
    border-bottom: 1px dashed #cccccc;
    vertical-align: top;
}
#tbbottonipar{
    width:100%;
    text-align:center;
    vertical-align:middle;
    border:5px solid #ffffff;
}
#tbbottonipar  .celeste{
    background-color:#accdec;
    height:50px;
    width:50%;
    border:5px solid #ffffff;
}
#tbbottonipar  .celeste2{

    background-color: none;
    border: 5px solid #FFFFFF;
    height: 51px;
    text-align: right;
    width: 50%;
}

#tbbottonipar  .btfc{

    background-color: none;
    border: 0px solid #FFFFFF;
    height: 51px;
    text-align: right;
    width: 50%;
    line-height:0px;
}
#tbbottonipar  .celeste a{
    color:#ffffff;text-decoration:none
}
#tbbottonipar  .celeste2 a{
    display: block;
    height: 69px;
    text-decoration: none;
}
#tbbottonipar  .grey{
    background-color:#e0dcda;
    height:50px;
    border:5px solid #ffffff;
}

#tbbottonipar  .grey a{
    color:#024d7f;text-decoration:none;
}
.bigliettoFC{
    padding :25px;
    border: 1px solid #cccccc;
}
.name{
    font-size: 18px;
    color: #024D7F;
}
.linkbliglietto{
    color: #0091D0;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding-left:10px;
}
#tbparselected{
    color: #024D7F;
    width:900px;
    margin-bottom: 10px;
}
.slectmiddle{
    /*vertical-align:middle;
    padding-bottom:12px;*/
    bottom: 7px;
    position: relative;
}
#select-partecipant{
    background-image: url("/tmpl/expo2015VT/vetrina/images/ddl.png");
    background-repeat: no-repeat;
    border:0;

    /*	background-position: left center;*/
}
#btnleft {
    display: block;
    float: left;
    margin-right: 10px;
    width: 173px;
}
#btnmessages,#btnappl,#btnshare,#btnworkflow{
    height:40px;
    color:#fff;
}
#btnmessages:hover,#btnappl:hover,#btnshare:hover,#btnworkflow:hover{
    cursor:pointer;
}
#txtprof{}
#txtshared{}
#txtmsg{}
#txtappl{}

.btnhppa{
    bottom: 53px;
    color: #84A5D5;
    display: block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    right: 8px;
}

.btnhppaFC{
    bottom: 23px;
    color: #84A5D5;
    display: block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    right: 8px;
}

.newelement{
    background-image: url("/tmpl/expo2015VT/vetrina/images/btn_newelement.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    margin: 4px;
    padding: 0;
    text-indent: 8px;	
}
.newelementPA{
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bolder;
    bottom: 50px;
    display: block;
    position: relative;
    right: 10px;
}
.elemblink{
    /*text-decoration: blink;*/
}
/*
#block-locale-0  .it a{
    visibility: hidden;
}*/
#viewMod :hover{
    cursor:pointer;
}
.titleBlue{
    color: #024D7F;
}
#node-22540 > h2 {
    display: none;
}
#tbbottonipar a {
    opacity:0.80; /* firefox, opera, safari, chrome */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /* IE 8 */
    filter:alpha(opacity=80); /* IE 4, 5, 6 and 7 */
    /* so the element "hasLayout"
    /* or, to trigger "hasLayout" set a width or height */
}

#tbbottonipar a:hover {
    opacity:100; /* firefox, opera, safari, chrome */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /* IE 8 */
    filter:alpha(opacity=100); /* IE 4, 5, 6 and 7 */
    /* so the element "hasLayout"
    /* or, to trigger "hasLayout" set a width or height */
}
.pmi_iframe_form{
    width:890px; height:2100px;

}

.pmi_iframe_booking_hotel{
    width:890px; height:500px;
}
#footerup{
    display: block;
    float: left;
    width: 100%;
}
#block-views-vw_news-block_2 .views-field.views-field-body{
    /* min-height: 40px;*/
}

/***aggiunta fra**/

#backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute;  /*hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    border:1px solid #cecece;
    z-index:1;
}
#popupContact{
    display:none;
    position:fixed;
    _position:absolute; /*hack for internet explorer 6*/
    height:550px;
    width:700px;
    background:#FFFFFF;
    border:2px solid #cecece;
    z-index:9999;
    font-size:6px;
    padding:12px;
    font-size:13px;
    overflow:scroll;
}
#popupContact h1{
    text-align:left;
    color:#6FA5FD;
    font-size:22px;
    font-weight:700;
    border-bottom:1px dotted #D3D3D3;
    padding-bottom:2px;
    margin-bottom:20px;
}
#popupContact h2{
    color:#6FA5FD;
    font-size:22px;
    font-weight:700;
    border-bottom:1px dotted #D3D3D3;
    padding-bottom:2px;
    margin-bottom:20px;
}

#popupContactClose{
    font-size:18px;
    line-height:14px;
    right:6px;
    top:4px;
    position:absolute;
    color:#ffffff;
    font-weight:700;
    display:block;
    cursor: pointer;
    cursor: hand;
    padding:5px;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
    background: #C5DBEC url(bg-btn-blue.png) repeat-x 0 0;
    height:auto;
    width:auto;
    /*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    font-style:italic;
}
.btn_filtra{
    margin: auto;
    width: 50px;
    font-size: 15px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    background:#39d url('/tmpl/expo2015VT/vetrina/images/bg-btn-blue.png') repeat-x scroll 0 0;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    cursor:pointer;
}

.banner_brand{
    padding-bottom: 15px;
}
#table_brand  {
    width:918px;
}#table_brand tbody {
    border-top: none;
}
#table_brand tbody td {
    border-top: 1px solid #CCCCCC;
}

.td_brand{
    width:150px;
    padding-top: 15px;
    padding-bottom: 15px;
} 

.td_brand  > .bloccotesto{
    /*padding-top: 25px;*/
    width:600px;
    /*padding-left:50px;*/
    text-align:justify;
} 

.titlelinkDWfile, .titlelinkDWfile a{

    color: #024D7F;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
} 

.titlelinkDWfile a{

    text-decoration:none;
} 
.tp_brandpage #mainboxbg{
    padding:0px;
}

/*digicamere*/
.tb_dc	{
    border-collapse: inherit;	
}
.bottoni_dc{
    width:200px;
}
.bottoni_dc input{
    background-image:  url('/tmpl/expo2015VT/vetrina/images/btn_workflowstatesFC.png');
    background-position:top center;
    width:173px;
    height:43px;
    border: 0px;
    background-color: #fff;
    background-repeat: no-repeat;
    color: #84A5D5;
    font-weight: bold;
}

ul.menu {
    list-style: none;
    border: none;
    text-align:left; /* LTR */
}
ul.menu li {
    margin: 0 0 0 0.5em; /* LTR */
}
li.expanded {
    list-style-type: circle;
    list-style-image: url(../../misc/menu-expanded.png);
    padding: 0.2em 0.5em 0 0; /* LTR */
    margin: 0;
}
li.collapsed {
    list-style-type: disc;
    list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
    padding: 0.2em 0.5em 0 0; /* LTR */
    margin: 0;
}
li.leaf {
    list-style-type: square;
    list-style-image: url(../../misc/menu-leaf.png);
    padding: 0.2em 0.5em 0 0; /* LTR */
    margin: 0;
}
li a.active {
    color: #000;
}
td.menu-disabled {
    background: #ccc;
}
ul.links {
    margin: 0;
    padding: 0;
}
ul.links.inline {
    display: inline;
}
ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}
.block ul {
    margin: 0;
    padding: 0 0 0.25em 1em; /* LTR */
}

/*
** HTML elements
*/
body.drag {
    cursor: move;
}
th.active img {
    display: inline;
}
tr.even, tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}
tr.drag {
    background-color: #fffff0;
}
tr.drag-previous {
    background-color: #ffd;
}
td.active {
    background-color: #ddd;
}
td.checkbox, th.checkbox {
    text-align: center;
}
tbody {
    border-top: 1px solid #ccc;
}
tbody th {
    border-bottom: 1px solid #ccc;
}
thead th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
}

/*
** Other common styles
*/
.breadcrumb {
    padding-bottom: .5em
}
div.indentation {
    width: 20px;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
    padding: 0.42em 0 0.42em 0.6em; /* LTR */
    float: left; /* LTR */
}
div.tree-child {
    background: url(../../misc/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
    background: url(../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
}
div.tree-child-horizontal {
    background: url(../../misc/tree.png) no-repeat -11px center;
}
.error {
    color: #e55;
}
div.error {
    border: 1px solid #d77;
}
div.error, tr.error {
    background: #fcc;
    color: #200;
    padding: 2px;
}
.warning {
    color: #e09010;
}
div.warning {
    border: 1px solid #f0c020;
}
div.warning, tr.warning {
    background: #ffd;
    color: #220;
    padding: 2px;
}
.ok {
    color: #008000;
}
div.ok {
    border: 1px solid #00aa00;
}
div.ok, tr.ok {
    background: #dfd;
    color: #020;
    padding: 2px;
}
.item-list .icon {
    color: #555;
    float: right; /* LTR */
    padding-left: 0.25em; /* LTR */
    clear: right; /* LTR */
}
.item-list .title {
    font-weight: bold;
}
.item-list ul {
    margin: 0 0 0.75em 0;
    padding: 0;
}
.item-list ul li {
    margin: 0 0 0.25em 1.5em; /* LTR */
    padding: 0;
    list-style: disc;
}
ol.task-list li.active {
    font-weight: bold;
}
.form-item {
    margin-top: 1em;
    margin-bottom: 1em;
}
tr.odd .form-item, tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}
tr.merge-down, tr.merge-down td, tr.merge-down th {
    border-bottom-width: 0 !important;
}
tr.merge-up, tr.merge-up td, tr.merge-up th {
    border-top-width: 0 !important;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid red;
}
.form-item .description {
    font-size: 0.85em;
}
.form-item label {
    display: block;
    font-weight: bold;
}
.form-item label.option {
    display: inline;
    font-weight: normal;
}
.form-checkboxes, .form-radios {
    margin: 1em 0;
}
.form-checkboxes .form-item, .form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.marker, .form-required {
    color: #f00;
}
.more-link {
    text-align: right; /* LTR */
}
.more-help-link {
    font-size: 0.85em;
    text-align: right; /* LTR */
}
.nowrap {
    white-space: nowrap;
}
.item-list .pager {
    clear: both;
    text-align: center;
}
.item-list .pager li {
    background-image:none;
    display:inline;
    list-style-type:none;
    padding: 0.5em;
}
.pager-current {
    font-weight:bold;
}
.tips {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
}
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
    /*font-family: inherit;*/
    font-size: inherit;
    width: 14em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
    width: 10em;
}
dl.multiselect dt, dl.multiselect dd {
    float: left; /* LTR */
    line-height: 1.75em;
    padding: 0;
    margin: 0 1em 0 0; /* LTR */
}
dl.multiselect .form-item {
    height: 1.75em;
    margin: 0;
}

/*
** Inline items (need to override above)
*/
.container-inline div, .container-inline label {
    display: inline;
}

/*
** Tab navigation
*/
ul.primary {
    border-collapse: collapse;
    padding: 0 0 0 1em; /* LTR */
    white-space: nowrap;
    list-style: none;
    margin: 5px;
    height: auto;
    line-height: normal;
    border-bottom: 1px solid #bbb;
}
ul.primary li {
    display: inline;
}
ul.primary li a {
    background-color: #ddd;
    border-color: #bbb;
    border-width: 1px;
    border-style: solid solid none solid;
    height: auto;
    margin-right: 0.5em; /* LTR */
    padding: 0 1em;
    text-decoration: none;
}
ul.primary li.active a {
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: #fff 1px solid;
}
ul.primary li a:hover {
    background-color: #eee;
    border-color: #ccc;
    border-bottom-color: #eee;
}
ul.secondary {
    border-bottom: 1px solid #bbb;
    padding: 0.5em 1em;
    margin: 5px;
}
ul.secondary li {
    display: inline;
    padding: 0 1em;
    border-right: 1px solid #ccc; /* LTR */
}
ul.secondary a {
    padding: 0;
    text-decoration: none;
}
ul.secondary a.active {
    border-bottom: 4px solid #999;
}

/*
** Autocomplete styles
*/
/* Suggestion list */
#autocomplete {
    position: absolute;
    border: 1px solid;
    overflow: hidden;
    z-index: 100;
}
#autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#autocomplete li {
    background: #fff;
    color: #000;
    white-space: pre;
    cursor: default;
}
#autocomplete li.selected {
    background: #0072b9;
    color: #fff;
}
/* Animated throbber */
html.js input.form-autocomplete {
    background-image: url(../../misc/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 2px; /* LTR */
}
html.js input.throbbing {
    background-position: 100% -18px; /* LTR */
}

/*
** Collapsing fieldsets
*/
html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    height: 1em;
}
html.js fieldset.collapsed * {
    display: none;
}
html.js fieldset.collapsed legend {
    display: block;
}
html.js fieldset.collapsible legend a {
    padding-left: 15px; /* LTR */
    background: url(../../misc/menu-expanded.png) 5px 75% no-repeat; /* LTR */
}
html.js fieldset.collapsed legend a {
    background-image: url(../../misc/menu-collapsed.png); /* LTR */
    background-position: 5px 50%; /* LTR */
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsed legend,
* html.js fieldset.collapsed legend *,
* html.js fieldset.collapsed table * {
    display: inline;
}
/* For Safari 2 to prevent collapsible fieldsets containing tables from dissapearing due to tableheader.js. */
html.js fieldset.collapsible {
    position: relative;
}
html.js fieldset.collapsible legend a {
    display: block;
}
/* Avoid jumping around due to margins collapsing into collapsible fieldset border */
html.js fieldset.collapsible .fieldset-wrapper {
    overflow: auto;
}

/*
** Resizable text areas
*/
.resizable-textarea {
    width: 95%;
}
.resizable-textarea .grippie {
    height: 9px;
    overflow: hidden;
    background: #eee url(../../misc/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
}
html.js .resizable-textarea textarea {
    margin-bottom: 0;
    width: 100%;
    display: block;
}

/*
** Table drag and drop.
*/
.draggable a.tabledrag-handle {
    cursor: move;
    float: left; /* LTR */
    height: 1.7em;
    margin: -0.4em 0 -0.4em -0.5em; /* LTR */
    padding: 0.42em 1.5em 0.42em 0.5em; /* LTR */
    text-decoration: none;
}
a.tabledrag-handle:hover {
    text-decoration: none;
}
a.tabledrag-handle .handle {
    margin-top: 4px;
    height: 13px;
    width: 13px;
    background: url(../../misc/draggable.png) no-repeat 0 0;
}
a.tabledrag-handle-hover .handle {
    background-position: 0 -20px;
}

/*
** Teaser splitter
*/
.joined + .grippie {
    height: 5px;
    background-position: center 1px;
    margin-bottom: -2px;
}
/* Keeps inner content contained in Opera 9. */
.teaser-checkbox {
    padding-top: 1px;
}
div.teaser-button-wrapper {
    float: right; /* LTR */
    padding-right: 5%; /* LTR */
    margin: 0;
}
.teaser-checkbox div.form-item {
    float: right; /* LTR */
    margin: 0 5% 0 0; /* LTR */
    padding: 0;
}
textarea.teaser {
    display: none;
}
html.js .no-js {
    display: none;
}

/*
** Progressbar styles
*/
.progress {
    font-weight: bold;
}
.progress .bar {
    background: #fff url(../../misc/progress.gif);
    border: 1px solid #00375a;
    height: 1.5em;
    margin: 0 0.2em;
}
.progress .filled {
    background: #0072b9;
    height: 1em;
    border-bottom: 0.5em solid #004a73;
    width: 0%;
}
.progress .percentage {
    float: right; /* LTR */
}
.progress-disabled {
    float: left; /* LTR */
}
.ahah-progress {
    float: left; /* LTR */
}
.ahah-progress .throbber {
    width: 15px;
    height: 15px;
    margin: 2px;
    background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
    float: left; /* LTR */
}
tr .ahah-progress .throbber {
    margin: 0 2px;
}
.ahah-progress-bar {
    width: 16em;
}

/*
** Formatting for welcome page
*/
#first-time strong {
    display: block;
    padding: 1.5em 0 .5em;
}

/*
** To be used with tableselect.js
*/
tr.selected td {
    background: #ffc;
}

/*
** Floating header for tableheader.js
*/
table.sticky-header {
    margin-top: 0;
    background: #fff;
}

/*
** Installation clean URLs
*/
#clean-url.install {
    display: none;
}

/*
** For anything you want to hide on page load when JS is enabled, so
** that you can use the JS to control visibility and avoid flicker.
*/
html.js .js-hide {
    display: none;
}

/*
** Styles for the system modules page (admin/build/modules)
*/
#system-modules div.incompatible {
    font-weight: bold;
}

/*
** Styles for the system themes page (admin/build/themes)
*/
#system-themes-form div.incompatible {
    font-weight: bold;
}

/*
** Password strength indicator
*/
span.password-strength {
    visibility: hidden;
}
input.password-field {
    margin-right: 10px; /* LTR */
}
div.password-description {
    padding: 0 2px;
    margin: 4px 0 0 0;
    font-size: 0.85em;
    max-width: 500px;
}
div.password-description ul {
    margin-bottom: 0;
}
.password-parent {
    margin: 0 0 0 0;
}
/*
** Password confirmation checker
*/
input.password-confirm {
    margin-right: 10px; /* LTR */
}
.confirm-parent {
    margin: 5px 0 0 0;
}
span.password-confirm {
    visibility: hidden;
}
span.password-confirm span {
    font-weight: normal;
}

/*
** HTML elements
*/
fieldset {
    margin-bottom: 1em;
    padding: .5em;
}
form {
    margin: 0;
    padding: 0;
}
hr {
    height: 1px;
    border: 1px solid gray;
}
img {
    border: 0;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
}

/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clear-block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear-block {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
    height: 1%;
}
.clear-block {
    display: block;
}
/* End hide from IE-mac */