@CHARSET "UTF-8";

textarea {
    resize: none;
}


#ricerca {
    width:100%; 
}

#datiRicerca {
	display:block;
    border-right:1px solid #666666; 
    margin-top:0px; 
    padding:10px 5px 10px 5px; 
    width:260px;
    float: left;
    background: #f8f8f8;
    height: 100%
    
}

#datiRicerca input[type='text'] {
    width: 72%;
}

#datiRicerca h2 {
    color: #024d7f;
    font-size: 1.1em;
}

#risultoRicerca {
    width:690px;
    float: left; 
    margin-left: 15px;
}

#testoLingua {

    margin:0px; 
    padding:0px; 
    float: left;

}

#descrizioneMultiLingua,
#testoLingua {
    width: 100%;
    margin: 10px 0px;
}


#descrizioneMultiLingua #navigation,
#descrizioneMultiLingua #content,
#testoLingua #navigation,
#testoLingua #content,
#datiRicerca #navigation,
#datiRicerca #content {
    float:left;
    margin:10px;
}

#datiRicerca .collapsible,
#datiRicerca .page_collapsible{
    width: 90%;

}

#descrizioneMultiLingua .collapsible,
#descrizioneMultiLingua .page_collapsible,
#testoLingua .collapsible,
#testoLingua .page_collapsible,
#datiRicerca .collapsible,
#datiRicerca .page_collapsible {
    margin: 0;
    margin-bottom: 4px;
    padding:10px;
    height:auto;
    max-height: 40px;
    min-height: 25px;   
    border-top:#f0f0f0 1px solid;
    text-decoration:none;
    text-transform:uppercase;
    color: #000;
    font-size:0.8em;
    font-weight: bold;
}

#descrizioneMultiLingua .collapse-open,
#testoLingua .collapse-open,
#datiRicerca .collapse-open {
    color: #004680;
}

#descrizioneMultiLingua .collapse-open span, 
#testoLingua .collapse-open span {

    display:block;
    padding:10px;
    width: 13px;
    padding-top: 5px;
}

#descrizioneMultiLingua .collapse-close,
#testoLingua .collapse-close,
#datiRicerca .collapse-close {

    color: #004680;

}

#descrizioneMultiLingua .collapse-close span,
#testoLingua .collapse-close span {
    display:block;
    padding:10px;
    width: 13px;
    padding-top: 5px;
}
#datiRicerca .collapse-open:before {
    content: '-';
    margin-right: 5px;
}

#datiRicerca .collapse-close:before{
    content: '+';
    margin-right: 2px;
}

#datiRicerca .collapse-open:hover, 
#datiRicerca .collapse-close:hover {
    cursor: pointer;
}

#descrizioneMultiLingua div.container,
#testoLingua div.container {
    padding:0;
    margin:0;
}

#datiRicerca div.container {
    padding:0;
    margin:0;
    width: 238px;

}

#descrizioneMultiLingua div.content,
#testoLingua div.content,
#datiRicerca div.content {
    background:#fff;
    margin: 0;
    padding:10px;
    font-size: 1em;
    line-height:1.5em;
    /* font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
}

#testoLingua code,
#datiRicerca code {
    overflow:auto;
}

/*FINE COLLPSE*/
#coprente{
    z-index: 10;
}

#coprente2{
    z-index: 15;
}

#coprente,
#coprente2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background:rgba(0, 0, 0, 0.5);  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; 
    display: none;
}

#coprente2 a,
#coprente a,
#coprente a:hover,
#coprente a:active,
#coprente2 a:hover,
#coprente2 a:active{
    color:#000;
}

#box_popup2 #bottomBox{
    z-index: 16;
}
#box_popup #bottomBox{
    z-index: 11;
}

#box_popup2 #bottomBox,
#box_popup #bottomBox {
    position: absolute;
    top: 0;
    right: 10px;
    float: right;
    width: 1159px;/*900px*/
    height: 60px;
}

#box_popup #bottomBox a.buttonsChiudi,
#box_popup2 #bottomBox a.buttonsChiudi{
    color: #666;
    background: none;
    text-decoration: none;
    font-size: 1.2em;
    text-align: right;
    margin: 5px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 2px;
}

#box_popup #bottomBox a.buttonsLista,
#box_popup2 #bottomBox a.buttonsLista {
    position: absolute;
    top: 25px;
    right: 2px;
}
#box_popup2 #bottomBox a,
#box_popup #bottomBox a{
    color: #FFF;
    margin: 5px;
}
#box_popup .listaParametri,
#box_popup2 .listaParametri {
    width: 99%;
    position: absolute;
    top: 53px;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90%;
    margin-left: 1%;
}
#box_popup{
    z-index: 11;
}
#box_popup2{
    z-index: 16;
}

#box_popup,
#box_popup2 {
    position: relative;
    top: 10%;
    left: 3%;
    width: 90%;
    height: 75%;
    background: #FFF;
    padding: 20px;
    padding-top: 30px;
    border: 2px solid #014d7f;
}

#box_popup h4,
#box_popup h2,
#box_popup h3,
#box_popup2 h2,
#box_popup2 h3{
    color: #1e4b6c;
}
#box_popup2 h2,
#box_popup h2 {
    font-size: 2.1em;
}
#box_popup2 h3,
#box_popup h3{
    font-size: 1.2em;
}
#box_popup td {
    height: 10px;
}
#box_popup2 b{
    color: #000;
}
#box_popup strong{
    font-weight: bold;
}
#datiRicerca a.tooltip,
a.tooltip {
    outline: none;
    text-decoration: none;
    display: inline;
    position: relative;
    padding: 0;
    //background: none repeat scroll 0 0 #bcd9db;
}

a.tooltip img {
    vertical-align: middle; 
    margin-top:-6px;
    padding: 0px;
}

a.tooltip > span {
    
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: -85px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    font-family: Arial;
    font-size: 0.8em;
    font-style: normal;
    color: #000000;
    background: #FBF5E6;
    border: 1px solid #DCA;
}

a.tooltip:hover > span {
    opacity: 1;
    font-size: 0.8em;
    text-decoration: none;
    visibility: visible;
    overflow: visible;
    margin-top: 25px;
    display: inline;
    margin-left: -100px;
    background: #fbf5e6;
    position: absolute;
    z-index: 100000;
}

#datiRicerca a.tooltip > span{
    width: 350px;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: -85px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    font-family: Arial;
    font-size: 0.8em;
    font-style: normal;
    color: #000000;
    background: #FBF5E6;
    border: 1px solid #DCA;
}

#datiRicerca a.tooltip:hover > span{
    opacity: 1;
    font-size: 0.9em;
    text-decoration: none;
    visibility: visible;
    overflow: visible;
    margin-top: 25px;
    display: inline;
    margin-left: -110px;
    background: #fbf5e6;
    position: absolute;
    z-index: 100000;
    text-transform: none;
    text-align: justify;
}

#datiRicerca a.tooltip:hover > span strong{
    font-weight: bold;
}

#close {

    width: 70px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
    z-index: 12;
    cursor: pointer;
}

.lineTable{
    background: #f8f8f8;
}

.lineTable1 {
    background: #EBEBEB;
}

.navPage div,
.navPage div input {
    background:  #014d7f;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 5px;
    font-size: 1em;
    color: #FFF;
}

.navPage div a {
    color: #FFF;

}
.navPage div img {
    vertical-align: middle;
}

#contenetPages {
    float:none;
    height : auto;
    width: 100%;
}

#tabella_elenchi {
    width:100%;
    font-size: 14px;

}

#tabella_elenchi td {
	padding:5px 0;
}

#tabella_elenchi tr th {
    color: #FFF;
}
#tabella_elenchi tr td{
    border-bottom: 1px solid #999999;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
#tabella_elenchi tr td img{
    margin: 0px;
    vertical-align: middle;
}
#tabella_elenchi tr td span {
   margin-left: 0px;
   padding-left: 0px;

}
.tdHeaderAll  {
    text-align: left;
    padding-left: 5px;
    border: none;
}
#tabella_elenchi tr th.tdHeaderRic,
#tabella_elenchi tr th.tdHeaderRicLeft,
#tabella_elenchi tr th.tdHeaderRicRight {
    font-weight: normal;
    border: none;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px; 
    color: #014d7f;
}
#tabella_elenchi tr th.tdHeaderRic {
        text-align: center;
}
#tabella_elenchi tr th.tdHeaderRicLeft {
        padding-left: 5px;
        text-align: left;
}
#tabella_elenchi tr th.tdHeaderRicRight {
        text-align: right;
}
.tdBorderLeft {
     border-left: 1px solid  #999999;
     height: 15px;
}
#tabella_elenchi .trNoBorder td{
    border-bottom: 0px;
    height: 15px;
}
#tabella_elenchi .trBorder td{
    /*border-bottom: 1px solid  #999999;*/
    height: 5px;
}
#tabella_elenchi .trBorderBottomNo td {
    border : 0px;
    height: 5px;
}
.tdHeader {
	height: 30px;
    border-bottom: 0px;
    background: #014d7f;
    border-right: 5px solid #FFF;
    padding-left: 5px;
}
.tdHeaderSecLas {
    height: 30px;
    border-bottom: 0px;
    background: #014d7f;
    padding-left: 5px;
    border-right: 5px solid #FFF;
    text-align: center;
}

.tdHeaderEnd {
    height: 30px;
    border-bottom: 0px;
    background: #014d7f;
    padding-left: 5px;
    text-align: center;
}

.tdHeader a{
    color: #FFF;
}
.subElencoHidden {
    display: none;
    visibility: hidden;
    margin: 0px;

}
.subElencoView {
    visibility: visible;
}
#tabella_elenchi .subElencoView td{
    border: 0px;
    height: 20px;
}
#tabella_elenchi .subElencoView td table{
    width: 95%;
    margin-left: 5%;
    /*border-bottom: 1px solid #999999;*/
}

#tabella_elenchi .subElencoView td table td{
    border-bottom: 1px solid #999999;
}

#pagina_interna_content{
    font-size: 1.2em;
}

#pagina_interna_content .buttonCerca {
    background: #014d7f;
    color: #FFF;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    margin: 0 auto;
    width: 245px;

}
#bottoneCercaClass {
    text-align: center;
    width: 95%;
}
#pagina_interna_content .buttonsLista {
    float: right;
    background: #014d7f;
    color: #FFF;
    padding: 2px 10px 2px 10px;
    /*font-size: 1.1em;*/
    text-decoration: none;
    margin: 10px;
}
#pagina_interna_content td a.buttonsLista {
    float: none;
    text-align: center;
}



#pagina_interna_content .ui-widget-content{
    border: 0px;
    background: none;

}

#pagina_interna_content .ui-widget-header {
    border: 0px;
    background-image : none;
    background: #CDCDCD;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; 
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


#pagina_interna_content .ui-state-active,
#pagina_interna_content .ui-widget-content .ui-state-active,
#pagina_interna_content .ui-widget-header .ui-state-active{
    border: 0px;
    background: none;
    font-weight: bold;
}
#pagina_interna_content widget-content .ui-state-default,
#pagina_interna_content .ui-widget-header .ui-state-default {
    border: 0px;
    background: none;

    font-weight: bold;

}


#pagina_interna_content .ui-tabs .ui-tabs-nav li.ui-state-active a {
    color: #024e80;
    /* font-size: 0.9em;*/
    text-transform: uppercase;
}

#pagina_interna_content .ui-tabs .ui-tabs-nav a {
    color: #333333;
    /*font-size: 0.9em;*/
    text-transform: uppercase;
}

#logoImg{
    float: right;
    margin: 10px
}

#login , #login a{
    font:  helvetica;
    font-size: 1em;
    color: #666;
}
#login strong{
    font-size: 1.2em;
}

.pSfondo {
    background: #EBEBEB;
}

h4 {
    color: #014d7f;
    border-bottom: 1px solid #014d7f;
    width: 98%;
}

.divLingue {
    background: #676862;
    padding: 5px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    color: #FFF;
}
.divCertificazioni {
    padding: 5px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    float:none;
}
.divCategoie {
    background: #676862;
    padding: 5px;
    width: 95%;
    margin-right: 5px;
    margin-top: 5px;
    color: #FFF;
}

.divAssociazioni {
    background: #676862;
    padding: 5px;
    margin-top: 5px;
    width: 200px;
    color: #FFF;
}

.divAssociazioni a{
    float: right;
}
.imgInfo {
    width: 16px;
}

.textLineBlu {
    font-weight: bold;
    color: #014d7f;
    line-height: 30px;
}

.textAdd {
    font-weight: bold;
    color: #024d7f;
    font-size: 1em;
}

.buttonAdd{
    background: #696a65;
    padding: 2px 5px 2px 5px;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
}
.containerData {
    width: 100%;
}

.containerData table tr td span{

    color:  #666;
}

.checkImg {
    width: 10px;
}
.boxBachecaMessaggi strong{
    color: #014d7f;
    font-weight: bold;
    text-transform: uppercase;
}
.boxMessaggi {
    width: 100%;
    font-size: 1.1em;
    line-height: 30px;
}

.boxMessaggi ul {
    line-height: 20px;
    margin-left: 20px;
}

.boxMessaggi .buttonsLista{
    line-height: 20px;
}
table #tdButton,
.boxMessaggi #tdButton{
    border-top: 1px solid #CDCDCD;
    font-weight: normal;
    text-transform: none;
    text-align: right;
    margin: 0px;
    padding: 10px 0px; 
}
table .tdText,
.boxMessaggi td{
    color: #014d7f;
    font-weight: bold;
    text-transform: uppercase;
}
table .tdText,
.boxMessaggi .tdText{
    width: 15%;
}
table .tdText2{
    color: #014d7f; 
    font-weight: bold;
    width: 40%;
}
table .tdTextLine2T{
    color: #666666;
    font-weight: bold;
    padding-top: 5px;
}
table .tdTextLine2T ul{
    padding-left: 100px;
    margin: -15px auto;
}
.boxMessaggi .tdField{
    width: 40%;
}
.boxMessaggi #prodottiTd{
    text-transform:none;
    text-align: left; 
    color: #666666;
}
.boxMessaggi #prodottiTd input{
    width:auto;
}
.boxMessaggi select,
.boxMessaggi input{
    width: 280px;
}
#tdTexArea textArea,
.boxMessaggi textArea{
    border: 1px solid #014d7f;
    width: 100%;
}
#contenitoreTesta {
    width: 100%;
    display: block;
    height: 50px;

}
#pCercaGenerale{
    float : left;
    vertical-align: middle
}
#botSvuta{
    float : right;
    text-align: right;
    vertical-align: middle;

    text-decoration: underline;
}
#botSvuta a {
    color: #a1a19f;
}
#cercaGenerale {
    font-size: 1.7em;
    color: #a1a19f;
}

#boxTimeOut{
    border: 1px solid #014d7f;
    color: #014d7f;
    height: 180px;
    width: 94%;
    margin-left: 3%; 
    -moz-box-shadow:  10px  10px 5px #dedede;
    -webkit-box-shadow:  10px  10px 5px #dedede;
}
#titoloTimeOut{
    font-size: 2.3em;
    float: none;
    margin: 10px;
}
#testoTimeOut{
    padding-bottom: 20px;
    font-size: 1.3em;
    float: none;
    border-bottom: 1px solid #000;
    margin: 10px;
}

.item {
    width:960px;
    height:626px;
    margin:30px 12px 10px 5px;
    overflow:hidden;
    position:relative;
    float:left;
}
.item img {
    border:0;
    position:absolute;
}

.item .box1 {
    padding:5px;
    width:500px;
    height:160px;
    position:absolute;
    left:400px;
    top:10px;
    color:#fff;
    background:#014d7f;
    font-size: 0.95em;
    line-height: 25px;
}

.item .box4,
.item .box5,
.item .box6,
.item .box7,
.item .box8,
.item .box9{
    color:#014d7f;
    font-size: 1em;
    font-weight: bold;
    line-height: 17px;
    position:absolute;
    left:430px;
    vertical-align: middle;
}
.item .box4 div,
.item .box5 div,
.item .box6 div,
.item .box7 div,
.item .box8 div,
.item .box9 div{
    padding:5px 5px 5px 35px;
    width:440px;
    filter:alpha(opacity=92); 
    -moz-opacity:0.9;
    opacity: 0.9; 
    background: #FFF;
}
.item .imgNum {
    position:absolute;
    left:-25px;
    top:-6px;
    width: 45px;
    z-index: 2;
}

.item .imgNumHeight {
    position:absolute;
    left:-25px;
    top:3px;
    width: 45px;
    z-index: 2;
}

.item .box4 div,
.item .box6 div,
.item .box8 div,
.item .box9 div{
    height:30px;
}

.item .box5 div,
.item .box7 div{
    height:50px;
}

.item .box4 {
    top:190px;
}
.item .box5 {

    top:245px;

}

.item .box6 {

    top:320px;

}

.item .box7 {

    top:375px;

}

.item .box8 {

    top:450px;
}

.item .box9 {

    top:505px;
}

.item .box2 {
    padding:5px;
    width:380px;
    height:60px;
    position:absolute;
    left:1px;
    top:250px;
    color:#fff;
    background:#014d7f;
    font-size: 0.9em;
    line-height: 25px;
}

.item .box3 {
    padding:5px;
    width:560px;
    height:55px;
    position:absolute;
    left:200px;
    bottom:0;
    color:#fff;
    background:#014d7f;
    font-size: 1.5em;
    line-height: 25px;
    text-align: center;
}

.item .box1 span {

    font-size: 1.2em;
    font-weight:700;
    margin-bottom: 5px;

}

.item .box2 span{
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 5px;
    float: right;
}

h1 {
    font-size: 1.5em;
}
#parametriRicerca{
    margin: 5px 0px 10px 0px;
}
#parametriRicerca span{
    padding: 2px 7px 2px 7px;
    margin-right: 3px;
    background: #CDCDCD;
    color: #666666;
    font-size: 0.8em;
}

.boxParametro {
    margin-top: 10px;
    color: #004680;
    font-size: 0.8em;
}
.boxParametro label{
    font-weight: normal;
    font-size: 1.1em;
}
.boxParametro label,
.boxParametro input{
    margin-left: 5px;
}

.boxParametro .titoloParametro,
.boxParametro a{
    color: #004680;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.contentmenu{
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

.linkRicerca{
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    font-weight: bold;
}
.linkRicerca:hover{
    color: #747679;
}

#boxfaq textarea {
    width: 95%;
    border: none;
    color: #747679;
    font-family: "MuseoSans500Regular", sans-serif;	
}

#tooltipSelect {
	width: 40px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	
	border: 1px solid grey;
	background:#EBEBEB;
	vertical-align: middle;
}


#tooltipSelect ul {
    display:none;
    margin:1 0 0 0px;
    padding:0;
    list-style:none;
}
a.tooltipSelect img {
	vertical-align: middle;
	margin-top: -6px;
	padding: 0px;
}

ul.selectBox {
	padding: 0;
	margin: 0;
	margin-top: 5px;
	opacity: 1;
	visibility: visible;
	position: absolute;
	background: white;
	border: 1px solid grey;
	overflow: visible;
	display: block;
	background: white;
	position: absolute;
	list-style-type: none;
}

ul.selectBox>li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

input.selectBox {
	text-align: left;
	width: 100%;
	background-color: white;
	border: 0;
	padding: 8px 20px 8px 8px;
}

input.selectBox:HOVER {
	width: 100%;
	background-color: #f8f8f8;
	border: 0;
	padding: 8px 20px 8px 8px;
}

/*Form ricerca*/
#form-ricerca{ float:right; padding:3px; vertical-align: middle;  background-color:#EBEBEB;  border:1px solid #004680;}
#form-ricerca #cercaHtdig{ padding:0px;background-color:#eeeeef; font-size:13px; margin-right:10px; float:left; width:300px;border:0px;}


#risultatiTrovati {
	padding:0px 5px 10px 00px;
	text-align: right;
	font-style:italic;
}

.contentHeader{
    float: none;
    width: 100%;
    height: 60px;
    text-align: right;
    margin-top: -10px;
    padding: 0px;
}

.divClose {
    float: right;
    width: 100%;
    font-size: 0.83em;
    font-weight: bold;
    z-index: 12;
    text-decoration: none;
    color: #c10a1e;
}

.pageSelect{
	text-decoration: none;
}
