<?
include "progetto.inc";

if(empty($tmpl))
	$tmpl="1";
include $PROGETTO."/prepend.php3";
if (strpos($_SERVER["QUERY_STRING"],"matchesperpage"))
	$pagina="search";

$ourFileName = "htdig/intra";
$ourFileHandle = fopen($ourFileName, 'w') or die("can't open file");
fclose($ourFileHandle);

include "authpath.inc";
include $PROGETTO."/globals_tmpl.inc";
$tabsvil="";
if(is_object($auth))
{
	$utype=$auth->auth["utype"];
	$uname=$auth->auth["uname"];
	$uid=$auth->auth["uid"];
	$prov=$auth->auth["prov"];
	if ($utype<4 and $GESTIONE_SITO=="avanzata")
		$tabsvil="SVIL_";
	if($utype<=20) $intra="intra";
}
if(!empty($reg_mex))
{
	$messaggio=$reg_mex;
	unset($reg_mex);
	if(!is_object($sess))
	{
		setcookie("reg_mex","",0,"/");
	}
	else
	{
		$sess->unregister("reg_mex");
		page_close();
	}
}
if ($pagina=="form")
	include $PROGETTO."/moduli.inc";
include $PROGETTO."/header.inc";

if(file_exists("/var/www/vhosts/pv.camcom.it/httpdocs/htdig/intra"))
	echo "OK";
else
	echo "KO";
	
?>
<a href="/index.phtml">index.phtml</a>
</body>
</html>
